	body {

    background-color: #DEE2E7;
    color: #084FAD;
    font: 80% "Trebuchet MS", "Lucida Sans Unicode", Tahoma, sans-serif;
    font:68%/1.5 arial,tahoma,verdana,sans-serif;
    line-height: 200%;
    /*background-image: url('images/site_bkg.jpg');*/
}

#container {
    background-color: #fff;
    filter:alpha(opacity=90);-moz-opacity:.90;opacity:.90;
	-moz-border-radius: 30px;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
 	margin: 10px;
    padding: 10px;
	border: 2px solid #599DF6;
}

#header {
    background-color: #fff;
    /*border: 1px solid #599DF6;
	-moz-border-radius: 18px;
    border-radius: 18px;*/
}


#search {
    margin: 0;
	margin: 10px;
    padding: 10px;
}

#left, #right {
    background-color: #fff;
}

#leftcontent, #contentcontent, #rightcontent {
    /*margin: 10px;*/

    padding: 10px;
	-moz-border-radius: 8px;
    border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	/*border: 1px solid  #93B3F9;;*/
}
#contentcontent{
 	background-color: #E7EAEF; /*#DEE2E7;*/
	border:1px solid #93B3F9;
	/*margin:10px;*/
	margin-bottom:10px;
}

.featurebox,  body.help-popup {
	margin: 5px;
    background-color: #FFF;
    border: 1px solid  #93B3F9;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
}
#nav-secondary{
 	background-color: #FFF;
    border: 2px solid #599DF6;
    padding: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}
#nav-secondary>li{
	padding-left: 5px;
	/*background-color: #599DF6;*/
	border: 1px solid transparent;
	/*-moz-border-radius: 8px;
    border-radius: 8px;*/
}
.featureboxheader
{
 	background-color: #93B3F9;
    border: 1px solid  #93B3F9 transparent;
    color: #FFF;
	padding: 5px;
	-moz-border-radius-topleft: 8px;
    border-radius-topleft: 8px;
}

.featureboxcontent
{
	padding: 5px;

}

fieldset {
    background-color: #FFF;
    /*border: 1px solid #D8E9F6;*/
   border:0.5px solid #93B3F9;
    padding: 5px;
	-moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;

}


hr { border: none; margin: 10px; }



/* LINKS */
a {
    color: #0C386E;
    text-decoration: none;
}
a:hover, #footer a:hover {
    color: #C00;
}


form {margin-bottom: 10px;}

th {
    /*background-color:#CACDD2;*/
	background-color: #93B3F9;
    border: 1px solid  #93B3F9 transparent;
    color: #FFF;
	-moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
	margin:10px;

}

td {
    margin-left: 10px;
	/*color: #FFF;*/
}

th a {
    /*color: #c4ebe3;*/
	 color: #FFF;
}

#footer {
    background-color:#599DF6;
    color: #FFF;
    padding: 5px;
	-moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}

#footer a {
    color: #c4ebe3;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
	
}

#breadcrumbs {
    border-top: 1px solid #93B3F9;
    margin: 0;
    padding-left: 10px;
}


/* */

#menu {
    margin-left: 0;

}

#menu>ul>li {
    padding-left: 5px;
    padding-right: 5px;
    width: 90px;
    margin-right: 30px;
	-moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;

}

#menu>ul>li a:hover{
    background-color: #599DF6;
    border: 1px solid #599DF6;
    color: #FFF;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;

}
/*
#menu>ul>li:hover>a, #menu>ul>li:hover>a:hover, #menu {
    color: #FFF;
	-moz-border-radius: 8px;
    border-radius: 8px;
}
*/
#menu img {
    padding-top: 5px;
}

#menu li ul {
    border: 1px solid #599DF6;
    padding: 3px;
	color: #FFF;
	padding-right: 5px;
    margin-left: -6px;
	-moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;


}

#menu li {
    border: 1px solid transparent;
}


#menu li ul li:hover a:hover{
    background-color: #599DF6;
    border: 1px solid #599DF6;
	-moz-border-radius: 8px;
    border-radius: 8px;
	color: #FFF;
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;

}



h1#sitename {
    padding: 20px;
}

/* ------- For the jabber IM output ----------*/
.im_default {
    background-color: #599DF6;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;

}

p.im_message {
   margin-left: 20px;
   margin-right: 25px;
   background-color: white/*#efefef*/;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   margin-bottom: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

p.im_source {
   margin-left: 10px;
   margin-right: 10px;
   padding-left: 20px;
-moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
   background-color: white;
}

p.im_reassign {
   margin-left: 10px;
   margin-right: 10px;
   padding-left: 20px;
-moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
   background-color: #E5E5E5;
}

form.inplaceeditor-form { /* The form */
 margin-left: 10px;
   margin-right: 10px;
   padding-left: 20px;
	-moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
   background-color: white;
}

form.inplaceeditor-form input[type="text"] { /* Input box */
}

form.inplaceeditor-form textarea { /* Textarea, if multiple columns */
}

form.inplaceeditor-form input[type="submit"] { /* The submit button */
  margin-left:1em;
}

form.inplaceeditor-form a { /* The cancel link */
  margin-left:1em;
}

form.inplaceeditor-saving {
	background: url(../_common/icons/loading.gif) bottom right no-repeat;
}

input{
 	background-color: #E0E1E1;
 	border: 1px solid #599DF6;
	-moz-border-radius: 5px;
   	border-radius: 5px;
   	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}


/************ news stories tabs *************/

/*

Styles for the Modern Brick Menu
Credits: Dynamic Drive CSS Library
http://www.dynamicdrive.com/style/csslibrary/item/modern-bricks-menu/
*/

#modernbricksmenu{
    padding: 0;
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
}

#modernbricksmenu ul{
    /*font: bold 11px Arial;*/
    margin:0;
    margin-left: 40px; /*margin between first menu item and left browser edge*/
    padding: 0;
    list-style: none;
}

#modernbricksmenu li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    text-transform:uppercase;
}

#modernbricksmenu a{
    float: left;
    display: block;
    color: #084FAD;
    margin: 0 1px 0 0; /*Margin between each menu item*/
    padding: 5px 10px;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: white; /*Default menu color*/
    border-bottom: 1px solid white;
}

#modernbricksmenu a:hover{
    background-color: #084FAD; /*Red color theme*/
    border-color: #084FAD; /*Red color theme*/
	color: white;
}

#modernbricksmenu #current a{ /*currently selected tab*/
	color: white;
    background-color: #084FAD; /*Red color theme*/
    border-color: #084FAD; /*Red color theme*/
	border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;

	
}

#modernbricksmenuline{
    clear: both;
    padding: 0;
    width: 100%;
    height: 5px;
    line-height: 5px;
    background: #084FAD; /*Red color theme*/
}

/*
    END - Styles for the Modern Brick Menu
*/