/* 
    Document   : stylesheet.css
    Created on : 30 May 2010, 1:11:21 PM
    Author     : dkeats
    Description:
        The red canvas for demonstrating canvases
*/


html, body {
    background: url('images/bg.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

#container {
    background: url("images/overlay.png") top left repeat;
}

#threecolumn div#left {
	float:left;
}
#threecolumn div#right {
	float:left;
}
#twocolumn div#left {
	float:left;
}
