/*

	Zen Photo Default 1.0
	
*/

/* Basics
------------------------------ */
/*html {
	/* IE */
	/*overflow-y: scroll; 
	/* Moz */
	/*height: 100%;
	margin-bottom: ;
}

/* Main Layout
------------------------------ */
/*body {
	background: #F5F5F3;
	margin: 0px;
	padding: 0px 0px 50px;
	text-align: center;
}*/
#main {padding: 5px;}

	
	


#main2 {
	text-align: left;
	margin: 20px ;
	width: 650px;	
	padding: 20px 30px 70px;
	border-top: 1px solid #E6E6DF;
	border-right: 1px solid #E6E6DF;
	border-bottom: 5px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;*/
	
}
/*
#credit, #sort {
	margin: 0 auto;
	width: 640px;
	font-size: 85%;
	color: #96967E;
	text-align: right;
	clear: both;
}
#credit a, #sort a {
	text-decoration: none;
	color: #96967E;
	border-bottom: 1px dotted #96967E;
}
#credit a:hover, #sort a:hover {
	color: #BDBDAE;
	border-bottom: 1px solid #BDBDAE;
	text-decoration: none;
}
#gallerytitle {
	border-bottom: 1px solid #E6E6DF;
	padding-bottom: 14px;
	margin-bottom: 12px;
	_margin-top: 40px; /* IE Only */
}


/* Text Styles
------------------------------ */
/*body {
	font: normal 82%/200% "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5A5A4B;
}
h2 {
	font: 120% "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #002E5B;
	margin-top: 25px;
}
h2 a:link, h2 a:visited, h2 span {
	color: #8DB8CF;
}
h3 {
	font: 120% "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #002E5B;
	margin-top: 30px;
}


/* Link Styles
------------------------------ */
a:link, a:active { text-decoration: underline; color: #17A; }
a:visited { text-decoration: underline; color: #035; }
a:hover, a:focus { text-decoration: underline; color: #6BD; }


/* Miscellaneous
------------------------------ */
hr {
	clear: both;
	height: 0;
	border: 0;
	border-top: 1px solid #E6E6DF;
	margin: 0 0 12px 0;
	padding: 0;
}
img {
	border: 0;
}
blockquote {
	border-left: 1px dotted #96967E;
	margin-left: 20px;
	padding-left: 20px;
	color: #363630;
}


/* Page Navigation
------------------------------ */
ul.pagelist {
	clear: both;
	padding: 0;
	margin: 20px 0 0 0;
	list-style-type: none;
}
ul.pagelist li {
	display: inline;
}
ul.pagelist li a, ul.pagelist span.disabledlink {
	padding: 4px;
}
ul.pagelist li.current a {
	font-weight: bold;
	text-decoration: none;
	cursor: default;
	color: #5A5A4B;
}
ul.pagelist li.prev {
	margin-right: 10px;
}
ul.pagelist li.next {
	margin-left: 10px;
}
.disabledlink {
	color: #ddd;
	cursor: default;
}
.pagenav {
	clear: both;
}


/* AJAX
------------------------------ */
#albumDescEditable {
	margin-bottom: 12px;
}
#imageDescEditable {
	margin-top: 24px;
}

/* Image Thumbnails
------------------------------ */
.imagethumb a {
	display: block;
	padding: 10px;
	margin: 6px;
	
	border: 1px solid #92BED3;
	background: #DDEAF0;
	line-height: 0px;
}
.imagethumb a:visited {
	border: 1px solid #D3E4ED;
	background: #F2F7F9;
}
.imagethumb a:hover {
	border: 1px solid #62A0BF;
	background: #F4F9FB;
}
.imagethumb {
	float: left;
}


/* Album Thumbnails
------------------------------ */
.album {
	padding: 10px;
	margin-bottom: 12px;
	clear: both;
	border: 1px solid #E7F0F5;
	background: #FBFCFD;
}
.album img {
	float: left;
}
.album h3 {
	padding: 0;
	margin: 0;
}
.album h3 a {
	display: block;
	width: 340px;
	padding: 3px 0 6px 0;
}
.album p {
	margin: 0 0 4px 0;
}
.albumdesc {
	float: right;
	width: 480px;
}
.albumdesc small {
	margin-top: 8px;
	line-height: 130%;
	width: 120px;
	float: right;
	color: #8DB8CF;
}


/* Individual Image
------------------------------ */
.image { 
	margin: 0;
	padding: 0;
	border: 0;
}

#image {
	text-align: center;
	line-height: 0;
}
.imgnav {
	float: right;
	width: 140px;
	text-align: center;
	border: 1px solid #D5E6EE;
	background: #EEF5F9;
	margin-top: 13px;
	_margin-top: 8px; /* IE Only */
}
.imgnav .imgprevious a, .imgnav .imgnext a {
	display: block;
	width: 50%;
	height: 100%;
	float: left;
	padding: 4px 0;
	font-size: 120%;
	text-decoration: none;
	line-height: 200%;
	color: #237898;
}
.imgnav .imgprevious a:hover, .imgnav .imgnext a:hover {
	background-color: #fff;
	text-decoration: none;
	color: #002E5B;
}
.imgnav .imgprevious a {
	float: left;
}
.imgnav .imgnext a {
	float: right;
}
#narrow {
	margin: 0 auto;
	width: 440px;
}


/* Comments
------------------------------ */
#comments {
	clear: both;
}

img 
{
	border:none;
}
	
.error { 
  color: #C33; 
  font-weight: bold; 
}
.comment {
	padding: 10px;
	border: 1px solid #E7F0F5;
	background: #FBFCFD;
	margin-bottom: 12px;
}
.commentmeta {
	margin-bottom: 12px;
}
.commentauthor {
	font-weight: bold;
}
.commentdate {
	margin-top: 12px;
	color: #8DB8CF;
	font-size: 85%;
}


/* Forms
------------------------------ */
.inputbox {
	width: 250px;
	padding: 2px;
}
textarea {
	padding: 4px;
	width: 100%;
	color: #5A5A4B;
	font: 100%/200% "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.checkbox {
	cursor: pointer;
}
.pushbutton {
	cursor: pointer;
	padding: 5px 10px;
}
label {
	cursor: pointer;
}
label:hover {
	color: #000;
}
