/* 
    Document   : stylesheet.css
    Created on : 30 May 2010, 1:11:21 PM
    Author     : dkeats
    Description:
        The red canvas for demonstrating canvases
*/


html, body {
    background:  #000 url('images/bg.png') repeat-y top center ;
    background-attachment: fixed;
    color: white;
}

/*
    The canvas elements
*/

.Canvas {
    background: url('images/canvas-top.png');
    background-repeat: no-repeat;
    width: 960px;
    padding: 0;
    border-radius-topleft: 30px;
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    -khtml-border-radius-topleft: 30px;
    border-radius-topright: 30px;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    -khtml-border-radius-topright: 30px;
}

#Canvas_BeforeContainer {
    width: 960px;
    height: 10px;
}

#Canvas_AfterContainer {
    width: 960px;
    height: 50px;
    background:transparent;
}

#container {
    background: url('images/container-bg.png');
    margin:0;
    border: 0 transparent;
}


div#header div#search {
    margin: 0;
    margin: 10px;
    padding: 10px;
    color: gray;
    width: 360px;
    position: relative;
    margin-top: -40px;
    margin-left: 540px;
}

div#header {
    background: url('images/before-container-top.png') repeat-y;
    width: 960px;
    margin-left: -10px;
    margin-top: -15px;
}

h1#sitename {
    padding: 0px;
    position: absolute;
    top: 16px;
}

#header a, a.visited {
    color: white;
}

#header a:hover, a.visited:hover {
    color:yellow;
}

#footer {
    background: url("images/footer-bg.png") top left no-repeat;
    height: 76px;
    width: 960px;
    margin-bottom: -15px;
    margin-left: -10px;
}