html, body {
	background-color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
    line-height: 150%;
}
body.splashscreen {
    background-color: #0A6F2D;
}
h1 {
    line-height: 120%;
    margin-bottom: 5px;
}
#container {
    background-color: #fff;
    width: 740px;
    min-height: 100%;
    text-align: left;
    margin-left: auto; margin-right: auto;
    
}
#introflash {
    margin-left: auto; margin-right: auto;
    text-align: center;
    background-color: #0A6F2D;
}
#headertable {
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#homeimage {
	background-image: url(images/top/home.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#homeimage:hover {
	background-image: url(images/tophover/home.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#flashhomeimage {
	background-image: url(images/top/flashhome.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#flashhomeimage:hover {
	background-image: url(images/tophover/flashhome.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#aboutimage {
	background-image: url(images/top/about.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#aboutimage:hover {
	background-image: url(images/tophover/about.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#servicesimage {
	background-image: url(images/top/services.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#servicesimage:hover {
	background-image: url(images/tophover/services.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#contactimage {
	background-image: url(images/top/contact.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#contactimage:hover {
	background-image: url(images/tophover/contact.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#adminimage {
	background-image: url(images/top/admin.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#adminimage:hover {
	background-image: url(images/tophover/admin.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#logoutimage {
	background-image: url(images/top/logout.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#logoutimage:hover {
	background-image: url(images/tophover/logout.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

/* End top bar image*/
#consultationarea {
	background-image: url(images/active/consultation.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#consultationarea:hover {
	background-image: url(images/hover/consultation.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#trainingarea {
	background-image: url(images/active/trainingarea.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#trainingarea:hover {
	background-image: url(images/hover/trainingarea.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#socialspace {
	background-image: url(images/active/socialspace.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#socialspace:hover {
	background-image: url(images/hover/socialspace.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#cafearea {
	background-image: url(images/active/cafearea.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#cafearea:hover {
	background-image: url(images/hover/cafearea.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
/* Three Column Layout */
#threecolumn div#wrapper div#content{margin: 0 150px 0 150px}
#threecolumn div#left{float:left;width:140px;margin-left:-100%}
#threecolumn div#right{float:left;width:140px;margin-left:-140px}

/* Two Column Layout */
#twocolumn div#wrapper div#content{margin: 0 0 0 150px}
#twocolumn div#left{float:left;width:140px;margin-left:-100%}
#twocolumn div#right{display:none}

#content {
background-color:#FFF;
}


ul.shadetabs li a{
background: white url(images/shade.gif) top left repeat-x;
}
ul.shadetabs li.selected a{ /*selected main tab style */
background-image: url(images/shadeactive.gif);
}

.featurebox { background: #fff url("images/featureboxbottom.gif") bottom right no-repeat; }

.featurebox  h3, .featurebox  h5{ background: #FFCC00 url("images/featureboxtop.gif") top left no-repeat; padding-left: 15px; margin-bottom: 10px;}

.featurebox  small {
    margin-bottom: 10px;
}