/** BEGIN: Rules related to formatting the page body **/
body {
    margin: 0;
    margin-top: 1px;
    padding: 0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 76%;
    background-color: #e8daae;
    background-image: url(images/background_tile.gif);
    background-repeat: repeat;
    color : #000000;
    line-height: 1.8em;
	text-align: center; /**to centre the container*/
}
html {
    background-color: #e8daae;
    background-image: url(images/background_tile.gif);
    background-repeat: repeat;
}
/** END: Rules related to formatting the page body **/


/*???????*/
li {line-height: 1.4em;padding-left: 25px;background: transparent url("images/sprites.gif") no-repeat 0 0}


/** BEGIN: Rules related to formatting the banner and its text */
div#header {
    height: 140px;
	padding: 0;
	margin: 0 0 0 0;
}
#sitename {
	position: absolute;
	width: 100%;
    height: 140px;
	border-top: 0;
	margin-top: 0;
	margin-bottom: -55;
	float: left;
	background-color: #252116;
    background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
}
/*Make it invisible because we use image */
#sitename span {
        display: none;
}
div#header div#search {
	position: absolute;
	float: right;
	 top: 5px;
	 right: 0;
	 width: 300px;
}
/* Set the width of input box */
#searchsite {
	width: 120px;
	height: 17px;
}
#breadcrumbs {
    font-size: 80%;
    margin-left: 10px;
	position: absolute;
	float: left;
}
#breadcrumbs a:link, #breadcrumbs a:visited {
    color: #990000;
    text-decoration: none;
}
#breadcrumbs a:hover {
    color: #3300FF;
    text-decoration: none;
}
#search {
    color: #333333;
}
/** BEGIN: Rules related to formatting the banner and its text */


/** BEGIN: Rules related to formatting links */
a,a:link,a:link,a:link,a:hover {
    background:transparent;
    text-decoration:underline;
    cursor:pointer
} 
a:link {
    color:#069;
} 
a:visited {
    color:#069;
} 
a:hover,a:active {
    color:#FF6600;
}  
/** END: Rules related to formatting links */



/** BEGIN: Settings for footer **/
#footer {
    font-size:86%;
    background-color: #d7bc6e;
    background-image: url(images/footer_bg.gif);
    background-repeat: repeat-x;
    color: #000066;
    border-top: 2px solid #534517;
    height: 20px;
	text-align: center;
}
#footer p {
     margin:0;
}

#footer a, #footer a:link, #footer a:link, #footer a:link {
	color: #990000;
}
#footer a:hover {
	color: #0000FF;
}
/** END: Settings for footer **/


    
/** BEGIN: Rules related to formatting the menu items */
#menu {
    padding-bottom: 4px;
    padding-top: 85px;
	background-color:#CC0000;
    background-image: url(images/featurebox_bg.png) no-repeat bottom right;
}
/*This is the menu 'buttons' */
ul#menuList li {
    background-color: #e2cf96;
    padding: 2px;
    background-image: none;
    border-right: 3px solid #CCCCCC;
    border-bottom: 3px solid #999999;
    font-weight: bold;
}
/*This is the menu 'bottons' hover */
ul#menuList li:hover {
    background-color: #FFFF99;
}
/*This is the menu 'buttons' anchor text*/
ul#menuList  li a {
    color: #000000;
    text-decoration: none;
    padding-right: 30px;
}
/* Items on menu*/
ul#menuList li li a {
    color: #000000;
    text-decoration: none;
    padding: 3px;
}
/* This applies to the icons*/
ul#menuList  li li a img{
    border-style: none;
    padding: 0;
    margin: 0;
}
ul#menuList  li li a span{
    margin-left: 27px;
    margin-right: 0px;
    display: block;
}
ul#menuList  li  li {
    border-style: none;
    width: 115%;
    background-color: #CCCC99;
    color: #000000;
    font-weight: normal;
    padding: 0;
}
ul#menuList  li  li:hover{
    border-style: none;
    background-color: #66FF99;
}
/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}
ul#menuList  li  ul{
	margin-top: 4px;
}
/** END: Rules related to formatting the menu items */



/** BEGIN: Content stle settings **/
div#container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-top: 2px solid #e2cf96;    
    border-right: 2px solid #e2cf96;
    border-bottom: 2px solid #e2cf96;
    border-left: 2px solid #e2cf96;
}
div#left {
    background-position: 10px;
}
div#twocolumn, div#threecolumn {
    margin-top: 5px;
}
#leftcontent, #rightcontent, #contentcontent {
    margin: 0 5px 0 5px;
}
#contentcontent {
    padding: 5px 5px 5px 5px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #e2cf96;
    border-left: 2px solid #e2cf96;
    border-right: 2px solid #e2cf96;
    margin-bottom: 20px;
}
#leftcontent, #rightcontent, #contentcontent {
    border-top: 4px solid #808080;
}
#leftcontent, #rightcontent {
	width: 150px;
}
/*
  Set the right and content containers to allow for the wider content
  and narrower left and right areas 
*/
#threecolumn div#right{
	float:left;
	width:156px;
	margin-left:-160px;
}
#threecolumn div#wrapper div#content{
	margin: 0 156px 0 156px;
}
/*Set the two column layout to 800 px*/
/* HOW????????????*/
  
/*Fix black text on dark blue */
#left h3 {
    color: navy;
}
/** END: Content stle settings **/



/** BEGIN: Override defaults for some text that needs to change colour **/
.error
{
    color: #FF0000;
    font-weight:bold;
}
.warning 
{
    color: #FF6600;
    font-weight: bold;
    padding: 2px;
}
.HighLightText
{
    background-color: #FFFF00;
    color: #333333;
}
.minute
{
    font-size: 85%;
    color: #660000;
}
.highlight {
    color: #990000;
}
.subdued {
      color: #666666;
}
.success {
    color: #006600;
    font-weight:bold
}
.caption {
    color: #333333;
    font-size:11px
}
.date {
    font: bold 82% arial;
    color: #666666;
    display:block;
    letter-spacing: 1px
}
.dim {
    color: #999999;
}
/** END: Override defaults for some text that needs to change colour **/



/** BEGIN: Feature Box as used for the blocks that appear in page margins **/
.featurebox {
    color: #333333;
    padding:  5px 5px 5px;
    border-top: 4px solid #534517;
    margin: 0 0 5px 0;
	background-color: #dcc582;
    background: url("images/featurebox_bg.png") no-repeat 100% 100%;
}

.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
    margin: 0 0 .3em; 
    border-bottom: 1px solid #0033FF;
    color: navy; 
    background-color: transparent;
}
.test {color: #003366}
.featurebox p {
    border:none;
    margin: 0 0 1em;
    color: #333333;
}
    
.featurebox a {
    font-weight:bold
}

.featurebox select {
    width: 100%;
}
/** END: Feature Box as used for the blocks that appear in page margins **/

/** BEGIN: Rules for including quotes in a curved box **/
blockquote {
    max-width: 620px;
    margin: 0;
    padding: 0px 10px 0px 10px;
    background: url(images/quote-body.png) center repeat-y ;
}
blockquote::before {
    display: block;
    line-height: 0;
    margin: 0;
    background: url(images/quote-topright.png) top right no-repeat;
    content: url(images/quote-topleft.png) }
blockquote::after {
    display: block;
    line-height: 0;
    margin: 0;
    background: url(images/quote-bottomright.png) bottom right no-repeat;
    content: url(images/quote-bottomleft.png) 
}
blockquote p {
    margin-left: 14px;
    margin-right: 26px;
}
/** END: Rules for including quotes in a curved box **/



/** BEGIN: Rules for shortcuts that appear on top of the banner **/
#shortcuts {
	color:white;
	position: absolute;
	float: left;
	text-align: right;
	margin-bottom: -100px;
	margin-left: 700px;
}

#shortcuts a, #shortcuts a:link, 
#shortcuts a:visited, #shortcuts a:active {
	color: #FFFFCC;
	text-decoration: none;
}
#shortcuts a:hover {
	color: #FFFFCC;
	text-decoration: underline;
}

/** BEGIN: Rules for the user search on the personal details page */
#input_searchField {
	width: 138px;
}
/** END: Rules for the user search on the personal details page */

/** BEGIN: Rules for the user name and password for the login block */
#username, #password {
	width: 128px;
}
/** END: Rules for the user search on the personal details page */



/** BEGIN: Rules for the add section of the CMS admin **/
form#addsection {
	max-width: 640px;
}
/** END: Rules for the add section of the CMS admin **/

/** BEGIN: Rules for the blog **/
#input_blogname {
	max-width: 340px;
}

#blogprofile___Frame {
	max-width: 340px;
}
#input_posttitle {
	max-width: 340px;
}
#input_postcatful {
	max-width: 340px;
}
#input_cat {
	max-width: 340px;
}
#input_postexcerpt {
	max-width: 340px;
}
#postcontent___Frame {
	max-width: 394px;
}
#input_tags {
	max-width: 340px;
}
/** END: Rules for the blog **/


/** BEGIN: Rules for odd or even formatting **/
table.unpadded, table#unpadded {
    border: 0;
	border-collapse: collapse;
	padding: 2px;
	line-height: 120%;
}
.odd, #odd {
	background-color: #F3F1ED;
    border: 0;
	border-collapse: collapse;
	padding: 10px;
}
.even, #even {
	background-color: #EBE3D3;
    border: 0;
	border-collapse: collapse;
	padding: 10px;
}
/** END: Rules for odd or even formatting **/


/** BEGIN: Rules for wiki **/
#input_DatabaseSearchNeedle {
	max-width: 140px;
	margin-left: 2px; /*stop it touching the left line of the box*/
}
#input_submit {
	margin-left: 2px; /*stop it touching the left line of the box*/
}
/** END: Rules for wiki **/
