/** BEGIN: Rules related to formatting the page body **/
body {
    margin: 0;
    margin-top: 1px;
    padding: 0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 76%;
    background-color: #e8daae;
    background-image: url(images/background_tile.gif);
    background-repeat: repeat;
    color : #000000;
    line-height: 1.8em;
	text-align: center; /**to centre the container*/
}
html {
    background-color: #e8daae;
    background-image: url(images/background_tile.gif);
    background-repeat: repeat;
}
/** END: Rules related to formatting the page body **/

li {line-height: 1.4em;padding-left: 25px;background: transparent url("images/sprites.gif") no-repeat 0 0}


/** BEGIN: Rules related to formatting the banner and its text */
div#header {
    width: 100%;
    height: 140px;
	padding: 0;
	margin: 0 0 0 0;
	z-index="1000";
}
#sitename {
	width: 100%;
    height: 140px;
	border-top: 0;
	margin-top: 0;
	margin-bottom: -55;
	float: left;
	background-color: #252116;
    background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
}
/*Make it invisible because we use image */
#sitename span {
        display: none;
}

div#header h1#sitename {
	background-repeat: no-repeat;
	margin: 0 0 0 0px;
	padding: 0;
}
div#header div#search {
	position: absolute;
	float: right;
	 top: 5px;
	 right: 0;
	 width: 300px;
}
#breadcrumbs {
    font-size: 80%;
    margin-left: 10px;
	position: absolute;
	float: left;
}
#breadcrumbs a:link, #breadcrumbs a:visited {
    color: #990000;
    text-decoration: none;
}
#breadcrumbs a:hover {
    color: #3300FF;
    text-decoration: none;
}

/** BEGIN: Rules related to formatting links */
a,a:link,a:link,a:link,a:hover {
    background:transparent;
    text-decoration:underline;
    cursor:pointer
} 
a:link {
    color:#069;
} 
a:visited {
    color:#069;
} 
a:hover,a:active {
    color:#FF6600;
}  
/** END: Rules related to formatting links */

/** BEGIN: Settings for footer **/
#footer {
    font-size:86%;
    background-color: #d7bc6e;
    background-image: url(images/footer_bg.gif);
    background-repeat: repeat-x;
    color: #000066;
    border-top: 2px solid #534517;
    height: 20px;
	text-align: center;
}
#footer p {
     margin:0;
}

#footer a, #footer a:link, #footer a:link, #footer a:link {
	color: #990000;
}
#footer a:hover {
	color: #0000FF;
}
/** END: Settings for footer **/

/** BEGIN: Rules related to formatting the menu items */
#menu {
    padding-bottom: 4px;
    padding-top: 85px;
	background-color:#CC0000;
    background-image: url(images/featurebox_bg.png) no-repeat bottom right;
    z-index="998";
}

/*This is the menu 'buttons' */
ul#menuList li {
    background-color: #e2cf96;
    padding: 2px;
    background-image: none;
    border-right: 3px solid #CCCCCC;
    border-bottom: 3px solid #999999;
    font-weight: bold;
}




/*This is the menu 'bottons' hover */
ul#menuList li:hover {
    background-color: #FFFF99;
    z-index="999";
}
/*This is the menu 'buttons' anchor text*/
ul#menuList  li a {
    color: #000000;
    text-decoration: none;
    padding-right: 30px;
    z-index="999";
}
/* Items on menu*/
ul#menuList li li a {
    color: #000000;
    text-decoration: none;
    padding: 3px;
    z-index="999";
}
/* This applies to the icons*/
ul#menuList  li li a img{
    border-style: none;
    padding: 0;
    margin: 0;
}
ul#menuList  li li a span{
    margin-left: 27px;
    margin-right: 0px;
    display: block;
}
ul#menuList  li  li {
    border-style: none;
    width: 115%;
    background-color: #CCCC99;
    color: #000000;
    font-weight: normal;
    padding: 0;
}
ul#menuList  li  li:hover{
    border-style: none;
    background-color: #66FF99;
}
/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}
ul#menuList  li  ul{
	margin-top: 4px;
	z-index="999";
}
/** END: Rules related to formatting the menu items */


/** BEGIN: Content stle settings **/
div#container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-top: 2px solid #e2cf96;    
    border-right: 2px solid #e2cf96;
    border-bottom: 2px solid #e2cf96;
    border-left: 2px solid #e2cf96;
    z-index="1";
}
div#left {
    background-position: 10px;
}
div#twocolumn, div#threecolumn {
    margin-top: 5px;
}
#leftcontent, #rightcontent, #contentcontent {
    margin: 0 5px 0 5px;
}
#contentcontent {
    padding: 5px 5px 5px 5px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #e2cf96;
    border-left: 2px solid #e2cf96;
    border-right: 2px solid #e2cf96;
    margin-bottom: 20px;
}
#leftcontent, #rightcontent, #contentcontent {
    border-top: 4px solid #808080;
}
#leftcontent, #rightcontent {
	width: 150px;
}
/*
  Set the right and content containers to allow for the wider content
  and narrower left and right areas 
*/
#threecolumn div#right{
	float:left;
	width:156px;
	margin-left:-160px;
}
#threecolumn div#wrapper div#content{
	margin: 0 156px 0 156px;
}
  
/*Fix black text on dark blue */
#left h3 {
    color: navy;
}
/** END: Content stle settings **/


/** BEGIN: Override defaults for some text that needs to change colour **/
.error
{
    color: #FF0000;
    font-weight:bold;
}
.warning 
{
    color: #FF6600;
    font-weight: bold;
    padding: 2px;
}
.HighLightText
{
    background-color: #FFFF00;
    color: #333333;
}
.minute
{
    font-size: 85%;
    color: #660000;
}
.highlight {
    color: #990000;
}
.subdued {
      color: #666666;
}
.success {
    color: #006600;
    font-weight:bold
}
.caption {
    color: #333333;
    font-size:11px
}
.date {
    font: bold 82% arial;
    color: #666666;
    display:block;
    letter-spacing: 1px
}
.dim {
    color: #999999;
}
/** END: Override defaults for some text that needs to change colour **/

/* Tables */

th.header, thead, td.heading, tr.heading, th {
	background-color: #DCDCDC;
}

table.highlightrows tr:hover {
	background-color: lightgrey;
}

.odd, td.odd, tr.odd{
	background-color: #FFFFFF;
}

.even, td.even, tr.even{
	background-color: #FFE4E1;
}

td.widelink a {
	display:block;
}

td.widelink a:link {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:visited {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:active {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:hover {
	text-decoration: underline;
	color: red;
}

.menulink a:link {
	text-decoration:none;
	color: #A52A2A;
}

.menulink a:visited {
	text-decoration:none;
	color: #A52A2A;
}
.menulink a:active {
	text-decoration:none;
	color: #A52A2A;
}
.menulink a:hover {
	text-decoration:none;
	color: #00008B;
}

/* Tabbed box */

.shadetabs{
    padding: 3px 0;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
    font: bold 12px Verdana;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
    display: inline;
    list-style: none;
    margin: 0;
}

.shadetabs li a{
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;
    border: 1px solid #778;
    color: #2d2b2b;
    background: white url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
    color: #2d2b2b;
}

.shadetabs li a:hover{
    text-decoration: underline;
    color: #2d2b2b;
}

.shadetabs li.selected{
    position: relative;
    top: 1px;
}

/*selected main tab style */
.shadetabs li.selected a{
    background-image: url(shadeactive.gif);
    border-bottom-color: white;
}

/*selected main tab style */
.shadetabs li.selected a:hover{
    text-decoration: none;
}

/*style of tab content container*/
.tabcontentstyle{
    border: 1px solid gray;
    margin-bottom: 1em;
    padding: 10px;
}

.tabcontent{
    display:none;
}

@media print {
    .tabcontent {
        display:block!important;
    }
}

/** BEGIN: Feature Box as used for the blocks that appear in page margins **/
.featurebox {
    color: #333333;
    padding:  5px 5px 5px;
    border-top: 4px solid #534517;
    margin: 0 0 5px 0;
	background-color: #dcc582;
    background: url("images/featurebox_bg.png") no-repeat 100% 100%;
}

.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
    margin: 0 0 .3em; 
    border-bottom: 1px solid #0033FF;
    color: navy; 
    background-color: transparent;
}
.test {color: #003366}
.featurebox p {
    border:none;
    margin: 0 0 1em;
    color: #333333;
}
    
.featurebox a {
    font-weight:bold
}

.featurebox select {
    width: 100%;
}
/** END: Feature Box as used for the blocks that appear in page margins **/

/** BEGIN: Content Feature Box as used for the blocks that appear in the page body  **/
.contentfeaturebox {
	color: #333333;
	padding: 15px 20px 20px;
	border-top: 4px solid #FF6633;
	margin: 0 0 1.5em;
	background: url("images/featurebox_bg.jpg") no-repeat 100% 100%;
}

.contentfeaturebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
	margin: 0 0 .3em;
	border-bottom: 1px solid #0033FF;
	color: #003366;
	background-color: transparent;
}
.contenttest {color: #003366}
.contentfeaturebox p {
	border:none;
	margin: 0 0 1em;
	color: #333333;
}

.contentfeaturebox a {
	font-weight:bold
}

.contentfeaturebox select {
	width: 100%;
}
/** END: Content Feature Box as used for the blocks that appear in the page body **/

/** BEGIN: Rules for shortcuts that appear on top of the banner **/
#shortcuts {
	color:white;
	position: absolute;
	float: left;
	text-align: right;
	margin-bottom: -100px;
	margin-left: 700px;
}

#shortcuts a, #shortcuts a:link, 
#shortcuts a:visited, #shortcuts a:active {
	color: #FFFFCC;
	text-decoration: none;
}
#shortcuts a:hover {
	color: #FFFFCC;
	text-decoration: underline;
}



/* Secondary Navigation */
#nav-secondary a {line-height:1.8;padding: 5px 0 5px 23px;background: #fff url("images/sprites.gif") no-repeat 10px -695px;font: bold 86% arial, sans-serif; color: #000; display:block}
#nav-secondary a:hover {color:#c00;background: #fee url("images/sprites.gif") no-repeat 10px -695px}

/* FORMS */
form {margin: 0 0 1.5em}
input {font-family: arial,tahoma,verdana,sans-serif;margin: 2px 0}
fieldset {border: none}
/** BEGIN: Rules for the user search on the personal details page */
#input_searchField {
	width: 138px;
}
/** END: Rules for the user search on the personal details page */

/** BEGIN: Rules for the user name and password for the login block */
#username, #password {
	width: 128px;
}
/** END: Rules for the user search on the personal details page */



/** BEGIN: Rules for the add section of the CMS admin **/
form#addsection {
	max-width: 640px;
}
/** END: Rules for the add section of the CMS admin **/

/** BEGIN: Rules for the blog **/
#input_blogname {
	max-width: 340px;
}

#blogprofile___Frame {
	max-width: 340px;
}
#input_posttitle {
	max-width: 340px;
}
#input_postcatful {
	max-width: 340px;
}
#input_cat {
	max-width: 340px;
}
#input_postexcerpt {
	max-width: 340px;
}
#postcontent___Frame {
	max-width: 394px;
}
#input_tags {
	max-width: 340px;
}
/** END: Rules for the blog **/


/** BEGIN: Rules for odd or even formatting **/
table.unpadded, table#unpadded {
    border: 0;
	border-collapse: collapse;
	padding: 2px;
	line-height: 120%;
}
.odd, #odd {
	background-color: #F3F1ED;
    border: 0;
	border-collapse: collapse;
	padding: 10px;
}
.even, #even {
	background-color: #EBE3D3;
    border: 0;
	border-collapse: collapse;
	padding: 10px;
}
/** END: Rules for odd or even formatting **/


/** BEGIN: Rules for wiki **/
#input_DatabaseSearchNeedle {
	max-width: 140px;
	margin-left: 2px; /*stop it touching the left line of the box*/
}
#input_submit {
	margin-left: 2px; /*stop it touching the left line of the box*/
}
/** END: Rules for wiki **/

label {display:inline;padding: 5px 0}
label br {clear:left}

	/* FORMS - general classes */
	input.f-submit {padding: 1px 3px;background:#666;color:#fff;font-weight:bold;font-size:96%}
	input.button {padding: 1px 3px;background:#666;color:#fff;font-weight:bold;font-size:96%}

/* FORMS - f-wrap-1 - simple form, headings on left, form elements on right */
	form.f-wrap-1 {width:100%;padding: .5em 0;background: #f6f6f6 url("images/featurebox_bg.gif") no-repeat 100% 100%;border-top: 1px solid #d7d7d7;position:relative}
		form.f-wrap-1 fieldset {width:auto;margin: 0 1em}
		form.f-wrap-1 h3 {margin:0 0 .6em;font: bold 155% arial;color:#c00}
		form.f-wrap-1 label {clear:left;float:left;width:100%;border-top: 1px solid #fff}

		/* hide from IE mac \*/
		form.f-wrap-1 label {float:none}
		/* end hiding from IE5 mac */

		form.f-wrap-1 label input, form.f-wrap-1 label textarea, form.f-wrap-1 label select {width:15em;float:left;margin-left:10px}

		form.f-wrap-1 label b {float:left;width:8em;line-height: 1.7;display:block;position:relative}
		form.f-wrap-1 label b .req {color:#c00;font-size:150%;font-weight:normal;position:absolute;top:-0.1em;line-height: 1.2;left:-.4em;width:.3em;height:.3em}
		form.f-wrap-1 div.req {color:#666;font-size:96%;font-weight:normal;position:absolute;top:.4em;right:.4em;left:auto;width:13em;text-align:right}
		form.f-wrap-1 div.req b {color:#c00;font-size:140%}
		form.f-wrap-1 label select {width: 15.5em}
		form.f-wrap-1 label textarea.f-comments {width: 20em}
		form.f-wrap-1 div.f-submit-wrap {padding: 5px 0 5px 8em}
		form.f-wrap-1 input.f-submit {margin: 0 0 0 10px}

		form.f-wrap-1 fieldset.f-checkbox-wrap, form.f-wrap-1 fieldset.f-radio-wrap {clear:left;float:left;width:32em;border:none;margin:0;padding-bottom:.7em}
		form.f-wrap-1 fieldset.f-checkbox-wrap b, form.f-wrap-1 fieldset.f-radio-wrap b {float:left;width:8em;line-height: 1.7;display:block;position:relative;padding-top:.3em}
		form.f-wrap-1 fieldset.f-checkbox-wrap fieldset, form.f-wrap-1 fieldset.f-radio-wrap fieldset {float:left;width:13em;margin: 3px 0 0 10px}
		form.f-wrap-1 fieldset.f-checkbox-wrap label, form.f-wrap-1 fieldset.f-radio-wrap label {float:left;width:13em;border:none;margin:0;padding:2px 0;margin-right:-3px}
		form.f-wrap-1 label input.f-checkbox, form.f-wrap-1 label input.f-radio {width:auto;float:none;margin:0;padding:0}

		form.f-wrap-1 label span.errormsg {position:absolute;top:0;right:-10em;left:auto;display:block;width:16em;background: transparent url(images/errormsg_bg.gif) no-repeat 0 0}
		form.f-wrap-1 label span.errormsg b {padding: 10px 0;margin: 0 10px 0 30px;color:#B30800;font-weight:bold;display:block;width:auto;float:none;line-height:1.3}


input {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}

select
 {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}
textarea {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}

