body {
	background-color:	#FFFFFF;
	font-weight:		normal;
	color:			#666666;
	font-size:		15px;
	font-family:		Arial, Verdana, Helvetica, san-serif;

}

h1, .mainheading  {
	color:			#EB4020;
	font-weight:		normal;
	font-size:		14px;
	font-family:		Arial, Verdana, Helvetica, san-serif;
}

h2, .subheading {
	font-weight:		normal;
	text-decoration:	none;
	color:			#EB4020;
	font-size:		11px;
	font-family:		Arial, Verdana, Helvetica, san-serif;
}

h3, .heading {
	font-weight:		bold;
	color:			#49ACD7;
	font-size:		11px;
	font-family:		Arial, Verdana, Helvetica, san-serif;
}

h4, .topheader {
    font-weight:		bold;
	color:			#49ACD7;
	font-size:		14px;
	font-family:		Arial, Verdana, Helvetica, san-serif;

}
a {
	color:			#666666;
	font-size:		11px;
	font-weight:		normal;
	text-decoration:	underline;
	font-family:		Arial, Verdana, Helvetica, san-serif;
}
 
a:hover {
	color:			#EB4020;
	font-size:		11px;
	font-weight:		normal;
	text-decoration:	underline;
	font-family:		Arial, Verdana, Helvetica, san-serif;
}


/* MAIN CONTENT DIV */
#install_container {
	width: 			800px;
	height: 		auto;
	border: 		1px solid black;
	text-align: 	left;
	padding:		10px;
}

#install_status {
	margin-top:	10px;
}


#buttons {
	margin-top: 	25px;
}

#errors {
	font-family: Tahoma;
	color: red; 
	font-size: 10px;
	margin-top: 10px;
}

.errors {
	font-family: Tahoma;
	color: red; 
	font-size: 14px;
	margin-top: 14px;
}

.success {
	font-family: Tahoma;
	color: green; 
	font-size: 13px;
	margin-top: 13px;
}

#step_title {
	margin-top: 	10px;
	background-color: #492e53;
	width: 100%;
	border-bottom: 1px solid #877091;
}

.install-table {
	margin-top: 10px;
	width: 100%;
}

#content {
	margin-left:		20px;
	margin-right:		20px;
}

.content-small {
	font-family:		Verdana, Arial, Helvetica, san-serif;
	font-size:		10px;
}

.content-big, .content-big h1, .content-big h2, .content-big h3 {
	font-family:		Verdana, Arial, Helvetica, san-serif;
	font-size:		150%;
}


/* 5ive LOGO */

#logo {
	width:			100%;
	text-align:		left;
	margin:			0px;
	padding:		0px;
}

/* TOPNAV DIV */

#topnav {
	width:			100%;
	text-align:		left;
	margin:			0px;
	padding:		0px;
}


/* TOP BLUE BAR */

#topbar {
	width:			100%;
	margin:			0px;
	padding:		0px;
}


/* Coding Standards */

.sample-code {
	margin-top:		10px;
	margin-bottom:		10px;
	padding:		3px;
	border:			1px dashed #1D80AD;
	background-color:	#CFEFFF;
	font-family:		courier, monospace;
	font-size:		10px;
	color:			#2F2D2F;	
}

.complete-step {
	text-align: center;
	color: #000;
	background-color: rgb(73, 46, 83);
	border: 1px solid Black;
}

.complete-step a {
	color: white;
	text-decoration: none;
}

.current-step {
	text-align: center;
	background-color: rgb(170, 255, 0);
	border: 1px solid Black;
}

.incomplete-step {
	text-align: center;
	background-color: rgb(250, 240, 250);
	border: 1px solid Black;
}