/* 
    Document   : sections
    Created on : 25 Feb 2011, 12:26:23 PM
    Author     : nguni
    Description:
        Purpose of the stylesheet follows.
*/

em {
    padding-right: 3px;
    color: red;
    vertical-align: top;
}