body {
	background-color: #fff;
	color:#333;
	font:83%/1.5 arial,tahoma,verdana,sans-serif
}

li {line-height: 1.4em;padding-left: 25px;background: transparent url("images/sprites.gif") no-repeat 0 0}

div#header {
	background: #666 url("images/sprites.gif") repeat-x 0 100%;
	color: #fff;
	padding: 0px 5px 10px 5px;
}


#sitename {
    	width: 428px;
    	height: 80px;
    	background-image: url(images/banner.gif);
    	margin: 0 0 0 20px;
	padding: 0;
	}
#sitename span {
        display: none;
	}
	
div#header div#search {
	position: absolute;
	float: right;
	 top: 5px;
	 right: 0;
	 width: 300px;
}
#breadcrumbs {
	font-size: 80%;
}
#breadcrumbs a:link, #breadcrumbs a:visited {
	color: #fff;
	text-decoration: none;
}
#breadcrumbs a:hover {
	color: #CC0000;
	text-decoration: underline;
}
a,a:link,a:link,a:link,a:hover {background:transparent;text-decoration:underline;cursor:pointer} 
a:link {color:#069;} 
a:visited {color:#069;} 
a:hover,a:active {color:#FF6600;} 


#footer {
    background: #fff url("images/body_bg.gif") repeat-x bottom left;
    color:#999
}

#footer p {margin:0}
#footer a:link {color:#999}
	
/* Menu */

#menu {
	padding-bottom: 10px;
}

ul#menuList  li {
	background-color: #999;
	padding: 2px;
	background-image: none;

	border-right: 3px solid	#252525;
	border-bottom: 3px solid	#666;
	font-weight: bold;
}

ul#menuList  li:hover {
	background-color: #CC00FF;
}

/* Top Row*/
ul#menuList  li a {
	color: #fff;
	text-decoration: none;
	padding-right: 30px;
}

/* Items on menu*/
ul#menuList  li li a {
	color: #000;
	text-decoration: none;
	padding: 3px;
}

ul#menuList  li li a img{
	border-style: none;
	padding: 0;
	margin: 0;
}

ul#menuList  li li a span{
    margin-left: 27px;
    margin-right: 0px;
    display: block;
}

ul#menuList  li  li{
border-style: none;
width: 100%;
background: transparent;
color: #000;
font-weight: normal;
padding: 0;
}

ul#menuList  li  li:hover{
border-style: none;
background-color: #FF6600;
}

/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}

ul#menuList  li  ul{
background: transparent url('images/featurebox_bg.gif') no-repeat bottom right;
margin-top: 4px;
}

div#left {
    background: transparent url('images/content_wrap_bg.gif');
    background-position: 10px;
}

/* background colors
#content {
	backgaround-color: #66FF66;
}
#left, #right {
	background-color: #FF9999;
}*/

div#twocolumn, div#threecolumn {
    margin-top: 20px;
}



#leftcontent, #rightcontent, #contentcontent {
    margin: 0 20px 0 10px;
    
}

#leftcontent, #rightcontent {
    border-top: 5px solid #999;
}


/* Feature Box */
.featurebox {color:#333;padding: 15px 20px 20px;border-top: 1px solid #d7d7d7;margin: 0 0 1.5em;background: #E3DBE8 url("images/featurebox_bg.gif") no-repeat 100% 100%}
.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {margin: 0 0 .3em; border-bottom: 1px solid #FF6600;color:#770077; background-color: transparent;}
.featurebox p {border:none;margin: 0 0 1em;color:#444}
.featurebox a {font-weight:bold}
.featurebox select {width: 100%; }

/* Secondary Navigation */
#nav-secondary a {line-height:1.8;padding: 5px 0 5px 23px;background: #fff url("images/sprites.gif") no-repeat 10px -695px;font: bold 86% arial, sans-serif; color: #000; display:block}
#nav-secondary a:hover {color:#c00;background: #fee url("images/sprites.gif") no-repeat 10px -695px} 