body {
	background-color: #fff;
	color:#333;
	font:83%/1.5 arial,tahoma,verdana,sans-serif
}

li {line-height: 1.4em;padding-left: 25px;background: transparent url("images/sprites.gif") no-repeat 0 0}

div#header {
	background: transparent url("banners/df_back.jpg") repeat-x top left; height: 90px;
	color: #fff;
	padding: 0; /*px 5px 10px 5px;*/
}

#headerwrapper {
	background: #fff url("banners/bannerbg.jpg") repeat;
	background-position: -2px;
	border-bottom: 1px solid #99A777;
	margin: 0;
	padding: 0;
}

imput.button { 
url("banners/button.gif");
}


div#header h1#sitename {
	color: #FF6600;
	margin: 0;
	padding: 0;
	padding-left: 120px;
	padding-top: 35px;
	font-size: 30px;
}
div#header div#search {
	position: absolute;
	float: right;
	 top: 5px;
	 right: 0;
	 width: 300px;
}

#breadcrumbs a:hover {
	color: #CC0000;
	text-decoration: underline;
}
a:link, a:visited {
	color: #F69916;
}

a:hover {
	color: #6E7E3D;
}


#footer {
    background: #fff url("banners/bannerbg.jpg") repeat-x bottom left;
    color:#999
}

#footer p {margin:0}
#footer a:link {color:#999}

/* Menu */

#menu {
	padding-bottom: 10px;
}

ul#menuList  li {
	background-color: #EAEAEA;
	padding: 2px;
	background-image: none;

	border-right: 3px solid	#8E8C8C;
	border-bottom: 3px solid	#C7C7C7;
	font-weight: bold;
}

ul#menuList  li:hover {
	background-color: #fff;
}

/* Top Row*/
ul#menuList  li a {
	color: #577F9B;
	text-decoration: none;
	padding-right: 30px;
}

/* Items on menu*/
ul#menuList  li li a {
	color: #000;
	text-decoration: none;
	padding: 3px;
}

ul#menuList  li li a img{
	border-style: none;
	padding: 0;
	margin: 0;
}

ul#menuList  li li a span{
    margin-left: 27px;
    margin-right: 0px;
    display: block;
}

ul#menuList  li  li{
border-style: none;
width: 100%;
background: transparent;
color: #000;
font-weight: normal;
padding: 0;
}

ul#menuList  li  li:hover{
border-style: none;
background-color: #99A777;
}

ul#menuList  li  ul{
background-color: #fff;
margin-top: 4px;
}

/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}

#threecolumn div#wrapper div#content{margin: 0 200px 0 200px}
#threecolumn div#left{float:left;width:189px;margin-left:-100%}
#threecolumn div#right{float:left;width:189px;margin-left:-200px}

/* Two Column Layout */
#twocolumn div#wrapper div#content{margin: 0 0 0 200px}
#twocolumn div#left{float:left;width:200px;margin-left:-100%}
#twocolumn div#right{display:none}

div#twocolumn, div#threecolumn {
    margin-top: 20px;
}



#leftcontent, #rightcontent, #contentcontent {
    margin: 0 20px 0 10px;

}


/* Tables */

th.header, thead, td.heading, tr.heading, th {
	background-color: #DCDCDC;
}

table.highlightrows tr:hover {
	background-color: lightgrey;
}

.odd, td.odd, tr.odd{
	background-color: #FFFFFF;
}

.even, td.even, tr.even{
	background-color: #FFE4E1;
}

td.widelink a {
	display:block;
}

td.widelink a:link {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:visited {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:active {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:hover {
	text-decoration: underline;
	color: red;
}

.menulink a:link {
	text-decoration:none;
	color: #A52A2A;
}

.menulink a:visited {
	text-decoration:none;
	color: #A52A2A;
}
.menulink a:active {
	text-decoration:none;
	color: #A52A2A;
}
.menulink a:hover {
	text-decoration:none;
	color: #00008B;
}

/* Tabbed box */

.shadetabs{
    padding: 3px 0;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
    font: bold 12px Verdana;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
    display: inline;
    list-style: none;
    margin: 0;
}

.shadetabs li a{
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;
    border: 1px solid #778;
    color: #2d2b2b;
    background: white url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
    color: #2d2b2b;
}

.shadetabs li a:hover{
    text-decoration: underline;
    color: #2d2b2b;
}

.shadetabs li.selected{
    position: relative;
    top: 1px;
}

/*selected main tab style */
.shadetabs li.selected a{
    background-image: url(shadeactive.gif);
    border-bottom-color: white;
}

/*selected main tab style */
.shadetabs li.selected a:hover{
    text-decoration: none;
}

/*style of tab content container*/
.tabcontentstyle{
    border: 1px solid gray;
    margin-bottom: 1em;
    padding: 10px;
}

.tabcontent{
    display:none;
}

@media print {
    .tabcontent {
        display:block!important;
    }
}

/* Feature Box
.featurebox {color:#333;padding: 15px 20px 20px;border-top: 1px solid #d7d7d7;margin: 0 0 1.5em;background: #f6f6f6 url("images/featurebox_bg.gif") no-repeat 100% 100%}
.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {margin: 0 0 .3em;border-bottom: 1px solid #c00;color:#c00; background-color: transparent;}
.featurebox p {border:none;margin: 0 0 1em;color:#444}
.featurebox a {font-weight:bold; text-decoration:none;}
.featurebox select {width: 100%; }
 */




/** BEGIN: Content Feature Box as used for the blocks that appear in the page body  **/
.contentfeaturebox {
	color: #333333;
	padding: 15px 20px 20px;
	border-top: 4px solid #FF6633;
	margin: 0 0 1.5em;
	background: url("images/featurebox_bg.jpg") no-repeat 100% 100%;
}

.contentfeaturebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
	margin: 0 0 .3em ;
	padding-left: 5px;
	border-bottom: 1px solid #0033FF;
	color: #6A7F3C;
	background-color: transparent;
}
.contenttest {color: #003366}
.contentfeaturebox p {
	border:none;
	margin: 0 0 1em;
	color: #333333;
}

.featurebox small {
	margin: 4px;
	display:block;
}

.featurebox small select, .featurebox select {
	width: 130px;
}

.contentfeaturebox a {
	font-weight:bold
}

.contentfeaturebox select {
	width: 100%;
}
/** END: Content Feature Box as used for the blocks that appear in the page body **/


/* Secondary Navigation */

ul#nav-secondary li{
background-color:#009933;
}
#nav-secondary a, #nav-secondary a:link, #nav-secondary a:visited {line-height:1.8;padding: 5px 0 5px 23px; font: bold 86% arial, sans-serif; color:#6E7E3D; display:block; background-color:#fff}
#nav-secondary li a:hover {color: #fff; background-color:#C5CDB5} 





input {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}

select
 {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}
textarea {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}

#breadcrumbs {
	color: #000000;
	padding-left: 10px;
	font-size: 80%;
}

#breadcrumbs a:link, #breadcrumbs a:visited{
	color: #FF6600;
}

#leftcontent .featurebox, #rightcontent .featurebox {
	background: #fff url("banners/featureboxbig.gif") no-repeat top left;
	border-bottom: 1px solid #99A777;
	margin-bottom: 10px;
	padding: 1px;
	padding-top: 7px;
}

#leftcontent .featurebox h3, #rightcontent .featurebox h3, #leftcontent .featurebox h5, #rightcontent .featurebox h5 {
	padding: 0px;
	margin: 0px;
	border: none;
	background: #fff url("banners/featureboxh3bottom.jpg") repeat-x bottom left;
	padding-bottom: 5px;
	padding-left: 5px;
	width: -5px;
}


body.cms li.sectionfolder {
    background-image: none;
    padding-left: 0px;
    margin-left: 10px;
}

