/******************************************************************************************
*  CMS
******************************************************************************************/

ul.sectionfolder li {
    background: transparent url('../_common/icons/folder2.gif') no-repeat 0px 1px;
    padding-left: 20px;
    margin-left: 0px;
}

li.sectionfolder {
    background: transparent url('../_common/icons/folder2.gif') no-repeat 0px 1px;
    padding-left: 20px;
    margin-left: 0px;
}

ul.treefolder ul {
    margin-bottom: 5px;
}

li.orangefolder {
    background: transparent url('../_common/icons/tree/treefolder_orange.gif') no-repeat 0px 1px;
    padding-left: 20px;
    margin-left: 0px;
}

li.greenfolder {
    background: transparent url('../_common/icons/tree/treefolder_green.gif') no-repeat 0px 1px;
    padding-left: 20px;
    margin-left: 0px;
}

li.whitefolder {
    background: transparent url('../_common/icons/tree/treefolder_white.gif') no-repeat 0px 1px;
    padding-left: 20px;
    margin-left: 0px;
}











#selectblocks {
}

#selectblocks div.dropleft {
    border: 1px dashed black;
    background-color: lightyellow;
    z-index: 1;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px;
}

#selectblocks div.leftblocks {
    border: 1px solid lightgray;
    padding: 5px;
    width:150px;
    /*float: left;*/
    z-index:1000;
    margin: 0;
}

#selectblocks div.dropblock {
    border: 1px dashed black;
    background-color: lightyellow;
    z-index: 1;
    float: left;
    position: relative;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#selectblocks div.usedblock {
    border: 1px solid lightgray;
    padding: 5px;
    width:150px;
   /* float: left; */
    z-index:1000;
    margin: 0;
}

#selectblocks div.deleteblock {
    border: 1px dashed black;
    background-color: lightyellow;
    position: relative;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

#selectblocks div.addblocks {
    border: 1px solid lightgray;
    padding: 5px;
    width:150px;
   /* float: left; */
    z-index:1000;
    margin: 0;
}

#selectblocks div.addblocks div.featurebox, #selectblocks div.usedblock div.featurebox, #selectblocks div.leftblocks div.featurebox {
    margin: 0;
}

















/* menu icons / buttons*/
.menuBtnOn {
    color: #FFF;
    font-size: 90%;
    margin: 2px;
    background: #5F7D9C;
}



.menuBtnOn a, .menuBtnOn a:link, .menuBtnOn a:visited {
    font-family: arial-bold,arial,tahoma,verdana,sans-serif;
    font-weight: bold;
    color: #FFF;
    display: block;
    padding: 10px 15px 10px;
    text-decoration: none;
}

.menuBtnOn:hover, .menuBtnOn a:hover, .menuBtnOn a:link:hover, .menuBtnOn a:visited:hover {
    background:#3E19FF;
}


.menuBtn {
    font-family: arial,tahoma,verdana,sans-serif;
    font-size: 90%;
    margin: 2px;
    background: #f6f6f6;
}



.menuBtn a {
    display: block;
    padding: 10px 15px 10px;
    text-decoration: none;
}


/** control panel settings **/
#cpanel div.icon {
    border: 1px solid #A0A0A0;
    height: 97px;
    width: 108px;
    text-align: center;
    font-size: 95%;
    line-height: 97%;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}

#cpanel div.icon a {
    display: block;
    float: left;
    border: 1px solid #f0f0f0;
    line-height: 100%;
    height: 97px;
    width: 108px;
    vertical-align: middle;
    text-decoration: none;
}



#cpanel div.icon a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
}

#cpanel img  { padding: 8px 0; margin: 0 auto; }

#cpanel span { display: block; text-align: center; }













/** Icon + text div links **/

.smallicon {
    height: 75px;
    width: 85px;
    text-align: center;
    font-size: 110%;
    line-height: 100%;
    float: left;
    padding: 0px;
    margin: 2px;
}

.smallicon a, .smallicon a:visited {
    display: block;
    float: left;
    border: 1px solid #f0f0f0;
    height: 75px;
    width: 85px;
    vertical-align: middle;
    font-size: 110%;
    line-height: 100%;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    background: #fffef3;
}

.smallicon a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
}

.smallicon img  { padding: 2px 0; padding-bottom: 3px; margin: 0 auto;  }
.smallicon span { display: block; text-align: center; }