/***********This css file contains all the module spefic styles*********************/



#IM, .hidden { /* Hide Instant Messenger*/
    display: none;
}



div.filemanagertree {
    overflow: auto;
    padding-bottom: 30px;
}


/* Wrap Story Image */
.storyimagewrapper {
    float: left;
}

.newsblock {
    width: 120px;
    margin-right: 10px;
    float: left;
    text-align: center;
    
}

.newsblockimage {
    height: 100px;
    vertical-align: text-bottom;
}

/* For the RSS feeds */

.feed_render_title {
    background-color: #d9d9d9;
    padding-top:5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 4px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.feed_render_title_forcewhite {
    background-color: white;
    color: black;
    border: 1px dashed;
    border-color: #d9d9d9;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 4px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.feed_render_default {
    background-color: #efefef;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

p.feed_render_link {
   margin-left: 10px;
   margin-right: 10px;
}

p.feed_render_description {
   margin-left: 10px;
   margin-right: 10px;
}

.feed_render_date {
   margin-left: 12px;
   margin-right: 10px;
   color: #686868;
}
