BODY {

        FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff

}

INPUT {

        FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff

}

SELECT {

        FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff

}

TD {

        FONT-SIZE: 8pt

}

P {

        FONT-SIZE: 8pt

}

UL {

        FONT-SIZE: 8pt

}

LI {

        FONT-SIZE: 8pt

}

H1 {

        FONT-SIZE: 12pt

}

H2 {

        FONT-SIZE: 10pt

}

H3 {

        FONT-SIZE: 8pt

}

H4 {

        FONT-SIZE: 8pt

}

INPUT {

        FONT-SIZE: 8pt

}

H1 {

        FONT-WEIGHT: bold; COLOR: #000000

}

H2 {

        FONT-WEIGHT: bold; COLOR: #000000

}

H3 {

        FONT-WEIGHT: bold; COLOR: #000000

}

H4 {

        FONT-WEIGHT: bold; COLOR: #000000

}

UL LI.green {

        LIST-STYLE-IMAGE: url(../i/greenbullet.gif); MARGIN-BOTTOM: 12px; MARGIN-LEFT: -20px

}

UL LI.amber {

        LIST-STYLE-IMAGE: url(../i/amberbullet.gif); MARGIN-BOTTOM: 12px; MARGIN-LEFT: -20px

}

UL LI.red {

        LIST-STYLE-IMAGE: url(../i/redbullet.gif); MARGIN-BOTTOM: 12px; MARGIN-LEFT: -20px

}

UL LI {

        LIST-STYLE-IMAGE: url(../i/orangespot.gif); MARGIN-BOTTOM: 12px; MARGIN-LEFT: -20px

}

OL LI {

        MARGIN-BOTTOM: 12px; MARGIN-LEFT: -16px

}

HR {

        COLOR: #ff9933; HEIGHT: 1px

}

form

{ 

        PADDING-RIGHT: 10px; 

        PADDING-LEFT: 10px; 

        PADDING-BOTTOM: 10px; 

        MARGIN: 10px 

}

INPUT {

        BACKGROUND-COLOR: #f0f0f0

}

A:link {

        COLOR: #666666; TEXT-DECORATION: none

}

A:visited {

        COLOR: #666666; TEXT-DECORATION: none

}

A:active {

        COLOR: #666666; TEXT-DECORATION: none

}

A:hover {

        COLOR: #800000; TEXT-DECORATION: none

}

A.nav {

        FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: none

}

A.nav:visited {

        FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: none

}

A.nav:active {

        FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: none

}

A.nav:hover {

        COLOR: #000000; TEXT-DECORATION: underline

}

TD.left7px {

        PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f0f0f0 1px solid

}

.pseudo-hyperlink {

        PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f0f0f0 1px solid

}

.pseudo-hyperlink {

        FONT-WEIGHT: bold; COLOR: #666666

}

TD.box {

        PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 7pt; PADDING-BOTTOM: 2px; COLOR: #000000; LINE-HEIGHT: 120%; PADDING-TOP: 2px

}

TD.boxcentre {

        PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 7pt; PADDING-BOTTOM: 2px; COLOR: #000000; LINE-HEIGHT: 120%; PADDING-TOP: 2px

}

.about {

        PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 7pt; PADDING-BOTTOM: 2px; COLOR: #000000; LINE-HEIGHT: 120%; PADDING-TOP: 2px

}

TD.boxcentre {

        BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center

}

TD.boxsearch {

        PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #9c9a9c

}

.CCCCCC {

        BACKGROUND-COLOR: #cccccc

}

.menutitle {
        background: #ffffff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}

.f0f0f0 {

        BACKGROUND-COLOR: #f0f0f0

}

.menutitle {

        BORDER-TOP: #666666 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #f0f0f0; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #999999

}

.greyline {

        BACKGROUND-COLOR: #999999

}

.spaced {

        PADDING-TOP: 6px

}

.righthandmenu {

        BORDER-RIGHT: #9c9c9c 1px solid; BORDER-TOP: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; BORDER-BOTTOM: #9c9c9c 1px solid; BACKGROUND-COLOR: #f0f0f0

}

.lefthandmenu {

        BORDER-RIGHT: #9c9c9c 1px solid

}

.main {



}

.sectiontitle {

        FONT-WEIGHT: bold; COLOR: #f0f0f0; BACKGROUND-COLOR: #999999

}

TD.odd {

        BACKGROUND-COLOR: #d6d6d6

}

TD.oddborder {

        BACKGROUND-COLOR: #d6d6d6

}

TD.even {

        BACKGROUND-COLOR: #ffffff

}

TD.evenborder {

        BACKGROUND-COLOR: #ffffff

}

TD.odd {

        PADDING-BOTTOM: 4px; PADDING-TOP: 8px

}

TD.even {

        PADDING-BOTTOM: 4px; PADDING-TOP: 8px

}

TD.oddborder {

        BORDER-TOP: #666666 1px solid

}

TD.evenborder {

        BORDER-TOP: #666666 1px solid

}

TD.tableheading {

        BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; BACKGROUND-COLOR: #999999

}

.logo {

        background-color: #ffffff;

        line-height: 16px;

        vertical-align: top;

        padding-top: 6px;

}