ol.comment-threads {
    list-style-type: none;
    margin-left: 0;
    padding-left: 30px; /* primary indent for comments */
}
ol.comment-threads.top-level {
    margin-left: 0;
    padding-left: 0;
}
.comment {
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari */
    border-radius: 5px; /* CSS3 (Opera?) */
    border: 1px solid #eee;
    clear: left;
    font-size: 1em;
    margin: 0 10px 10px 0; 
    padding: 5px;
    padding-right: 10px;
    height: 1%;
}
.comment.odd {
    background: #f7f7f7;
}
.comment-user-logo {
    float: left;
}

.comment-header {
    line-height: 1.8em; /* calculated to match shrunken profile image height */
}
.comment-header .author {
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.comment .date {
    float: right;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    line-height: 1.8em; /* calculated to match shrunken profile image height */
    color: #999;
}
.global-comment-actions li,
.comment-actions li {
    list-style-type: none;
    display: inline;
    border-left: 1px solid #aaa;
    padding: 0 5px;
    margin: 0; /* for IE */
    color: #aaa;
}
.comment-actions li:first-child,
li#comment-show-hide { /* left-most comment option -- no left border */
    border-left: none;
    padding-left: 0;
}
.comment-actions #comment-actions-secondary li {
    float: right;
    padding: 0;
}
.global-comment-actions li.hidden,
.comment-actions li.hidden {
    display: none;
}
.global-comment-actions a {
    margin: 0;
}
.global-comment-actions,
.comment-actions ul {
    display: inline;
    padding: 0;
    margin: 0; /* for IE */
}
.comment-body,
.comment-header {
    overflow: hidden; /* new positioning block next to floated image */
    height: 1%; /* for IE */
}

.comment.focused,
.comment.edit {
    background: #ffffe7;
}
.comment.reply {
    background: #fff;
}
.comment .comment-user-logo {
    width: 58px;
    margin: 0;
    padding: 0;
}

.comment .comment-user-logo .replacement {
    height: 48px;
    width: 48px;
}
.comment.collapsed .comment-user-logo img,
.comment.collapsed .comment-user-logo .replacement {
    height: 24px;
    width: 24px;
    margin-left: 12px;
}
.comment.collapsed .comment-body {
    opacity: 0;
    height: 0;
}
img.wait {
    vertical-align: middle;
}
.comment .excerpt {
    color: #666;
    font-weight: normal;
    opacity: 0;
    height: 1.8em;
}
.collapsed .excerpt {
    opacity: inherit;
}
.comment form .label {
    font-weight: normal;
    color: #666;
}

.comment input#watchPageAfterComment {
    vertical-align: middle;
    margin-left: 20px;
}

.comment-actions .comment-permalink a:hover {
    visibility: visible; /* for IE */
}
.comment-actions .comment-permalink a {
    outline: none;
}
.comment-actions .comment-permalink a,
.comment-actions .comment-permalink a span /* span for IE */ {
    background: url(../../../images/icons/permalink_light_16.png) no-repeat 50% 50%;
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -9999px;
    cursor: pointer;
}

.comment-actions .comment-permalink a:hover span {
    background-image: url(../../../images/icons/permalink_dark_16.png);
}

#comments-section #previewArea iframe {
    height: 210px; /* Default height of the editor in comments */
}