body {
    background-color: #e3e3e3;
    color:#333;
    font: 80% "Trebuchet MS", Arial, "Lucida Sans Unicode", Tahoma, sans-serif;
    font:83%/1.5 arial,tahoma,verdana,sans-serif;
    line-height: 200%;
}

#container {
    background-color: #e3e3e3;

}

#header {
    background: #e3e3e3 url('images/KIM_header.jpg') no-repeat top left;
    height: 117px;
	
}

#wrapper {
    background: #e3e3e3 url('images/background.png') repeat-x top left;
    margin-top: 0px;
}

/* Three Column Layout */
#threecolumn div#wrapper div#content{margin: 0 210px 0 210px}
#threecolumn div#left{float:left;width:210px;margin-left:-100%}
#threecolumn div#right{float:left;width:210px;margin-left:-210px}

/* Two Column Layout */
#twocolumn div#wrapper div#content{margin: 0 0 0 210px}
#twocolumn div#left{float:left;width:200px;margin-left:-100%}
#twocolumn div#right{display:none}

#search {
    margin: 0;
  /*  margin-top:83px;*/
    color: #000;
	padding-top: 10px;
	padding-right:10px;
    text-align: right;
}

#left, #right {
    background-color: transparent;
    margin-bottom: 20px;	
    margin-top: 0px;
}



#leftcontent, #contentcontent, #rightcontent {
    margin: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
	margin-bottom: 20px;
background-color=red;
}

#contentcontent{
background: red;
}
#leftcontent, #rightcontent{
	width:200px;
	}
#contentcontent, .featurebox, #nav-secondary, body.help-popup {
    background-color: #FFF;
    border: 2px solid #b9c8ea;
    padding: 10px;
	
}

.featurebox {
    margin-bottom: 20px;
}

fieldset {
    background-color: #FFF;
    border: 2px solid #b9c8ea;
    padding: 5px;
}


hr { display: none !important; }



/* LINKS */
a {
    color: #0C386E;
    text-decoration: none;
}
a:hover, #footer a:hover {
    color: #FFF;
}
    
form {margin-bottom: 10px;}

th {
    background-color: #b9c8ea;
    color: #FFF;
    padding-left: 3px;
    padding-right: 3px;
}

td {
    padding-left: 3px;
    padding-right: 3px;
}

th a {
    color: #b9c8ea;
}

#footer {
    background-color: #e3e3e3;
    color: #FFF;
    padding: 5px;
    padding-top: 40px;
    border: none;
}

#footer a {
    color: #b9c8ea;
}

#subfooter{
    background-color: #31529f;
    padding: 5px;
    padding-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

#breadcrumbs {
    /*border-top: 2px solid #b9c8ea;*/
    margin: 0;
    padding-top: 5px;
    padding-left: 14px;
}




/* initialy hide all sub menus */
/*
#menu li ul {
    display: none;
    position: absolute;
    z-index: 101;
    width: 130px; 
                    
    background-color: #FFF;
    border: 1px solid #000;
}
*/
#menu li ul {
    display: none;
    position: absolute;
    z-index: 101;
    width: 190px; /* Customizable*/                  
    background-color: #FFF;;
    border: 1px solid #000;
}

ul#menuList  li {
    display:block;
    background-color: #e3e3e3;
	padding: 2px;
	background-image: none;

	border-bottom: none;
	font-weight: bold;
}

ul#menuList  li:hover {
	
    background-color: #c6cfe5;
}

/* Top Row*/
ul#menuList  li a {
	
	color: #3d50a1;
	text-decoration: none;
	padding-right: 30px;
}

/* Items on menu*/
ul#menuList  li li a {
	color: #000;
	text-decoration: none;
	padding: 3px;
}

ul#menuList  li li a img{
	border-style: none;
	padding: 0;
	margin: 0;
}

ul#menuList  li li a span{
    margin-left: 5px;
    margin-right: 0px;
    
}

ul#menuList  li  li{
    border-style: none;
    width: 100%;
    background: #fff;
    color: #000;
    font-weight: normal;
    padding: 0;
    text-align: left;
}

ul#menuList  li  li:hover{
    border-style: none;
    background-color: #9ab2cb;
    color: #fff;
}

ul#menuList  li  li:hover a {
    color: #fff;
}

/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}

ul#menuList  li  ul{
    margin-top: 2px;
}










h1#sitename {
    padding: 20px;
}

img {
   padding: 5px;
   border: 0;
}

/*Fixing up the bar images - Won't need padding for bars ever*/
.odd > img {
   padding: 0px;
   border: 0;
}

/************ news stories tabs *************/

/*

Styles for the Modern Brick Menu
Credits: Dynamic Drive CSS Library
http://www.dynamicdrive.com/style/csslibrary/item/modern-bricks-menu/
*/

#modernbricksmenu{
    padding: 0;
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
}

#modernbricksmenu ul{
    /*font: bold 11px Arial;*/
    margin:0;
    margin-left: 40px; /*margin between first menu item and left browser edge*/
    padding: 0;
    list-style: none;
}

#modernbricksmenu li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    text-transform:uppercase;
}

#modernbricksmenu a{
    float: left;
    display: block;
    color: #084FAD;
    margin: 0 1px 0 0; /*Margin between each menu item*/
    padding: 5px 10px;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: white; /*Default menu color*/
    border-bottom: 1px solid white;
}

#modernbricksmenu a:hover{
    background-color: #084FAD; /*Red color theme*/
    border-color: #084FAD; /*Red color theme*/
	color: white;
}

#modernbricksmenu #current a{ /*currently selected tab*/
	color: white;
    background-color: #084FAD; /*Red color theme*/
    border-color: #084FAD; /*Red color theme*/
	border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;
}

#modernbricksmenuline{
    clear: both;
    padding: 0;
    width: 100%;
    height: 5px;
    line-height: 5px;
    background: #084FAD; /*Red color theme*/
}

#twocolumn #left {
    width: 100px;
}
/*
    END - Styles for the Modern Brick Menu
*/

a:visited { color: #4759ab;}
a:hover { color: #253787;}

/*Spacing of postlogin nav*/
#nav-secondary { margin-bottom: 20px }

/*Forum Hover Style*/
#container table.forumtopics tr:hover {
    background-color: #dfdfdf;
}

#form_qseek input.button {margin: 2px 0px 0px 10px}
#form_qcatadd input.button {margin: 2px 0px 0px 10px}
#form_qpadd input.button {margin: 8px 0px 0px 0px}



/******************************************

* Styles for the tabcontent class - Site Admin Tabber

*******************************************/
/*
ul.shadetabs{

padding: 3px 0;

margin-left: 0;

margin-top: 1px;

margin-bottom: 0;

font: 80% "Trebuchet MS", Arial, "Lucida Sans Unicode", Tahoma, sans-serif;
font: 83%/1.5 arial,tahoma,verdana,sans-serif;
line-height: 200%;

font-size: inherit;

list-style-type: none;

text-align: left; /*set to left, center, or right to align the menu as desired*/

/*

}



ul.shadetabs li{

display: inline;

margin: 0;

background-image: none;

padding-left: 0px;

}

*/

ul.shadetabs li a{

text-decoration: none;

background-image: url(../kim_wits/tabcontent/tab_inactive.gif);

}


/*
ul.shadetabs li a:visited{

color: #2d2b2b;

}

*/

ul.shadetabs li a:hover{

background-image: url(../kim_wits/tabcontent/tab_active.gif);

border-bottom-color: white;
color:white;
text-decoration:none;

}


/*
ul.shadetabs li.selected{

position: relative;

top: 1px;

}

*/

ul.shadetabs li.selected a{ /*selected main tab style */


background-image: url(../kim_wits/tabcontent/tab_active.gif);

border-bottom-color: white;
color:white;

}


/*
ul.shadetabs li.selected a:hover{ /*selected main tab style */
/*
text-decoration: none;

}



div.tabcontentstyle{ /*style of tab content container*/
/*
border: 1px solid gray;

width: 450px;

margin-bottom: 1em;

padding: 10px;

overflow: hidden;

}



div.tabcontent{

display:none;

}

div.tabcontentselected {
    display: block;
}

*/

@media print {

    div.tabcontent {

        display:block!important;

    }

}
*/


/**

* END -Styles for the tabcontent class

*/


#form_search .text {margin: 10px 0px 10px 0px}

#form_uploaddatafile .button {margin: 8px 0px 0px 0px}

#filemanagerimagepreview img{
    max-width: 500px;
    max-height: 500px;
}

#contentcontent img{
    max-width: 450px;
    max-height: 450px;
}

#form_addfrm {
    float: right;
}


#form_addpodcastbyupload .button {margin-top: 10px}
#form_addpodcast .button {margin-top: 10px}

#leftcontent, #contentcontent, #rightcontent {
    margin: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
   
}

#leftcontent, #rightcontent{
    width:180px;
}

#input_parentfolder {margin-top: 10px}


#form_search .text {margin: 10px 0px 10px 0px}
#form_uploaddatafile .button {margin: 8px 0px 0px 0px}
#form_search .text {margin: 10px 0px 10px 0px}

#form_uploaddatafile .button {margin: 8px 0px 0px 0px}

#filemanagerimagepreview img{
    max-width: 500px;
}

#contentcontent img{
    max-width: 450px;
}

#middleaddblock .WCHhider {margin-bottom: 10px}
#rightaddblock .button {margin-top: 10px}
#leftaddblock .button {margin-top: 10px}


/*CMS Superfish Menu Styles*/
.sf-menu li {
        background:             #FFF;
}
.sf-menu li li {
        background:             #FFF;
}
.sf-menu li li li {
        background:             #FFF;
}

/*Fixing up the bar images - Won't need padding for bars ever*/
img {
   padding: 0px;
   border: 0;
}

.chisimba-li {
	margin-left: 100px;
	list-style: circle outside; 
	color:green;
}
li {line-height: 1.4em;padding-left: 25px;list-style: circle inside}

.menulinktext{
margin-left: 25px;
}
.WCHhider{
width:150px;
margin-bottom: 15px;
}
.text{
    margin-bottom: 15px;
}

