body {
	background-color: #fff;
	color:#333;
	font:83%/1.5 arial,tahoma,verdana,sans-serif
}

li {line-height: 1.4em;padding-left: 25px}

div#header {
	background: #666 url("images/header_bkg.gif") repeat-x 0 100%;
	color: #fff;
	padding: 5px 5px 20px 5px;
}

div#header h1#sitename span{
	/* display: none */
}
div#header h1#sitename {
	height: 48px;
	background-repeat: no-repeat;
	margin: 0 0 0 20px;
	padding: 0;
}
div#header div#search {
	position: absolute;
	float: right;
	 top: 5px;
	 right: 0;
	 width: 300px;
}
#breadcrumbs {
	font-size: 80%;
}
#breadcrumbs a:link, #breadcrumbs a:visited {
	color: #fff;
	text-decoration: none;
}
#breadcrumbs a:hover {
	color: #CC0000;
	text-decoration: underline;
}
a:link, a:visited {
	color: #CC0000;
}

a:hover {
	color: #000099;
}


#footer {
    background: #fff url("images/body_bg.gif") repeat-x bottom left;
    color:#999
}

#footer p {margin:0}
#footer a:link {color:#999}
	
/* Menu */

#menu {
	padding-bottom: 10px;
}

ul#menuList  li {
	background-color: #999;
	padding: 2px;
	background-image: none;

	border-right: 3px solid	#252525;
	border-bottom: 3px solid	#666;
	font-weight: bold;
}

ul#menuList  li:hover {
	background-color: green;
}

/* Top Row*/
ul#menuList  li a {
	color: #fff;
	text-decoration: none;
	padding-right: 30px;
}

/* Items on menu*/
ul#menuList  li li a {
	color: #000;
	text-decoration: none;
	padding: 3px;
}

ul#menuList  li li a img{
	border-style: none;
	padding: 0;
	margin: 0;
}

ul#menuList  li li a span{
    margin-left: 27px;
    margin-right: 0px;
    display: block;
}

ul#menuList  li  li{
border-style: none;
width: 100%;
background: transparent;
color: #000;
font-weight: normal;
padding: 0;
}

ul#menuList  li  li:hover{
border-style: none;
background-color: #cc0000;
}

ul#menuList  li  ul{
background: transparent url('images/manuscript.jpg') no-repeat bottom left;
margin-top: 4px;
}

/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}

#content {
    background-image: url("images/notebookpage.gif");
}

#contentcontent {
    margin: 0px 20px 20px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#wrapper {
    background-image:  url("images/manuscript.jpg");
}
#right {
    background-image:  url("images/manuscript_right.jpg");
    background-position: top right;
}

#leftcontent, #rightcontent {
    margin: 20px 20px 0 10px;
    padding-bottom: 20px;
}


/* Feature Box */
.featurebox {color:#333;padding: 35px 20px 20px;margin: 0 0 1.5em;background: url("images/featurebox_bg.gif") no-repeat top right}
.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {margin: 0 0 .3em;border-bottom: 1px solid #c00;color:#c00; background-color: transparent;}
.featurebox p {border:none;margin: 0 0 1em;color:#444}
.featurebox a {font-weight:bold}
.featurebox select {width: 100%; }

/* Secondary Navigation */
#nav-secondary a {line-height:1.8;padding: 5px 0 5px 23px;background: #fff url("images/pencil.gif") no-repeat 6px ;font: bold 86% arial, sans-serif; color: #000; display:block}
#nav-secondary a:hover {color:#c00;background: #fee url("images/pencil.gif") no-repeat 8px;} 