<?xml version="1.0" encoding="ISO-8859-1"?>
<Settings>
  <KEWL_SITEROOT_PATH>C:/xamp/xampp/htdocs/5ive/app/</KEWL_SITEROOT_PATH>
  <KEWL_DB_DSN>mysqli://root:@localhost/alpharelease</KEWL_DB_DSN>
  <KEWL_DB2_DSN>mysqli://root:@localhost/alpharelease</KEWL_DB2_DSN>
  <KEWL_SITE_ROOT>localhost</KEWL_SITE_ROOT>
  <KEWL_INSTITUTION_SHORTNAME>Captian Luc John Picard</KEWL_INSTITUTION_SHORTNAME>
  <KEWL_INSTITUTION_NAME>Captian Luc John Picard</KEWL_INSTITUTION_NAME>
  <KEWL_PROXY>http://user:password@proxy.myhost.com:port</KEWL_PROXY>
  <KEWL_SYSTEMTIMEOUT>60</KEWL_SYSTEMTIMEOUT>
  <KEWL_DEFAULTICONFOLDER>icons/</KEWL_DEFAULTICONFOLDER>
  <KEWL_DEFAULT_SKIN>fsiu</KEWL_DEFAULT_SKIN>
  <KEWL_DEFAULT_LANGUAGE>english</KEWL_DEFAULT_LANGUAGE>
  <KEWL_DEFAULT_LANGUAGE_ABBREV>EN</KEWL_DEFAULT_LANGUAGE_ABBREV>
  <KEWL_BANNER_EXT>jpg</KEWL_BANNER_EXT>
  <KEWL_POSTLOGIN_MODULE>postlogin</KEWL_POSTLOGIN_MODULE>
  <KEWL_PRELOGIN_MODULE>splashscreen</KEWL_PRELOGIN_MODULE>
  <KEWL_DEFAULT_LAYOUT_TEMPLATE>default_layout_tpl.php</KEWL_DEFAULT_LAYOUT_TEMPLATE>
  <KEWL_LOGIN_TEMPLATE>login_tpl.php</KEWL_LOGIN_TEMPLATE>
  <KEWL_LOGGED_IN_TEMPLATE>loggedin_tpl.php</KEWL_LOGGED_IN_TEMPLATE>
  <KEWL_TEMPLATE_PATH>C:/xamp/xampp/htdocs/5ive/app/templates/</KEWL_TEMPLATE_PATH>
  <KEWL_CONTENT_BASEPATH>C:\xamp\xampp\htdocs\5ive\app\installer\usrfiles\</KEWL_CONTENT_BASEPATH>
  <KEWL_CONTENT_PATH>usrfiles\</KEWL_CONTENT_PATH>
  <KEWL_SITENAME>STAR SHIP: THE NEXT GENERATION</KEWL_SITENAME>
  <KEWL_SERVERNAME />
  <KEWL_MAINSERVERNAME>http://kngforge.uwc.ac.za/kng_unstable</KEWL_MAINSERVERNAME>
  <KEWL_SERVERNAME_GENERATED>TRUE</KEWL_SERVERNAME_GENERATED>
  <KEWL_SKIN_ROOT>skins/</KEWL_SKIN_ROOT>
  <KEWL_SITEROOT>localhost</KEWL_SITEROOT>
  <KEWL_ALLOW_SELFREGISTER>TRUE</KEWL_ALLOW_SELFREGISTER>
  <KEWL_ENABLE_LOGGING>TRUE</KEWL_ENABLE_LOGGING>
  <LDAP_USED>FALSE</LDAP_USED>
  <KEWL_ERROR_REPORTING>C:/xamp/xampp/htdocs/5ive/app/error_logs/error.log</KEWL_ERROR_REPORTING>
  <KEWL_SYSTEM_OWNER>Captian Luc John Picard</KEWL_SYSTEM_OWNER>
  <KEWL_SITEEMAIL>pmbekwa@uwc.ac.za</KEWL_SITEEMAIL>
  <KEWL_TECH_EMAIL>nextgen-users@cvs.uwc.ac.za</KEWL_TECH_EMAIL>
  <KEWL_LOG_FILE>C:/xamp/xampp/htdocs/5ive/app/error_logs/error.log</KEWL_LOG_FILE>
</Settings>
