<?xml version="1.0" encoding="ISO-8859-1"?>
<Settings>
  <KEWL_SITEROOT_PATH>/var/www/5ive/app/</KEWL_SITEROOT_PATH>
  <KEWL_DB_DSN>mysql://root:@localhost/php5alpha</KEWL_DB_DSN>
  <KEWL_DB2_DSN>mysql://root:@localhost/php5alpha</KEWL_DB2_DSN>
  <KEWL_SITE_ROOT>/var/www/5ive/app/</KEWL_SITE_ROOT>
  <KEWL_INSTITUTION_SHORTNAME>pas</KEWL_INSTITUTION_SHORTNAME>
  <KEWL_INSTITUTION_NAME>Paul</KEWL_INSTITUTION_NAME>
  <KEWL_PROXY>http://user:password@proxy.myhost.com:port</KEWL_PROXY>
  <KEWL_SYSTEMTIMEOUT>60</KEWL_SYSTEMTIMEOUT>
  <KEWL_DEFAULTICONFOLDER>icons/</KEWL_DEFAULTICONFOLDER>
  <KEWL_DEFAULT_SKIN>echo</KEWL_DEFAULT_SKIN>
  <KEWL_DEFAULT_LANGUAGE>english</KEWL_DEFAULT_LANGUAGE>
  <KEWL_DEFAULT_LANGUAGE_ABBREV>EN</KEWL_DEFAULT_LANGUAGE_ABBREV>
  <KEWL_BANNER_EXT>jpg</KEWL_BANNER_EXT>
  <KEWL_POSTLOGIN_MODULE>postlogin</KEWL_POSTLOGIN_MODULE>
  <KEWL_PRELOGIN_MODULE>splashscreen</KEWL_PRELOGIN_MODULE>
  <KEWL_DEFAULT_LAYOUT_TEMPLATE>default_layout_tpl.php</KEWL_DEFAULT_LAYOUT_TEMPLATE>
  <KEWL_LOGIN_TEMPLATE>login_tpl.php</KEWL_LOGIN_TEMPLATE>
  <KEWL_LOGGED_IN_TEMPLATE>loggedin_tpl.php</KEWL_LOGGED_IN_TEMPLATE>
  <KEWL_TEMPLATE_PATH>/var/www/5ive/app/templates/</KEWL_TEMPLATE_PATH>
  <KEWL_CONTENT_BASEPATH>/var/www/5ive/app/usrfiles/</KEWL_CONTENT_BASEPATH>
  <KEWL_CONTENT_PATH>usrfiles/</KEWL_CONTENT_PATH>
  <KEWL_SITENAME>Paul</KEWL_SITENAME>
  <KEWL_SERVERNAME />
  <KEWL_MAINSERVERNAME>http://kngforge.uwc.ac.za</KEWL_MAINSERVERNAME>
  <KEWL_SERVERNAME_GENERATED>TRUE</KEWL_SERVERNAME_GENERATED>
  <KEWL_SKIN_ROOT>skins/</KEWL_SKIN_ROOT>
  <KEWL_SITEROOT>/var/www/5ive/app/</KEWL_SITEROOT>
  <KEWL_ALLOW_SELFREGISTER>TRUE</KEWL_ALLOW_SELFREGISTER>
  <KEWL_ENABLE_LOGGING>TRUE</KEWL_ENABLE_LOGGING>
  <LDAP_USED>TRUE</LDAP_USED>
  <KEWL_ERROR_REPORTING>developer</KEWL_ERROR_REPORTING>
  <KEWL_SYSTEM_OWNER>Paul</KEWL_SYSTEM_OWNER>
  <KEWL_SITEEMAIL>pscott@uwc.ac.za</KEWL_SITEEMAIL>
  <KEWL_TECH_EMAIL>nextgen-users@avoir.uwc.ac.za</KEWL_TECH_EMAIL>
  <KEWL_LOG_FILE>/var/www/5ive/app/error_log/system_errors.log</KEWL_LOG_FILE>
</Settings>
