.breadcrumbs{
padding-top: 7px; 

}
.breadcrumbpadding {
	padding: 7px;
}

.tabs{
	background: url(banners/tabborder.gif) bottom repeat-x;
	background-color: #8AC6DA;
	border-bottom: none;
}

.firsttab {
	margin-bottom: -5px;
}

.secondtab {
	margin-bottom: -5px;
}
