/* 
    Document   : stylesheet.css
    Created on : 30 May 2010, 1:11:21 PM
    Author     : dkeats
    Description:
        The red canvas for demonstrating canvases
*/


html, body {
    background: #018298 url('images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Canvas_Content_Body_Region3 {
	float:left;
}
#Canvas_Content_Body_Region1 {
	float:left;
}

div#header div#search {
    margin-top: 11px;
}
