/*Fixing the H3 font size issue in IE*/
#cms_main h3 {
    font-size: 126%;
}

/** CMS Icon + text div links (Control Panel) **/

.smallicon {
    height: 85px;
    width: 85px;
    text-align: center;
    font-size: 110%;
    line-height: 80%;
    float: left;
    padding: 0px;
    margin: 2px;
    color : black;
}

.smallicon a, .smallicon a:visited {
    display: block;
    float: left;
    border: 1px solid #f0f0f0;
    height: 85px;
    width: 85px;
    vertical-align: middle;
    font-size: 110%;
    line-height: 80%;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    background: #fff;
    color : black;
}

.smallicon a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fcfcfc;
}

.smallicon img  { 
    padding: 2px 0; 
    padding-bottom: 3px; 
    margin: 0 auto;  
}

.smallicon span {
    display: block; 
    text-align: center; 
    line-height: 1em;
    font-size: 0.8em;
}

#AddContentPageParams {
    float: right;
}
