body {
	background-color: #fff;
	color:#333;
	font:83%/1.5 arial,tahoma,verdana,sans-serif
}

li {line-height: 1.4em;padding-left: 25px;background: transparent url("images/sprites.gif") no-repeat 0 0}

div#header {
	background: #666 url("images/sprites.gif") repeat-x 0 100%;
	color: #fff;
	padding: 5px 5px 10px 5px;
}

div#header h1#sitename span{
	/* display: none */
}
div#header h1#sitename {
	height: 48px;
	background-repeat: no-repeat;
	margin: 0 0 0 20px;
	padding: 0;
}
div#header div#search {
	position: absolute;
	float: right;
	 top: 5px;
	 right: 0;
	 width: 300px;
}
div#header div#msg {
    position: absolute;
    float: right;
    right: 0px;
    width: 80px;
}
div#header h1 a:link, h1 a:visited {
    color: white;
    text-decoration: none
}
div#header h1 a:link:hover, h1 a:visited:hover {
    color: silver;
    text-decoration: none
}

#breadcrumbs {
	font-size: 80%;
}
#breadcrumbs a:link, #breadcrumbs a:visited {
	color: #fff;
	text-decoration: none;
}
#breadcrumbs a:hover {
	color: #CC0000;
	text-decoration: underline;
}
a:link, a:visited {
	color: #CC0000;
}

a:hover {
	color: #000099;
}


#footer {
    background: #fff url("images/body_bg.gif") repeat-x bottom left;
    color:#999
}

#footer p {margin:0}
#footer a:link {color:#999}

/* Menu */

#menu {
	padding-bottom: 10px;
}

ul#menuList  li {
	background-color: #999;
	padding: 2px;
	background-image: none;

	border-right: 3px solid	#252525;
	border-bottom: 3px solid	#666;
	font-weight: bold;
}

ul#menuList  li:hover {
	background-color: green;
}

/* Top Row*/
ul#menuList  li a {
	color: #fff;
	text-decoration: none;
	padding-right: 30px;
}

/* Items on menu*/
ul#menuList  li li a {
	color: #000;
	text-decoration: none;
	padding: 3px;
}

ul#menuList  li li a img{
	border-style: none;
	padding: 0;
	margin: 0;
}

ul#menuList  li li a span{
    margin-left: 27px;
    margin-right: 0px;
    display: block;
}

ul#menuList  li  li{
border-style: none;
width: 100%;
background: transparent;
color: #000;
font-weight: normal;
padding: 0;
}

ul#menuList  li  li:hover{
border-style: none;
background-color: #cc0000;
}

ul#menuList  li  ul{
background: #f6f6f6 url('images/featurebox_bg.gif') no-repeat bottom right;
margin-top: 4px;
}

/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}

div#left {
    background: transparent url('images/content_wrap_bg.gif');
    background-position: 60px;
}

div#twocolumn div#left {
    background: transparent url('images/content_wrap_bg.gif');
    background-position: 10px;
}

/* background colors
#content {
	backgaround-color: #66FF66;
}
#left, #right {
	background-color: #FF9999;
}*/

div#twocolumn, div#threecolumn {
    margin-top: 20px;
}



#leftcontent, #rightcontent, #contentcontent {
    margin: 0 20px 0 10px;

}

#leftcontent, #rightcontent {
    border-top: 5px solid #999;
}

/* Tables */

th.header, thead, td.heading, tr.heading, th {
	background-color: #DCDCDC;
}

table.highlightrows tr:hover {
	background-color: #D3D3D3;
}

.odd, td.odd, tr.odd{
	background-color: #FFFFFF;
}

.even, td.even, tr.even{
	background-color: #FFE4E1;
}

.tbl_ruler{
    background-color: #D3D3D3;
}

td.widelink a {
	display:block;
}

td.widelink a:link {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:visited {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:active {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:hover {
	text-decoration: underline;
	color: red;
}

.menulink a:link {
	text-decoration:none;
	color: #A52A2A;
}

.menulink a:visited {
	text-decoration:none;
	color: #A52A2A;
}
.menulink a:active {
	text-decoration:none;
	color: #A52A2A;
}
.menulink a:hover {
	text-decoration:none;
	color: #00008B;
}

/* Tabbed box */

.shadetabs{
    padding: 3px 0;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
    font: bold 12px Verdana;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
    display: inline;
    list-style: none;
    margin: 0;
}

.shadetabs li a{
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;
    border: 1px solid #778;
    color: #2d2b2b;
    background: white url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
    color: #2d2b2b;
}

.shadetabs li a:hover{
    text-decoration: underline;
    color: #2d2b2b;
}

.shadetabs li.selected{
    position: relative;
    top: 1px;
}

/*selected main tab style */
.shadetabs li.selected a{
    background-image: url(shadeactive.gif);
    border-bottom-color: white;
}

/*selected main tab style */
.shadetabs li.selected a:hover{
    text-decoration: none;
}

/*style of tab content container*/
.tabcontentstyle{
    border: 1px solid gray;
    margin-bottom: 1em;
    padding: 10px;
}

.tabcontent{
    display:none;
}

@media print {
    .tabcontent {
        display:block!important;
    }
}

/* Feature Box */
.featurebox {color:#333;padding: 15px 15px 10px; border-top: 1px solid #d7d7d7;margin: 0 0 1.5em;background: #f6f6f6 url("images/featurebox_bg.gif") no-repeat 100% 100%}
.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {margin: 0 0 .3em; background-color: transparent;}
.featurebox p {border:none;margin: 0 0 1em;color:#444}
.featurebox a {font-weight:bold; text-decoration:none;}
.featureboxheader { border-bottom: 1px solid #0033FF;color:#c00;}
/*.featurebox select {width: 100%; }*/

/** BEGIN: Content Feature Box as used for the blocks that appear in the page body  **/
.contentfeaturebox {
	color: #333333;
	padding: 15px 20px 20px;
	border-top: 4px solid #FF6633;
	margin: 0 0 1.5em;
	background: url("images/featurebox_bg.jpg") no-repeat 100% 100%;
}

.contentfeaturebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
	margin: 0 0 .3em;
	color: #003366;
	background-color: transparent;
}
.contenttest {color: #003366}
.contentfeaturebox p {
	border:none;
	margin: 0 0 1em;
	color: #333333;
}

.contentfeaturebox a {
	font-weight:bold
}

.contentfeaturebox select {
	width: 100%;
}
/** END: Content Feature Box as used for the blocks that appear in the page body **/


/* Secondary Navigation */
#nav-secondary a {line-height:1.8;padding: 5px 0 5px 23px;background: #fff url("images/sprites.gif") no-repeat 10px -695px;font: bold 86% arial, sans-serif; color: #000; display:block}
#nav-secondary a:hover {color:#c00;background: #fee url("images/sprites.gif") no-repeat 10px -695px}

/* FORMS */
form {margin: 0 0 1.5em}
input {font-family: arial,tahoma,verdana,sans-serif;margin: 2px 0}
fieldset {border: none}
label {display:inline;padding: 5px 0}
label br {clear:left}

	/* FORMS - general classes */
	input.f-submit {padding: 1px 3px;background:#666;color:#fff;font-weight:bold;font-size:96%}
	input.button {padding: 1px 3px;background:#666;color:#fff;font-weight:bold;font-size:96%}

/* FORMS - f-wrap-1 - simple form, headings on left, form elements on right */
	form.f-wrap-1 {width:100%;padding: .5em 0;background: #f6f6f6 url("images/featurebox_bg.gif") no-repeat 100% 100%;border-top: 1px solid #d7d7d7;position:relative}
		form.f-wrap-1 fieldset {width:auto;margin: 0 1em}
		form.f-wrap-1 h3 {margin:0 0 .6em;font: bold 155% arial;color:#c00}
		form.f-wrap-1 label {clear:left;float:left;width:100%;border-top: 1px solid #fff}

		/* hide from IE mac \*/
		form.f-wrap-1 label {float:none}
		/* end hiding from IE5 mac */

		form.f-wrap-1 label input, form.f-wrap-1 label textarea, form.f-wrap-1 label select {width:15em;float:left;margin-left:10px}

		form.f-wrap-1 label b {float:left;width:8em;line-height: 1.7;display:block;position:relative}
		form.f-wrap-1 label b .req {color:#c00;font-size:150%;font-weight:normal;position:absolute;top:-0.1em;line-height: 1.2;left:-.4em;width:.3em;height:.3em}
		form.f-wrap-1 div.req {color:#666;font-size:96%;font-weight:normal;position:absolute;top:.4em;right:.4em;left:auto;width:13em;text-align:right}
		form.f-wrap-1 div.req b {color:#c00;font-size:140%}
		form.f-wrap-1 label select {width: 15.5em}
		form.f-wrap-1 label textarea.f-comments {width: 20em}
		form.f-wrap-1 div.f-submit-wrap {padding: 5px 0 5px 8em}
		form.f-wrap-1 input.f-submit {margin: 0 0 0 10px}

		form.f-wrap-1 fieldset.f-checkbox-wrap, form.f-wrap-1 fieldset.f-radio-wrap {clear:left;float:left;width:32em;border:none;margin:0;padding-bottom:.7em}
		form.f-wrap-1 fieldset.f-checkbox-wrap b, form.f-wrap-1 fieldset.f-radio-wrap b {float:left;width:8em;line-height: 1.7;display:block;position:relative;padding-top:.3em}
		form.f-wrap-1 fieldset.f-checkbox-wrap fieldset, form.f-wrap-1 fieldset.f-radio-wrap fieldset {float:left;width:13em;margin: 3px 0 0 10px}
		form.f-wrap-1 fieldset.f-checkbox-wrap label, form.f-wrap-1 fieldset.f-radio-wrap label {float:left;width:13em;border:none;margin:0;padding:2px 0;margin-right:-3px}
		form.f-wrap-1 label input.f-checkbox, form.f-wrap-1 label input.f-radio {width:auto;float:none;margin:0;padding:0}

		form.f-wrap-1 label span.errormsg {position:absolute;top:0;right:-10em;left:auto;display:block;width:16em;background: transparent url(images/errormsg_bg.gif) no-repeat 0 0}
		form.f-wrap-1 label span.errormsg b {padding: 10px 0;margin: 0 10px 0 30px;color:#B30800;font-weight:bold;display:block;width:auto;float:none;line-height:1.3}


input {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}

select
 {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}
textarea {
         border : 1px solid #ccc;
        z-index: -3;
        font-size: 11px;
}



.smallicon {
	height: 70px;
	width: 85px;
	text-align: center;
	font-size: 70%;
	line-height: 100%;
	float: left; 
	padding: 0px;
	margin: 2px;
}

.smallicon a {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 70px;
	width: 85px;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	background: #fffef3;
}

.smallicon a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
}
