/*
    An eLearning skin for the Sangari eLearning system

    VERSION 2 to replace the original METALLIC derived skin

    It uses the skin engine version 2 for Chisimba.

    Author: Derek Keats
    License: GPL V2

*/

body {
    background-color: #007FAA;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    font: 70% "Verdana", Arial, Tahoma, sans-serif;
    line-height: 200%;
}

/** Canvas styles **/
.ChisimbaCanvas {
    width: auto;
    padding:0px;
}

#Canvas_Content {
    padding:0;
    margin-left: 0;
    margin-right: 0;
}
#Canvas_BeforeContainer {
    height: 0px;
}
.Canvas_Column {
    margin-top: 0px;
}
#Canvas_Content_Body{
    margin-top: 0px;
}
#Canvas_Content_Body_Region1 {
    float:left;
    width:220px;
    margin-top: 3px;
    padding-bottom:4px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 4px;
}
#Canvas_Content_Body_Region2 {
    overflow: auto;
    width:auto;
}
#Canvas_Content_Body_Region3 {
    float:right;
    width:220px;
}



#middlearea {
    margin-top: 5px;
    margin-bottom: 10px;
}

body.popupwindow, body.iframewindow {
    background: #FFF;
    padding: 0;
}

body.popupwindow #middlearea, body.iframewindow  #middlearea{
    margin:0;
    padding: 0;
}

/* LINKS */
a {
    color: #0000FF;

}
a:hover, #footer a:hover {
    color: #C00;
}

a img {
    text-decoration: none;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif;
    margin-bottom: 10px;
}
h1, h2 {
    font-size: 150%;
}

#breadcrumbs {
    margin: 0;
    padding-left: 10px;
    background-color: #FFF;
}

#container {
    background-color: #FFF;
    box-shadow: 0px 0px 16px black;
    -webkit-box-shadow: 0px 0px 16px black;
    -moz-box-shadow: 0px 1px 16px black;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=black, offX=0, offY=0, positive=true);

}

#header {
    background: url('images/bannerbkg.jpg') #FFF top right no-repeat;
    margin-top: 35px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 4px;
    margin-right: 10px;
}

h1#sitename {
    background: url('images/banner.jpg') top left no-repeat;
    width: 354px;
    height: 95px;
    margin: 0;
    padding: 0;
}


h1#sitename a {
    width: 354px;
    height: 90px;
    display: block;
    text-decoration: none;
}

h1#sitename span {
    visibility: hidden;
}

#search {
    color: #fff;
    margin: 0;
    padding-right: 20px;
    text-align: right;
    width: 400px;
}

#search a {
    color: #fff;
}

#search a:hover {
    color: #C00;
}

/* Locate the search box correctly */
 div#header div#search {
    margin: 0;
    margin: 10px;
    padding: 10px;
    color: gray;
    width: 360px;
    position: absolute;
    float: right;
    margin-top:  20px;
    margin-right:  43px;
}
/* End of search box */

#Canvas_Content_Body_Region2 {
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}

#Canvas_Content_Body_Region1, #contentcontent,
#Canvas_Content_Body_Region2,
#Canvas_Content_Body_Region3 {
    padding: 10px;
}

#Canvas_Content_Body_Region1, #content,
#Canvas_Content_Body_Region2,
#Canvas_Content_Body_Region3 {
    background-color: #FFF;
}

#nav-secondary, body.help-popup {
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    padding: 10px;
}

/** Fix up page navigation in course content **/
table.pagenavigation {
    border-spacing: 8px;
}

table.pagenavigation td:nth-child(odd) {
    background: transparent url("images/bottom-content-nav-back.png") top left repeat-x;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

table.pagenavigation td:nth-child(even) {
    background: transparent url("images/bottom-content-middle-nav-back.png") top left repeat;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#tablenav hr {
    visibility: hidden;
}

table.toppagenavigation {
    border-spacing: 8px;
}

table.toppagenavigation td {
    background: transparent url("images/top-content-nav-back.png") top left repeat-x;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}


.featurebox {
    margin-bottom: 10px;
}

.featureboxheader {
    padding: 5px;
    margin: 0;
}

.featureboxcontent {
    padding: 5px 5px 0px 5px;
    margin: 0;
}

#Canvas_Content_Body_Region1 .featureboxheader, #Canvas_Content_Body_Region3 .featureboxheader, #Canvas_Content_Body_Region2 .featureboxheader {
    background: url('images/featureboxheader.gif') #045C97 top left repeat-x;
    border-left: 2px solid #056EB5;
    border-right: 2px solid #056EB5;
    font-size: 110%;
}

#Canvas_Content_Body_Region1 .featureboxheader, #Canvas_Content_Body_Region1 .featureboxheader a, #Canvas_Content_Body_Region3  .featureboxheader, #Canvas_Content_Body_Region3  .featureboxheader a, #Canvas_Content_Body_Region2 .featureboxheader, #Canvas_Content_Body_Region2 .featureboxheader a {
    color: #FFF;
}

#Canvas_Content_Body_Region2 h5.featureboxheader {
    font-size: 150%;
}


#Canvas_Content_Body_Region1 .featureboxcontent , #Canvas_Content_Body_Region3 .featureboxcontent, #Canvas_Content_Body_Region2 .featureboxcontent {
    border: 2px solid #056EB5;
    background: #FFF;
}

fieldset {
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
}

/* For thumbnails in canvas manager */
.canvasthumb {
    width: 160px;
    height: 160px;
    padding: 5px;
    margin: 5px;
    vertical-align:top;
    background: grey;
    float: left;
    border-radius: 5px;
    border: 1px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.canvasthumb img {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}


hr { border: none; margin: 10px; }

#Canvas_Content_Body_Region1 select, #Canvas_Content_Body_Region3 select{
    width: 100%;
}

form {margin-bottom: 10px;}

input[type="checkbox"] {
    margin-top: 2px;
}

th {
    background-color: #01203C;
    color: #FFF;
    padding-left: 3px;
    padding-right: 3px;
}

td {
    padding-left: 3px;
    padding-right: 3px;
}

th a {
    color: #CACACA;
}

.calendarTable td {
    padding: 0;
}

#footer {
    background-color: #056EB5;
    color: #FFF;
    padding: 5px;
    border: 1px solid #FFF;
}

#footer a {
    color: #82B6DA;
    font-weight: bold;
}




/* */

#menu {
    margin-left: 0;
}

#menu>ul>li {
    padding-left: 5px;
    padding-right: 5px;
    width: 90px;
    margin-right: 30px;
}

#menu>ul>li:hover{
    background-color: #01203C;
    border: 1px solid #CCCCCC;
    color: #FFF;
}

#menu>ul>li:hover>a, #menu>ul>li:hover>a:hover {
    color: #FFF;
}

#menu img {
    padding-top: 5px;
}

#menu li ul {
    border: 1px solid #CCCCCC;
    padding: 3px;
    padding-right: 5px;
    margin-left: -6px;
}

#menu li {
    border: 1px solid transparent;
}


#menu li ul li:hover{
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
}

/* Turn off modern brick menu */
#modernbricksmenu,  #modernbricksmenuline {
    display: none;
}

/* Tab Content */
ul.shadetabs li a {
    background: white url(images/shade.gif) top left repeat-x;
}

ul.shadetabs li.selected a{ /*selected main tab style */
    background-image: url(images/shadeactive.gif);
}

/* News Menu */

#newsmenu ul{
list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#newsmenu li {
    border-bottom: 1px solid #90bade;
    margin: 0;
    width: 90%;
}

#newsmenu li a{
    display: block;
    padding: 5px 5px 5px 8px;
    border-left: 10px solid #1958b7;
    background-color: #2175bc;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

html>body #newsmenu li { /*Non IE6 width*/
    width: auto;
}

html>body #newsmenu li a{ /*Non IE6 width*/
    width: auto;
}

#newsmenu li a:hover{
    border-left: 10px solid #1c64d1;
    background-color: #2586d7;
    color: #fff;
}

#newsfeeds {
    display: none;
}

.userbizcard td {
    padding: 3px;
}

.userbizcard h1 {
    margin-top: 10px;
}

.userbizcardleft {
    background-color: #D7DDE2;
}

#editmode {
    padding-top: 0;
}

/*
li.active {
    font-weight: bold;
}
*/

#nav-secondary .sidebarhomelink, #nav-secondary .first {
    display: none;
}

#nav-secondary li.personalspace {
    display: none;
}

/************* eLearing Specific Requests ***************/
.noRecordsMessage {
    font-size: small;
    text-align: right;
}

.filemanagertree {
	width: 100%;
	overflow: scroll;
}

/** File manager **/
#input_filequery{
    width: 130px;
}

/** Course search **/
#form_contextsearch {
    margin-top:-25px;
}
#form_contextsearch #input_search {
    width: 130px;
}

/** Splashscreen **/
.splashscreenwrapper {
    margin: auto;
    background: transparent;
}
.splashscreen {
    background: transparent url('../../packages/splashnostalgia/resources/screens/Chalkboard.png') no-repeat top center;
    width:496px;
    height: 435px;
    padding: 0px;
    margin: auto;
}
.splashcontents {
    margin: auto;
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 60px;
}
a.contexttitle {
    color: #003366;
    font-size: larger;
    padding-left: 5px;
}


/** Creative commons license dropdowns **/

option.copyright {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/copyright.gif');
    background-repeat: no-repeat;
}
option.by {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/by.gif');
    background-repeat: no-repeat;
}
option.by-sa {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/by-sa.gif');
    background-repeat: no-repeat;
}
option.by-nd {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/by-nd.gif');
    background-repeat: no-repeat;
}
option.by-nc {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/by-nc.gif');
    background-repeat: no-repeat;
}
option.by-nc-sa {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/by-nc-sa.gif');
    background-repeat: no-repeat;
}
option.by-nc-nd {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/by-nc-nd.gif');
    background-repeat: no-repeat;
}
option.gnu-fdl {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/gnu-fdl.gif');
    background-repeat: no-repeat;
}
option.by-sa_gnu-fdl {
    padding-left:90px;
    background-image: url('../_common/icons/creativecommons_v3/by-sa_gnu-fdl.gif');
    background-repeat: no-repeat;
}
/** End of CC License styles **/

/** GLOSSY TABS FOR THE TOOLBAR **/
/*Credits: By Santosh Setty (http://webdesigninfo.wordpress.com) */
/*Posted to: Dynamic Drive CSS Library (http://www.dynamicdrive.com/style/) */

.glossytabs{
    position: relative;
    margin: 0;
    background: url(images/glossytabs/menub_bg.gif) repeat-x; /*tab background image path*/
    height: 46px;
    list-style: none;
}

.glossytabs li{
    float:left;
    margin-left: 3px;
    margin-right: 3px;
}

.glossytabs li a{
    float: left;
    display: block;
    color:#000;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding:0 0 0 16px; /*Padding to accomodate left tab image. Do not change*/
    height: 46px;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
}

.glossytabs li a strong{
    float: left;
    display: block;
    padding: 0 16px 0 0px; /*Padding of menu items*/
}

.glossytabs li.current a, .glossytabs li a:hover{
    color: #fff;
    background: url(images/glossytabs/menub_hover_left.gif) no-repeat; /*left tab image path*/
    background-position: left;
}

.glossytabs .glossytabs li a:hover{
    color: #fff;
    background: url(images/glossytabs/menur_hover_left.gif) no-repeat; /*left tab image path*/
    background-position: left;
}

.glossytabs li.current a strong, .glossytabs li a:hover strong{
    color: #fff;
    background: url(images/glossytabs/menub_hover_right.gif) no-repeat right top; /*right tab image path*/
}

/** General fixups **/
#form_loginform input {
    width: 170px;
}

#nav-secondary {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white),
                color-stop(65%, white), color-stop(100%, #f7f7f7));
    background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
}

#nav-secondary li {
    margin-left:-2px;

}

#nav-secondary li:before {
    content: "\00BB \0020";
    color: #ff0000;
    font-size: 0.8em;
}


/** pagenotes module **/
.annotator_comment {
    margin-right: 55px;
}

/***
Styles for the Chisimba wall module
*/
.clear {
    clear:both;
}
.wall_wrapper {
    width:448px;
    margin:0 auto;
    text-align:left;
}
#updateBox {
    background-color:#F2F2F2;
    border:1px solid #B5B5B5;
    padding:4px;
}
.wallpost {
    width:98%;
    height:70px;
    border-color:#7C7C7C #C3C3C3 #DDDDDD;
    border-style:solid;
    border-width:1px;
}

.shareBtn {
    background:#3b5998;
    float:right;
    color:#ffffff;
    font-weight:bold;
    border:0;
    padding:4px;
    margin-top:2px;
}
.msg {
    min-height:38px;height:auto!important;height:38px;_height:38px;
    margin-top:8px;
    margin-bottom:8px;
    /*border-bottom:1px solid #B5B5B5;
    padding-bottom:4px;*/
    color: #666666;
    font-size:13px;
}

.wall_post_info {
    margin-top:8px;
    margin-bottom:8px;
    border-bottom:1px solid #B5B5B5;
    padding-bottom:4px;
    color: #999999;
    font-size:13px;
}

.wallpostrow {
    margin-top: 15px;
}

.msg a {
    color:#3B5998;
    text-decoration:none;
}

.msg a:hover {
    text-decoration:underline;
}

.wallposter {
    font-weight: bold;
}

.small_user_image {
    float: left;
    height: 35px;
    width: 35px;
    margin-right:5px;
    margin-bottom: 5px;
}

a.delpost {
    float: right;
}

.delpost:hover {
    background-color: yellow;
    text-decoration: none;
}

.pgthumbimage {
    vertical-align: middle;
}

.blogpreview {
    border: 1px solid silver;
}

#chatDiv {
    height: 500px;
    border: none;
    background: rgb(204,204,204); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

#sendDiv {
    background: rgb(5,110,181); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(5,110,181,1) 0%, rgba(41,137,216,1) 23%, rgba(183,209,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,110,181,1)), color-stop(23%,rgba(41,137,216,1)), color-stop(100%,rgba(183,209,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(5,110,181,1) 0%,rgba(41,137,216,1) 23%,rgba(183,209,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(5,110,181,1) 0%,rgba(41,137,216,1) 23%,rgba(183,209,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(5,110,181,1) 0%,rgba(41,137,216,1) 23%,rgba(183,209,229,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(5,110,181,1) 0%,rgba(41,137,216,1) 23%,rgba(183,209,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#056eb5', endColorstr='#b7d1e5',GradientType=0 ); /* IE6-9 */
}

.chatbubble {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    background: rgb(229,229,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.chat_user {
    color: #003366;
    font-weight: bolder;
}

.chat_date {
    color: #056EB5;
}

.chat_input {
    width: 100%;
}

.chat_buttons {
    padding-left: 20px;
}

.chat_buttons button {
    margin-bottom: 6px;
}

/** Module catalogue **/
.modcat_left {
    padding: 4px;
}
.modcat_left .tagcloud {
    background: url("images/overlay50.png") top left repeat;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.20);
    box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.20);
}
.moduleupdate {
    background: url("images/overlay50.png") top left repeat;
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 30px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.20);
    box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.20);
}
.moduleupdate .floatright {
    position: relative;
    float: right;
}
.modcat_main td span.floatright {
    background:transparent;
}
.moduleupdate .floatright img {
    vertical-align: middle;
    margin-right: 10px;
}
.moduleupdate b img {
    vertical-align: middle;
    margin-right: 10px;
}
.modcatdesc {
    margin-left: 42px;
    color: darkslategray;
}
.modcatdesc b {
    color: #003366;
}


/** MCQ - Multiple Choice Quiz **/
.mcq_main {
    background: url("images/overlay50.png") top left repeat;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-top: 6px;
    font-size: 130%;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.47);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.47);
}

.mcq_main table.mcq_overview {
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
}

.mcq_main table.mcq_overview tr:nth-child(odd) {
    background:  transparent url("images/odd.png") top left repeat;
    margin-bottom: 40px;
}
.mcq_main table.mcq_overview tr:nth-child(even) {
    background:  transparent url("images/even.png") top left repeat;
    margin-bottom: 40px;
}

.mcq_main table.mcq_questions {
    margin-bottom: 5px;
}

.mcq_main tr {
   
}

.mcq_main table.mcq_questions td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}


.mcq_main td p {
    background: transparent;
    margin: 0px;
    padding: 0px;

}

/** Marketing widgets (style used in text) **/
.coolwidget_100 {
    width: 96%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.coolwidget_wide {
    position: relative;
    float: left;
    width: 464px;
    height: 190px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.coolwidget {
    position: relative;
    height: 190px;
    width: 220px;
    float: left;
    margin: 8px;
    overflow: hidden;
}
.coolwidget, .coolwidget_wide, .coolwidget_100 {
    padding: 5px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop(0%, white), color-stop(65%, white),
        color-stop(100%, #f7f7f7));
    background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
    -moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    font-size: 125%;
    line-height: 135%;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.47);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.47);
}
.coolwidget_title {
    display: block;
    color: dodgerblue;
}
.coolwidget img, .coolwidget_wide img {
    font-size: 150%;
    position: relative;
    margin-right: 5px;
    float: left;
}
.coolwidget .author {
    font-size: 90%;
    font-weight: 200;
    color: #1c64d1;
}
.userpresence {
    background: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}
.userpresence img {
    vertical-align:middle;
}

/*
    Styles for odd/even table rows.
*/
td.odd {
     background: url("images/even.png") top left repeat;
}

td.even {
     background: url("images/odd.png") top left repeat;
}

th.heading {
    background: #045C97 url("images/featureboxheader.gif")  top left repeat-x;
}

.announcement_hider {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white),
                color-stop(65%, white), color-stop(100%, #f7f7f7));
    background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
}
.flickr_img_wrapper {
    width: 640px!important;
    height: 480px!important;
    background-size: contain;
}