.tree
{
	/*overflow:auto;*/
	height:100%;
	width:100%;
	/*border:1px solid #c3daf9;*/
	/*font: normal 11px arial, tahoma, helvetica, sans-serif;*/
	color:#FFF;
	font-size:12px;
}
.tree a
{
	color:#000;
	text-decoration:none;
}
.tree li, .tree ul
{
	list-style: none;
	/*background-color:;*/
}
.tree li
{
	padding:0px 0px 0px 32px;
	line-height:17px;
	width:100%;
	margin: 0;
	cursor: default;
	white-space: nowrap;
}
.tree ul
{
	margin:0 0 0 -13px;
	padding:0;
}
.tree li.leaf
{
	background: url(images/leaf.gif) no-repeat -2px 0 ;
}
.tree li.leaf-last
{
	background: url(images/leaf-last.gif) no-repeat -2px 0 ;
}

.tree .folder-close
{
	background: url(images/expandable.gif) no-repeat -2px 0 ;
}
.tree .folder-close-last
{
	background: url(images/expandable-last.gif) no-repeat -2px 0 ;
}
.tree .folder-open
{
	background: url(images/collapsable.gif) no-repeat -2px 0 ;
}
.tree .folder-open-last
{
	background: url(images/collapsable-last.gif) no-repeat -2px 0 ;
}
.tree .root{
	background: url(images/root.gif) no-repeat 16px 2px ;
}
.tree .toggler
{
	float:left;
	margin-left:-34px;
	height:16px;
	width:32px;
	background-image:url(images/spacer.gif);
	cursor:pointer;
}
.tree ul.ajax
{
	background: url(images/spinner.gif) no-repeat 0 0 ;
	height: 16px;
}
.tree ul.ajax li
{
	display:none;
}
.tree .text{}
.tree .active{
	/*background-color:#F7BE77;*/
	background-color:#FFF;
	padding:1px 2px;
	border: 1px dashed #444;
}
