body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#ffffff;
}

#wrap {
    width:100%;
    margin:0 auto;
    background: #ffffff;
}
#wrap table{
    margin-left:20px;
}
#header {
    padding:5px 10px;
    background:#ddd;
}
h1 {
    margin:0;
}
hr{
    color:#c99;
}
#nav {
    padding:5px 10px;
    background:#c99;
}
#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
    display:inline;
    margin:0;
    padding:0;
}
#main {
    float:left;
    width:480px;
    padding:10px;
    margin-left: 30px;
    background: #ffffff;
}
h2 {
    margin:0 0 1em;
}
#sidebar {
    float:right;
    width:230px;
    padding:10px;
    background: #ffffff;
}
#footer {
    clear:both;
    padding:5px 10px;
    background:red;
}
#footer p {
    margin:0;
}

* html #footer {
    height:1px;
}



#header{
      background: #ffffff;
}
.Canvas_Content_Head_Header{
    background: #ffffff;
}