
/*******************colors*******************************************

blue1     rgb(202,223,234)
blue gray rgb(201,211,220)
segalike  rgb(74,91,111)
gray1      rgb(102,102,102)
gray2     rgb(153,153,153)
gray3     rgb(88,88,88)(lighter)
gray4     rgb(67,67,67)(darker)
gray5     rgb(50,50,50)(darker)







***********************************************************************/


body{

    background-repeat:no-repeat;
    background-color:rgb(67,67,67);//rgb(201,211,220);//rgb(74,91,111);
    background-position:center center;
    background-attachment:fixed;
}

h3 {
    color:silver;
    text-align:left;
    font-weight:bolder;
    font-style:italic;
}

.featurebox h5 {
    color:gray;
}

.contentfeaturebox{
    background-color:gray;//rgb(201,211,220);
    border:none;
    border-top:2px solid gray;
    border-left:2px solid gray;
    border:3px ridge gray;
    background-position:center center;
    background-attachment:fixed;

}
.contentfeaturebox td{
    color:silver;
    border-bottom:1px dashed silver;

}
//links
a.yuimenuitemlabel:link{
    color:white!important;
    font-weight:bold!important;

}
a.yuimenuitemlabel:visited{
    color:white;
    font-weight:bold;

}


a.yuimenuitemlabel:hover{
    color:yellow;
    background-color:transparent;
}

a.yuimenuitemlabel:active{
    color:white;
    background-color:transparent;
}


a.headerlink:link{
    color:silver!important;
}
a.headerlink:visited {
    color:silver!important;
}
a.headerlink:hover {
    color:white!important;
    text-decoration:underline!important;
    background-color:transparent;
}
a.headerlink:active {
    color:white!important;
    text-decoration:underline!important;
}


a.itemlink:link{
    color:white!important;
}
a.itemlink:visited {
    color:white!important;
}
a.itemlink:hover {
    color:yellow!important;
    text-decoration:underline!important;
    background-color:transparent;
}
a.itemlink:active {
    color:white!important;
    text-decoration:underline!important;
}

#container {

    background-color:rgb(67,67,67);


}

#leftcontent, #rightcontent {
    border-top:none;
}

.contentfeaturebox a:link{
    color:gray;
}
.contentfeaturebox a:visited{
    color:gray;
}

.yuimenuitem{
    background-color:rgb(67,67,67);
    color:white!important;
    border:2px ridge white;
}

.bd{
    color:white;
    background-color:gray;

}

div.yuimenu{
    color:white;
    background-color:rgb(67,67,67);
    border:1px solid white;
    background-image:none;
}

div.bd li{
    color:white!important;
    font-weight:bold!important;
}

div.bd ul{
    color:white!important;
    font-weight:bold!important;
}

td .featurebox{
    background-image:none;
    background-color:silver;
    border:1px solid white;
}

#input_invitationtext,#input_friendmail{
    color:white;
    font-weight:bold;
    border:1px white solid;
    background-color:gray;
    width:90%;

}
#sendmail , .button{
    border:1px white solid;
    cursor:hand;
    cursor:pointer;
}
.yuimenuitem , .yuimenuitemlabel {
    color:white!important;
    font-style:italic;
}

#about {
    color:white;
    background-color:gray;
    border:90px gray solid;

}
#about h2{
    width:100%;
    color:silver;
    float:center;    
}
.dynamic-tab-pane-control .tab-page {
    background-color:gray!important;
    border:2px silver ridge;
}
.dynamic-tab-pane-control .tab-page input,.dynamic-tab-pane-control .tab-page textarea {
    color:white;
    background-color:rgb(67,67,67)!important;
    font-weight:bold;
    border:1px solid white;
    
}

//gallery

table#gallery td , img{

    width:80px;
    height:80px;
    border:5px inset red;
}

table {
 table-layout:fixed;
 empty-cells:show;
}

td {
 overflow:hidden;
}

table#extras {
table-layout:auto;

}
table#extras td {
overflow:show;
}
