/* 
    Document   : stylesheet
    Created on : 23 May 2012, 9:30:35 PM
    Author     : monwabisi
    Description:
        Purpose of the stylesheet follows.
*/

/*@import "../metallic/stylesheet.css";*/
html, body{
    margin-top: 2pc;
    height: 100%;
}
.ChisimbaCanvas{
    width: 100%;
    font-family: Ubuntu light, Century gothic, Arial;
    font-size: 1pc;
}
div#header{
    margin-top: -4.5pc;
    width: 100%;
    min-height: 10pc;
    box-shadow: 0 3px 4px #666;
}
div#navigation{
    width:100%;
    background: transparent;
    margin-top: -5pc;
    margin-left: 0.5pc;
}
h1#sitename{
    text-align: center;
    margin-top: -2pc;
    font-size: 3pc;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #FFFFFF;
}
#menu ul li{
    text-align: center;
    font-size: 1.5pc;
    width: 10pc;
}
.menulinktext{
    font-size: 5pc;
}

div#breadcrumbs{
    font-size: 1.2pc;
}
div.Canvas_Content_Head{
    margin-top: 1pc;
}
div.Canvas_Content_Head_Breadcrumbs_After{
    margin-top: 1pc;
}
.toolbar_left,  #header,#footer, .featurebox, ul#nav-secondary,  .currentstory{
    border: 4px solid #FFFFFF;
}
.toolbar_left, div.featurebox, ul#nav-secondary, .currentstory{
    box-shadow: 0 1px 2px #666;
}
div#Canvas_Content_Body_Region3{
    float:right;
    width:19%;
    border: 0.5pc solid #FFFFFF;
    box-shadow: 0 0 0.3pc #7c7c7c;
}
div#Canvas_Content_Body_Region1{
    float:left;
    width:18%;
    border: 0.5pc solid #FFFFFF;
    box-shadow: 0 0 0.3pc #7c7c7c;
}
div#Canvas_Content_Body_Region2 {
    width: available;
    padding: 1pc;
    overflow: hidden;
    box-shadow: 0 0 0.3pc #7c7c7c;
}
#modeswitch_wrapper.editing_off:hover{
    background-color: #21AAF7;
}
#modeswitch_wrapper.editing_off a{
    color: #FFFFFF;
    text-decoration: none;
}
div#Canvas_Content_Body{
    margin-top: 2pc;
}
h5.featureboxheader{
    background-color: #fff;
    border-radius: 2px;
}
ul#menuList li{
    text-align: center;
}
#menu li:hover, #nav-secondary li:hover{
    background-color: #21aaf7;
    color: #fff;
}
form#form_loginform{
    background-color: transparent; 
    margin-left: 0;
    text-align: center;
}
div.menulinktext {
    text-align: center;
    font-size: 1.1pc;
}
div.menulinktext:hover{
    background-color: #21aaf7;
    color: #fff;
}
/*input elements*/
form#form_loginform input[type='password'], form#form_loginform input[type='search'], form#form_loginform input[type='text']{
    background: #fff;
}
input[type='text'], input[type='password'], input[type='search'], input[type='email']{
    background: #fff;
    border: 1px transparent #7c7c7c;
    border-radius: 2px;
}
input[type='select']{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    background-image: -moz-linear-gradient(-10% 90% 90deg,#eee, #fff);
}
input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, intpu[type='email']:focus{
    box-shadow: 0 0 3px #666;
    border: 1px solid #fff;
}
.button, .sexybutton, .buttonlink, ul#menuList li>a{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    background-image: -moz-linear-gradient(-10% 90% 90deg,#eee, #fff);
    border: 1px solid #eee;
    border-radius: 2px;
    font-weight: normal;
    color: #000;
    box-shadow: 0 0 2px #000;
    text-shadow: 0 0 3px #fff;
}
h5.featureboxheader, div.featurebox, .currentstory, ul#nav-secondary, div#navigation, h1#sitename, ul#menuList li{
    border-radius: 3px;
}
.buttonlink{
    margin: 15px 3px;
}
.sexybutton span>span, .sexybutton span{
    background: none;
}
.button:hover, .sexybutton:hover{
    cursor: pointer;
    box-shadow: 0 0 2px #21aaf7;
}

/*all links*/
a{
    color: #000;
}

/*the jquery search form*/
div#search{
    position: static;
    float: right;
    margin-top: -8%;
    width: 350px;
}
div#footer{
    background-color: #fff;
    box-shadow: 0 3px 4px #666;
}
div#footer a{
    color: #ff2121;
}
/*the register form*/
div.content{
        font-size: 0.8pc;
}

/*the block highlighter*/
.highlightblock{
    -webkit-box-shadow: 0 0 15px #ff2121;
    -moz-box-shadow: 0 0 15px #ff2121;
    box-shadow: 0 0 15px #ff2121;
}
.toolbar_left, .featurebox,  .currentstory, #header,#footer, #nav-secondary{
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E4E4E4));
    background-image:-moz-linear-gradient(-10% 90% 90deg,#E4E4E4, #FFFFFF);
}
td.odd{
    background: #eee;
    border: none;
    box-shadow: 0 0 2px #000;
}
td.even{
    border: none;
    box-shadow: 0 0 2px #eee;
}

