.blur{
background-color: #ccc;
color: inherit;
margin-left: 4px;
margin-top: 4px;
}
.shadow,
.content{
position: relative;
bottom: 2px;
right: 2px;
}
.shadow{
background-color: #666;
color: inherit;
}
.content{
background-color: #fff;
color: #000;
border: 1px solid #000;
padding: .5em 2ex;
}

.content h2{
margin: 0;
}

.one{
background: transparent url(shadow1.png);
color: inherit;
clear: both;
}

.two{
background: transparent url(shadow2.png);
color: inherit;
}

.float{
float: right;
width: 30%;
margin-left: 1em;
margin-bottom: 1em;
}

img.shade{
width: 37ex;
height: 9em;
display: block;
position: absolute;
z-index: -1;
right: -3ex;
bottom: -1em;
}
div.shade{
clear: both;
width: 30ex;
text-align:center;
text-valign: center;
height: 6em;
position: relative;
z-index: 1;
background-color: #fff;
border: 1px solid #000;
padding: 1em 2ex;
margin-right: 6ex;
margin-bottom: 3em;
}

#text,#head{
font-size: 3em;
display: block;
line-height: 1em;
color: #666;
background-color: transparent;
white-space: nowrap;
}

#text:before,
#text:after{
content: "text shadow";
display: block;
}

#head:before,
#head:after{
content: "Drop Shadow CSS";
display: block;
}

#text:before,
#head:before{
margin-bottom: -1.05em;
margin-left: 0.1ex;
color: #ccc;
background-color: transparent;
}
#text:after,
#head:after{
margin-top: -1.05em;
margin-left: -0.1ex;
color: #fff;
background-color: transparent;
}

h2#stretch{
clear: both;
}