Options +FollowSymLinks
Options +Indexes

RewriteEngine on

# Rule for module
RewriteRule ^([^,]+)$  index.php?module=$1&%{QUERY_STRING}

# Rule for module + action
RewriteRule ^([^,]+),action_([^,]+)$ index.php?module=$1&action=$2&%{QUERY_STRING}

# Rule for module + action + id
RewriteRule ^([^,]+),action_([^,]+),id_([^,]+)$ index.php?module=$1&action=$2&id=$3&%{QUERY_STRING}



# Additional Rules for people who try to hack via URL - i.e. Add 
#Additonal Items after querystring
#RewriteRule ^([^,]+)(.+)$  index.php?module=$1&%{QUERY_STRING}
#RewriteRule ^m_([^,]+),action_([^,]+)(.+)$ index.php?module=$1&action=$2&%{QUERY_STRING}
#RewriteRule ^m_([^,]+),action_([^,]+),id_([^,]+)(.+)$ index.php?module=$1&action=$2&id=$3&%{QUERY_STRING} [R]

# Rule to map http://domain.com to http://www.domain.com etc NOTE: Uncomment and Change the URL to suit your install...
#RewriteCond %{HTTP_HOST} !^www.domain.com$ [NC]
#RewriteRule ^(.*)$ http://www.domain.com/$1 [R,L]
