html, body {

    background-color: #FFFFFF;
    color: #000000;
    font: 100%/1.5 palatino;
    font-family:Georgia,serif;
    /*font: 90%/1.5 palatino; */
    line-height: 200%;
    background: url('images/bkgrnd1.jpg'); 
    background-attachment: fixed;
}

/** BEGIN: Content Feature Box as used for the blocks that appear in the page body  **/
.contentfeaturebox {
       background: url("images/overlay-sm.png") top left repeat;  
       position: relative;
       padding-top: 0.7em;
       padding-right: 0pt;
       padding-bottom: 0.6em;
       padding-left: 0pt;
       border-bottom-width: 1px;
       border-bottom-style: dashed;
       border-bottom-color: #d2dada;
       line-height: 1.1em; 
}

/*.contentfeaturebox .hover
{

        background-color: #f7f7f7;

}*/

.contentfeaturebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
        margin: 0 0 .3em ;
        padding-left: 0px;
        border-bottom: 1px solid #0033FF;
        color: #000000;
        background: url("images/overlay-sm.png") top left repeat;  
	    border: none; 
}
.contenttest {color: #003366}
.contentfeaturebox p {
        margin: 0 0 1em;
        background: url("images/overlay-sm.png") top left repeat;  
	    border: none; 
}


#container {
    background: url("images/overlay-sm.png") top left repeat;  
	
   
	-moz-border-radius: 30px;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
 	margin: 25px;
    padding: 10px;
	border: 2px solid #ec008c;
}

#header {
    background: url("images/banner.png") top left no-repeat;
    /*background: url("images/overlay-sm.png") top left repeat;  */
	border: none;
	padding:10px;
    height: 225px;
	-moz-border-radius: 18px;
    border-radius: 18px;	
}


#search {
    margin: 0;
	margin: 30px;
    padding: 10px;
}

#left, #right {
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
}

#leftcontent, #contentcontent, #rightcontent {
    /*margin: 10px;*/

    padding: 10px;
	-moz-border-radius: 8px;
    border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	
}
#contentcontent{
 	/*background-color: #E7EAEF;*/ /*#DEE2E7;*/
	border:1px solid #ec008c;
	/*margin:10px;*/
	margin-bottom:1px;
	background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
	
	
}

.featurebox,  body.help-popup {
	margin: 5px;
    background: url("images/overlay-sm.png") top left repeat;   
    border: 1px solid  #ec008c;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
}
#nav-secondary{
    margin: 5px;
 	background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
    padding: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}
#nav-secondary>li{
	padding-left: 5px;
	/*background-color: #599DF6;*/
	border: 1px solid transparent;
	/*-moz-border-radius: 8px;
    border-radius: 8px;*/
}
.featureboxheader
{
 	background: url("images/filler.jpg") top left repeat;  
	border: none; 
	padding: 5px;
	border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;

	border-radius-topright: 5px;
	-moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
	-khtml-border-radius-topright: 5px;
}

.featureboxcontent
{
	padding: 5px;

}

fieldset {
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
    /*border: 1px solid #D8E9F6;*/
    border:0.5px solid #ffffff;
    padding: 5px;
	-moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;

}


hr { border: none; margin: 10px; }



/* LINKS */
a {
    color: #ec008c; 
    text-decoration: none;
}
a:hover, #footer a:hover {
    color: #e4b1b1;
    text-decoration: none;
}


form {margin-bottom: 10px;}

th {
    background: url("images/overlay-sm.png") top left repeat;  
    border: none;
    color: #000000;
	-moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
	margin:10px;

}

td {
    margin-left: 10px;
	/*color: #FFF;*/
}

th a {
    /*color: #c4ebe3;*/
	 color: #000000;
}

#footer {
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
    padding: 5px;
	
	-moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;

}

#middlecontent{
	

}

#footer a {
    color: #c4ebe3;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
	
}

#breadcrumbs {
    /*border-top: 1px solid #93B3F9;
    margin: 0;
    padding-left: 10px; */
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
}


/* */

#menu {
    margin-left: 0;


}

#menu>ul>li {
    padding-left: 5px;    
    
    border: 1px solid WHITE;
	-moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;

}

#menu>ul>li a:hover{
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
	padding-left: 5px;
    
	-moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;

}
/*
#menu>ul>li:hover>a, #menu>ul>li:hover>a:hover, #menu {
    color: #FFF;
	-moz-border-radius: 8px;
    border-radius: 8px;
}
*/
#menu img {
    /*padding-top: 5px;*/
}

#menu li ul {
    border: 1px solid #599DF6;
    padding: 1px;
	/*color: #000000; */
	
	-moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;


}

#menu li {
    border: 1px solid transparent;
}


#menu li ul li:hover a:hover{
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
	/*padding-left:3px;
	padding-right: 3px;*/
	-moz-border-radius: 8px;
    border-radius: 8px;
	/*color: #FFF; */
    -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;

}



h1#sitename {
    font color: #000000;
    padding: 20px;
    display: none;
}


form.inplaceeditor-form { /* The form */
 margin-left: 10px;
   margin-right: 10px;
   padding-left: 20px;
	-moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
   background-color: white;
}

form.inplaceeditor-form input[type="text"] { /* Input box */
}

form.inplaceeditor-form textarea { /* Textarea, if multiple columns */
}

form.inplaceeditor-form input[type="submit"] { /* The submit button */
  margin-left:1em;
}

form.inplaceeditor-form a { /* The cancel link */
  margin-left:1em;
}

form.inplaceeditor-saving {
	background: url(../_common/icons/loader.gif) bottom right no-repeat;
}

input{
 	background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
	-moz-border-radius: 5px;
   	border-radius: 5px;
   	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}


/************ news stories tabs *************/

/*

Styles for the Modern Brick Menu
Credits: Dynamic Drive CSS Library
http://www.dynamicdrive.com/style/csslibrary/item/modern-bricks-menu/
*/

#modernbricksmenu{
    padding: 0;
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
}

#modernbricksmenu ul{
    /*font: bold 11px Arial;*/
    margin:0;
    margin-left: 40px; /*margin between first menu item and left browser edge*/
    padding: 0;
    list-style: none;
}

#modernbricksmenu li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    text-transform:uppercase;
}

#modernbricksmenu a{
    float: left;
    display: block;
    color: #084FAD;
    margin: 0 1px 0 0; /*Margin between each menu item*/
    padding: 5px 10px;
    text-decoration: none;
    letter-spacing: 1px;
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
}

#modernbricksmenu a:hover{
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
    border-color: #084FAD; /*Red color theme*/
	color: white;
}

#modernbricksmenu #current a{ /*currently selected tab*/
	background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
	border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;

	
}

#modernbricksmenuline{
    clear: both;
    padding: 0;
    width: 100%;
    height: 5px;
    line-height: 5px;
    background: url("images/overlay-sm.png") top left repeat;  
	border: none; 
}

/*
    END - Styles for the Modern Brick Menu
*/
