/* Default Size of all Items on a Page */

/* Set Margin/Padding of everything to zero*/
* {
    margin: 0;
    padding: 0;
}

/* Fix up for lists*/
li {
    margin-left: 20px;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}


/***********************************************************************************************
* CSS for Two & Three Column Layouts
***********************************************************************************************/

div#wrapper{float:left;width:100%}


/* Three Column Layout */
#threecolumn div#wrapper div#content{margin: 0 220px 0 220px}
#threecolumn div#left{float:left;width:220px;margin-left:-100%}
#threecolumn div#right{float:left;width:220px;margin-left:-220px}



/* Two Column Layout */
#twocolumn div#wrapper div#content{margin: 0 0 0 200px}
#twocolumn div#left{float:left;width:200px;margin-left:-100%}
#twocolumn div#right{display:none}



/* Right Column Column Layout */
#rightcolumn div#wrapper div#content{margin: 0 220px 0 0}
#rightcolumn div#left{display:none}
#rightcolumn div#right{float:left; width:220px; margin-left:-220px}

/* Footer */
#footer {
    clear:both;
}

/* Prevent HTML Headings from overflowing side areas*/
#left h3, #left h1, #right h3, #right h1 {
    width: 100%;
    overflow:hidden;
}


#breadcrumbs {
    clear:both;
}

#tooliconslist {
    float:right;
    padding-right: 10px;
}

#tooliconslist div {
    display: inline;
}

div#search {
    position: absolute;
    top: 5px;
    right: 0;
    width: 300px;
}


/***********************************************************************************************
* Common Styles for Usage
***********************************************************************************************/


/* Use this styles for tables instead of <td nowrap> */
.nowrap { white-space: nowrap; }


/* Confirm message that action has occurred successfully - white text on a dark yellow background */
.confirm, #confirm { color: #000000; background-color: #FFDE39; }

/* Success Messages */
.success {color:#390;font-weight:bold}

/* Error messages - Red Text Color*/
.error { color: red; }

/* Error messages for form inputs - Red Background - White Text*/
input.error, input.inputerror { background-color: red; color: white; }


/* Highlighted Text - Yellow Background*/
.HighLightText, .highlighttext { background-color: #FFFF00; }


/* Warning Messages - Orange Background */
.warning { color: #FFA500; font-weight: bold; }


/*  This specify the color of the notes or short little descriptive wording. */
.minute
{
    font-size: 85%;
}

/* Use for text that is greyed out or dimmed for some reason */
.dim, .subdued {
    color: #999999;
}


/* Large Font for Indicating no Records*/
.noRecordsMessage {
    font-style: oblique;
    text-align: center;
    font-weight: normal;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: large;
}



/* Dark Wrapper - for the header*/
.wrapperDarkBkg {
    background-color: #CCCCCC;
    padding: 3px;
}



/* Light Wrapper - for the Content*/
.wrapperLightBkg {
    background-color: #FFFFFF;
    padding: 3px;
    color: #000000
}

/*************************************
* Language direction
* For example, these below are for divs that should be left aligned for English.
* But for Arabic or Hebrew, they will be floated right, if it gets overridden in the skin stylesheet
*******************************************/

.floatlangdir {
    float: left;
}

.clearfloatlangdir {
    clear: left;
}

/* END - styles based on language direction */


table.overflowtable {
    table-layout:fixed;
}

table.overflowtable td.overflowcolumn {
    overflow:hidden;
    white-space:nowrap;
}











#IM, .hidden { /* Hide Instant Messenger*/
    display: none;
}





.featureboxheader h5 {
    font-size: 100%;
}