body {
    direction: rtl;
}

li {
    margin-left: 0;
    margin-right: 10px;
}


div#search {
    position: absolute;
    top: 5px;
    left: 0;
    width: 300px;
}

div#menu, #menu li{
    float:right;
}



#menu img {
    float: right;
    width: 17px;
    height: 17px;
}

#menu span {
    margin-left: 0;
    margin-right: 20px;
}

#tooliconslist {
    float:left;
    padding-left: 10px;
}

div#wrapper{float:left;width:100%}


/* Three Column Layout */
#threecolumn div#wrapper div#content{margin: 0 220px 0 220px}
#threecolumn div#left{float:left;width:220px;margin-left:-220px}
#threecolumn div#right{float:left;width:220px;margin-left:-100%}



/* Two Column Layout */
#twocolumn div#wrapper div#content{margin:  0 220px 0 0 }
#twocolumn div#left{float:left;width:220px;margin-left:-220px}
#twocolumn div#right{display:none}

