@charset "utf-8";
@font-face {
    font-family: 'Museo700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: local('☺'), url('../fonts/museo700-regular-webfont.woff') format('woff'), url('../fonts/museo700-regular-webfont.ttf') format('truetype'), url('../fonts/museo700-regular-webfont.svg#webfontMWmZw1OR') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Museo500';
    src: url('museo500-regular-webfont.eot');
    src: local('☺'), url('../fonts/museo500-regular-webfont.woff') format('woff'), url('../fonts/museo500-regular-webfont.ttf') format('truetype'), url('../fonts/museo500-regular-webfont.svg#webfontRxmwgNVa') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo300';
    src: url('museo300-regular-webfont.eot');
    src: local('☺'), url('../fonts/museo300-regular-webfont.woff') format('woff'), url('../fonts/museo300-regular-webfont.ttf') format('truetype'), url('../fonts/museo300-regular-webfont.svg#webfontI3URLPJg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Resets */
body { color: #000; background: #fff; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border: 0; font-variant: normal; }
sub { vertical-align: text-bottom; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }

html,html body {height:100%;}


/* Global Styles and General Page Layout */
body {
/*  background-color: #c0c0c0;*/
  font-family: Verdana,Geneva,Kalimati,sans-serif;
  font-size: 13px;
  background: url(../images/background_texture.png) left top repeat;
  text-align: left;
}

.background_texture {
    background: url(../images/background_highlight.png) left top repeat-x;
    width: 100%;
    height: 150px;
}

.clear {
    clear:both;
}

.yellow {
    color: #fec45d;
}
.white {
    color: #fff;
}
.gray {
    color: #444;
}
.larger {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
a:link {

    color:#015c80;
    text-decoration: none;

}
a:link.yellow  {
    color: #fec45d;
}
a:link.white  {
  color: #ffffff;
}
a:link.gray {
    color: #444;
}
a:visited {
    color:#015c80;
    text-decoration: none;
}
a:focus {
    outline: none;
}
p {
    padding: 20px 10px 20px 0;
}
.wrapper_content {
    width: 940px;
    margin:auto auto 40px;
    padding:0px 0;
}
.centered {
    text-align: center;
}


.left_menu_continer {
    width: 300px;
    float:left;
}
.right_content {
    width: 620px;
    margin-left: 20px;
    float:left;
}



.break {
    background: url(../images/page_break.png) top left repeat-x;
    height: 3px;
    width: 100%;
    clear: both;
}

div.lock {
    height: 27px;
    width: 20px;
    background: url(../images/lock.png) top left no-repeat;

}
.large_shadow {
    height: 63px;
    width: 600px;
    background: url(../images/large_shadow.png);
    opacity:0.4;
    filter:alpha(opacity=40);
}
.large_shadow_home {
    position: absolute;
    top: 400px;
    height: 200px;
    width: 700px;
    background: url(../images/large_shadow_home.png) bottom left;
    opacity:0.4;
    filter:alpha(opacity=40);
    z-index: -1;

}
.shadow_3 {
    width: 944px;
    height: 125px;
    background: url(../images/3_shadow.png);
    opacity:0.4;
    filter:alpha(opacity=40);
    position: absolute;
    top: 490px;
    left: 0;

}
.panel_container {
    position: relative;
}

/* Header  */

.bg_header {
    width: 940px;
    height: 100px;
    background: url(../images/menu_back.png) top left no-repeat;
    margin: 0 auto;
    position:relative;
    z-index: 200; /* for IE */
}
.bg_header .logo {
    width: 146px;
    height: 55px;
    background: url(../images/gist_logo.png) top left no-repeat;
    position: absolute;
    top: 15px;
    left: 25px;
}
ul.top_menu {
    position: absolute;
    top: 34px;
    left: 250px;

}
ul.top_menu li {
    padding: 20px 40px;
    float:left;
}
ul.top_menu li a.why_gist {
    display: block;
    width: 120px;
    height: 24px;
    background: url(../images/menu_why_gist.png) top left no-repeat;

}
ul.top_menu li a.plugins {
    display: block;
    width: 100px;
    height: 23px;
    background: url(../images/menu_plugins.png) top left no-repeat;

}
ul.top_menu li a.how_it_works {
    display: block;
    width: 159px;
    height: 18px;
    background: url(../images/how_it_works.png) top left no-repeat;

}
ul.top_menu li a.tour {
    display: block;
    width: 54px;
    height: 18px;
    background: url(../images/tour.png) top left no-repeat;

}
ul.top_menu li a.blog_large {
    display: block;
    width: 52px;
    height: 22px;
    background: url(../images/blog_large.png) top left no-repeat;

}
ul.top_menu li a.pricing_and_plans {
    display: block;
    width: 183px;
    height: 23px;
    background: url(../images/menu_pricing_and_plans.png) top left no-repeat;

}
ul.top_menu li.selected {
    background: url(../images/top_menu_tab_background.png) top left repeat-x;
    position: relative;
}
ul.top_menu li.selected span.left_cap {
    position: absolute;
    background: url(../images/top_menu_tab_left_cap.png) top left no-repeat;
    display:block;
    top: 0px;
    left: -26px;
    width: 26px;
    height: 58px;

}
ul.top_menu li.selected span.right_cap {
    position: absolute;
    background: url(../images/top_menu_tab_right_cap.png) top left no-repeat;
    display:block;
    top: 0px;
    right: -28px;
    width: 28px;
    height: 58px;

}
a.blog {
    position:absolute;
    right:185px;
    top:5px;
    font: 14px;
    font-weight: 600;
    color: #000;
}

.blog_entry_top {
    width: 619px;
    height: 13px;
    margin: 0;
    padding: 0 ;
    background: url(../images/blog_entry_top_cap.png) bottom left no-repeat;
}
.blog_entry_bottom {
    width: 619px;
    height: 14px;
    background: url(../images/blog_entry_bottom_cap.png);
}
div.blog_entry {
    background: url(../images/blog_entry_back.png) top left repeat-y;
    width: 579px;
    padding: 0 20px;
}
div.big_text p {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

div.big_text h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

div.big_text h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
}

div.big_text h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}


div.big_text p a {
  text-decoration: underline;
}

.right_content div.blog_entry h2 {
    padding: 0 0 20px;
    border: none;
    margin:0;
    font: 32px/38px 'Museo500',sans-serif;
    width: 600px;
}
div.blog_entry p {
    padding: 0 0 20px;
}
div.entry p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.right_content div.blog_entry h3 {
    font-family: Verdana,Geneva,Kalimati,sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
}

div.blog_entry div.more_links  {
    text-align: right;
}
div.blog_entry div.more_links a {
    display:block;
/*  background: url(../images/right_carets.png) center right no-repeat ;
    padding: 10px 20px 10px 0; */
}
.blog_meta li.like_this {
    width: 450px;
    font-size: 10px;
    padding: 20px 0;
}
.blog_meta .left {
    float:left;
    width: 550px;
}
.blog_meta .right {
    float:right;
    width: 70px;
    padding-top: 20px;
}
.blog_meta p {
    width: 450px;
    padding: 20px 0;
}
.tweets_counter {
    width: 48px;
    height: 39px;
    background: url(../images/tweets_counter_back.png);
    text-align:center;
    font-size: 11px;
    margin-bottom: 5px;
}
.count {
    font-size: 14px;

}
a.retweet_button {
    display:block;
    width: 50px;
    height: 16px;
    background: url(../images/retweet_button.png);
}

/* Login Signup  Container */
/* Signup  */
#signup_container {
  display:none;
  background: url(../images/ssl_lock.png) top right no-repeat;
  height: 450px;
}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

#simplemodal-container { background-color:#01b5dd; padding:20px; -moz-border-radius: 10px 10px 10px 10px;}
#simplemodal-container a {color:#fff;}
#simplemodal-container h2{
    font: 30px/30px 'Museo700', sans-serif;
    padding-bottom: 10px;
}
#simplemodal-container .left {
 float: left;
 padding-top: 30px;


}
#simplemodal-container .left a {
    text-decoration: underline;
}
 #simplemodal-container .right {
    float :right;
    padding-top: 10px;
}

.message_highlight {
  background-color: #badbe7;
}

.errors {
    background-color: #badbe7;
    padding: 10px 5px;
    display: none;
}

/* need to reserve space because the modal popup doesn't resize */
#signup_errors {
  padding: 10px 5px;
  height: 28px;
}

a.submit {
    display: block;
    width: 137px;
    height: 53px;
    background: url(../images/submit_button.png);
}
a.submit:hover {
    background: url(../images/submit_button_pressed.png);
}

div#login_container {
    position: absolute;
    right: 42px;
    top: 0;
    z-index: 100;
}

a.login {
    position: absolute;
    right: 60px;
    top: 0;
    display: block;
    width: 99px;
    height: 28px;
    background: url(../images/login_button.png) top left no-repeat;
}


#login_popup_container {
    position: absolute;
    right: 42px;
    top: 0px;
    z-index: 100;
    width: 350px;
    height: 334px;
    overflow: hidden;
    -moz-border-radius:0 0 10px 10px;
  background:url("../images/login_menu_background.png") repeat-x scroll left top transparent;
  display: none;
}

#login_button_up {
  height: 30px;
    background: url(../images/login_button_up.png) top right no-repeat;
    margin-right: 15px;
}


/* Left Menu */
.left_menu_top_cap {
    width: 299px;
    height: 11px;
    background: url(../images/left_menu_top_cap.png) top left no-repeat;

}
.left_menu_bottom_cap {
    width: 299px;
    height: 12px;
    background: url(../images/left_menu_bottom_cap.png) top left no-repeat;
}
.left_menu {
    width: 299px;
    background: url(../images/left_menu_background.png) top left repeat-y;
    padding: 12px 0;
}
.left_menu ul.menu li {

    padding: 15px 25px 15px;
    position: relative;
    height: 25px;
}
.left_menu ul.menu a {
    font: 16px  'Museo500', sans-serif;
    color: #000;
}
.left_menu ul.menu a.selected {
    display:block;
    width: 288px;
    height: 84px;
    background: url(../images/left_menu_selected.png) top left no-repeat;
    display:block;
    position:absolute;
    top: -13px;
    left: 13px;
    padding:28px 0 0 12px;
}

/* Left Menu Blog */

.left_blog {
    width: 259px;
    padding: 10px 20px;
    font-size: 13px;
}
.left_blog .left, .left_blog .right {
    float: left;
    width: 129px;
    padding-bottom: 40px;
}
.left_blog h3 {
    font: 18px/22px  'Museo500', sans-serif;
    padding-bottom: 15px;
}
.left_blog form {
    padding-bottom: 40px;
}
.left_blog label {
    font: 16px/20px  'Museo500', sans-serif;
    padding-bottom: 5px;
    display: block;
}
.left_blog input.input_field {
    border: 1px solid #ddd;
    background-color: #fff;
    display: block;
    font-size: 20px;
    padding: 0 10px;
    height: 35px;
    width: 235px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.left_blog ul.popular_posts {
    padding-bottom: 40px;
}
.left_blog ul.popular_posts li {
    padding: 0 0 10px;
}

.left_blog ul.subscribe {
    height: 50px;
    padding-bottom: 40px;
}
.left_blog ul.subscribe li {
    width:50px;
    padding-right: 19px;
    float:left;
}
.left_blog ul.subscribe li.last {
    padding-right: 0;
}
a.rss_icon {
    width: 48px;
    height: 49px;
    background: url(../images/rss_icon.png);
    display:block;
}
a.linkedin_icon {
    width: 48px;
    height: 49px;
    background: url(../images/linkedin_icon.png);
    display:block;
}
a.twitter_icon {
    width: 48px;
    height: 49px;
    background: url(../images/twitter_icon.png);
    display:block;
}
a.facebook_icon_large {
    width: 48px;
    height: 49px;
    background: url(../images/facebook_icon_large.png);
    display:block;
}

a.sign_up_small {
    width: 102px;
    height: 37px;
    background: url(../images/sign_up_small.png);
    display:block;
}


/* Page Content */
.title_box .top_cap{
    width: 620px;
    height: 10px;
    background: url(../images/title_box_top_cap.png) top left no-repeat;
}
.title_box .bottom_cap {
    width: 620px;
    height: 10px;
    background: url(../images/title_box_bottom_cap.png) top left no-repeat;
}
.title_box .content {
    width: 560px;
    background-color: #01b5dd;
    padding: 0 30px;
}
.title_box.height_306 {
  margin-bottom:-30px;
}
.title_box.height_306 .content {
    width: 560px;
    background: url(../images/banner_view_all_contacts_middle.png) top left repeat-x;
    background-color: #0095b9;
    padding: 0 30px;
}
.title_box.height_306 .bottom_cap {
    background: url(../images/banner_view_all_contacts_bottom.png) top left no-repeat;
    height:10px;
}
.title_box.height_306 .top_cap {
    background: url(../images/banner_view_all_contacts_top.png) top left no-repeat;
    height:10px;
}
.title_box.height_307 {
  margin-bottom:-30px;
}
.title_box.height_307 .content {
  width: 560px;
  background: url(../images/banner_listen_network_middle.png) top left repeat-x;
  background-color: #0095b9;
  padding: 0 30px;
}
.title_box.height_307 .bottom_cap {
  background: url(../images/banner_listen_network_bottom.png) top left no-repeat;
  height:10px;
}
.title_box.height_307 .top_cap {
  background: url(../images/banner_listen_network_top.png) top left no-repeat;
  height:10px;
}
.title_box.height_308 {
  margin-bottom:-30px;
}
.title_box.height_308 .content {
  width: 560px;
  background: url(../images/banner_connect_share_middle.png) top left repeat-x;
  background-color: #0095b9;
  padding: 0 30px;
}
.title_box.height_308 .bottom_cap {
  background: url(../images/banner_connect_share_bottom.png) top left no-repeat;
  height:10px;
}
.title_box.height_308 .top_cap {
  background: url(../images/banner_connect_share_top.png) top left no-repeat;
  height:10px;
}
.title_box h1 {
  font: 48px/45px 'Museo700', sans-serif;

}
.title_box h2 {
  font: 28px/34px 'Museo500', sans-serif;
  padding-bottom: 15px;

}

.title_box.height_306  .content {
    position: relative;
    height: 125px;
}
.title_box.height_306 img{
    position: absolute;
    right:20px;
    top:5px;

}
.title_box.height_307  .content {
  position: relative;
  height: 125px;
}
.title_box.height_307 img{
  position: absolute;
  right:20px;
  top:5px;

}
.title_box.height_308  .content {
  position: relative;
  height: 125px;
}
.title_box.height_308 img{
  position: absolute;
  right:20px;
  top:5px;

}
.title_box.testimonial h2 {
  font-size:19px;
}

.title_box.testimonial .content {
  padding:10px 25px;
  width:570px;

}
.title_box.video .content {
  text-align:center;
  padding-bottom:20px;

}
.title_box.video .content h1 {
  font-size:30px;
  margin-bottom:10px;
}

.div.big_text h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.right_content .body h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 26px;
    border-bottom: solid 1px #7b7b7b;
    margin: 20px 0 15px;
}

.right_content .body img {
  padding-top: 2px;

}
.right_content .body .about p{
  padding: 5px 10px 20px 0;
}
.right_content .body p {
    line-height: 25px;
}

.right_content .icon, .right_content .icon_small  {
    text-align: center;
    float: left;
    margin-bottom: 30px;
}
.right_content .icon {
    width: 100px;
}
.right_content .icon_small {
    width: 70px;
    padding-right:20px;
}

.body .portrait, .body .info {
    margin:30px 0;

}
.body .portrait {
    float: left;
    width: 140px;
    text-align: center;
}
.title_box .portrait img {
    position:relative;
    padding:0;
}
.title_box .portrait{
  float:left;
  margin-right:15px;
}

.body .info {
    float: left;
    width: 480px;
}
.body blockquote {
    margin-bottom:30px;
}

div.big_text blockquote p {
  border-style: solid;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-color: #d0d0d0;
  border-left-width: 4px;
  padding-left: 10px;
  color: #787878;
  margin-left: 18px;
}
div.big_text blockquote p {
  padding: 5px;
}

.new_york_times_sig {
    float: right;
    padding: 20px 100px 40px 0;
}

ul.panels {
    padding-top: 40px;
    position: relative;
}
.panel_divider {
     width: 240px;
    height: 2px;
    background: url(../images/panel_divider.png) top left no-repeat;
}

ul.panels p {
    padding: 20px 10px;
}

ul.panels li {
  float:left;
  margin:0;
  padding: 40px 20px 20px 20px;
}
ul.panels li.connector {
    background: url(../images/connector_panel.png) top left no-repeat;
    width: 250px;
    height: 454px;
    margin-top: 20px;

}
ul.panels li.networker {
    background: url(../images/networker_panel.png) top left no-repeat;
    width: 250px;
    height: 511px;
    padding: 50px 55px 20px 55px;

}
ul.panels li.charts {
    background: url(../images/charts_panel.png) top left no-repeat;
    width: 250px;
    height: 453px;
    margin-top: 20px;

}

.pricing_tray_top {
    width: 940px;
    height: 10px;
    margin-top: 40px;
    background: url(../images/pricing_tray_top_cap.png) top left no-repeat;
}
.pricing_tray_bottom {
    width: 940px;
    height: 10px;
    background: url(../images/pricing_tray_bottom_cap.png) top left no-repeat;
    margin-bottom:20px;
}
.pricing_tray_content {
    padding: 20px;
    background: url(../images/tray_back.png) top left repeat;
}
.pricing_tray_content h2 {
    font: 22px/30px "Museo500",sans-serif;
    padding-bottom:20px;

}
a.get_started_now_button {
    background: url(../images/get_started_now_button.png) top right no-repeat;
    width: 222px;
    height: 72px;
    display: inline-block;

    zoom:1;
    *display:inline;
    vertical-align: middle;
    margin-left: 120px;


}
a.get_started_now_button:hover {
    background: url(../images/get_started_now_button_pressed.png) top right no-repeat;
}

ul.faq {
    float:left;
    width:410px;
}
ul.faq.right {
    padding-left: 40px;
}
ul.faq .left {
    width: 55px;
    text-align:center;
    float:left;
    margin-right: 20px;
}
ul.faq .right {
    width: 335px;
    float:left;
}
ul.faq li {
    padding-top:30px;
    clear:both;
    display:block;
}
ul.faq  h4 {

    font: 16px/18px  'Museo500', sans-serif;
    padding-bottom: 10px;
}
a.job {
    font-weight: bold;
    padding: 2px 0;
    display: block;
}

ul.job_req_list li {
    display: block;
    padding: 20px 0;
    overflow: auto;

}
ul.job_req_list li .left {

    font: 55px/60px  'Museo700', sans-serif;
    margin-right: 10px;
    float: left;


    width: 100px;
}

ul.job_req_list li .right {
    font-family: Verdana,Geneva,Kalimati,sans-serif;
    float: left;
    width: 400px;


}

.contact .left {
    width: 240px;
    float:left;
}
.contact .right {
    padding: 20px 0;
    width: 370px;
    float:left;
}

.plugin_box {

}
.plugins .top_cap {
    background: url(../images/plugins_top_cap.png) top left no-repeat;
}
.plugins .bottom_cap {
    background: url(../images/plugins_bottom_cap.png) top left no-repeat;
}
.plugins .bottom_cap.iphone_cap {
    background: url(../images/iphone_plugins_bottom_cap.png) top left no-repeat;
}
.plugins .plugin_box {
    height: 589px;
    position: relative;

}

.plugins .plugin_box.web {
  background: url(../images/gistweb_plugins_back.png) top left no-repeat;
}
.plugins .plugin_box.outlook {
    background: url(../images/outlook_plugins_back.png) top left no-repeat;
}
.plugins .plugin_box.gmail {
    background: url(../images/gmail_plugins_back.png) top left no-repeat;
}
.plugins .plugin_box.lotus {
    background: url(../images/lotus_plugins_back.png) top left no-repeat;
}
.plugins .plugin_box.android {
    background: url(../images/android_plugins_back.png) top left no-repeat;
}
.plugins .plugin_box.iphone {
    background: url(../images/iphone_plugins_back.png) top left no-repeat;
    height: 510px;
}
.plugins a.android_button {
    display: block;
    width: 298px;
    height: 126px;
    background: url(../images/install_android_button.png);
    position: absolute;
    top: 260px;
    left: 20px;
}
.plugins a.android_button:hover {
    background: url(../images/install_android_button_pressed.png);
}
.plugins a.lotus_button {
    display: block;
    width: 300px;
    height: 113px;
    background: url(../images/install_lotus_button.png);
    position: absolute;
    top: 320px;
    left: 20px;
}
.plugins a.lotus_button:hover {
    background: url(../images/install_lotus_button_pressed.png);
}
.plugins a.outlook_button {
    display: block;
    width: 311px;
    height: 112px;
    background: url(../images/install_outlook_button.png);
    position: absolute;
    top: 360px;
    left: 40px;
}
.plugins a.outlook_button:hover {
    background: url(../images/install_outlook_button_pressed.png);
}
.plugins a.webapp_button {
  display: block;
  width: 225px;
  height: 75px;
  background: url(../images/sign_up_button_02.png);
  position: absolute;
  top: 455px;
  left: 40px;
}
.plugins a.webapp_button:hover {
  background: url(../images/sign_up_button_pressed_02.png);
}
.plugins a.iphone_button {
    display: block;
    width: 282px;
    height: 115px;
    background: url(../images/install_iphone_button.png);
    position: absolute;
    top: 260px;
    left: 30px;
}
.plugins a.iphone_button:hover {
    background: url(../images/install_iphone_button_pressed.png);
}
.plugins a.gmail_button {
    display: block;
    width: 180px;
    height: 40px;
    background: url(../images/Add_To_Google_Apps.png);
    position: absolute;
    top: 490px;
    left: 40px;
}
.plugins a.gmail_button:hover {
    background: url(../images/Add_To_Google_Apps.png);
}
.plugins .gmail_video {
    position: absolute;
    top: 200px;
    left:40px;
    width: 140px;
}
.plugins .outlook_video {
    position: absolute;
    top: 180px;
    left:40px;
    width: 140px;
}
.plugins a.gmail_video_thumb {
    width: 118px;
    height: 80px;
    background: url(../images/gmail_video_thumb.png) top left no-repeat;
    display: block;
}
.plugins a.outlook_video_thumb {
    width: 118px;
    height: 80px;
    background: url(../images/outlook_video_thumb.jpg) top left no-repeat;
    display: block;
}

.news li {
    padding: 0 0 20px 0;

}
.news .left {
    float: left;
    width: 355px;
    padding-right: 100px;
}
.news .right {
    float:left;
    width: 120px;
}
.news a {
    font-size: 15px;
    display:block;
    padding: 3px 0;
    width:450px;
}
.news strong {
    display: block;
}
/* Video list */

ul.video_list li {
    width: 310px;
    float: left ;
    padding: 10px 0;

}
ul.video_list li img {
    float: left;
    width: 150px;
}
ul.video_list li .description {
    float: left;
    width: 140px;
    padding: 0 10px;
}
ul.video_list a {
    color: #006699;
}


/* Footer */
.footer_wrapper {
    background: url(../images/footer_break.png) top left repeat-x;
    width: 940px;
    margin: 0 auto 30px;
    clear: all;


}
.footer_links {
    padding: 15px 0;
    position: relative;
    font-size: 11px;
}
.footer_links ul {
    float: left;
    width: 140px;
}
.footer_links a {
    color: #015c80;
}
.footer_links ul li {
    padding-bottom:3px;

}
.footer_links ul li.first {
    font-weight: bold;
    padding-bottom: 8px;

}

.footer_links li.first a {
    color: #000;
}
.footer_links ul.last {
    width:70px;
}
.footer_links li.like_this {
    width: 250px;
    font-size: 10px;
}
 a.like_btn {
    display: block;
    float: left;
    width: 53px;
    height: 23px;
    background: url(../images/like_button.png) top left no-repeat;
}
a.facebook_icon {
    background: url(../images/facebook_icon.png) top left no-repeat;
    display: block;
    float: left;
    margin: 4px 10px;
    width: 11px;
    height: 12px;


}
li.like_this div {
    float:left;
    padding-top: 3px;
}
.footer_logo {
    position: absolute;
    color: #777;
    right: 0;
    top: 15px;
    height: 22px;
    width: 150px;
    background: url(../images/gist_logo_small.png) top right no-repeat;
}

/* Typeography   */
h1 {
    font: 40px/50px 'Museo500',sans-serif;
}

h2 {
    font: 30px/36px "Museo500",sans-serif;
}
h3 {
   font: 23px "MuseoThree","Century Gothic","Futura Medium","Apple Gothic",Helvetica,Arial,sans-serif;
   font-weight: 700;
}

/* Home Page */

div.get_started {
    margin-bottom: 60px;
}
div.get_started div.top_cap {
    width: 940px;
    height:54px;
    background: url(../images/get_started_top_cap.png) top left no-repeat;

}
div.get_started div#get_started_body {
    height: 263px;
    width: 940px;
    background: url(../images/get_started_gradient.png) top left repeat-x;
    position:relative;
}
div.get_started div.get_started_body_inner {
    padding: 0 30px;
    width: 470px;
}
div.get_started h1 {

    font: 60px/53px 'Museo700', sans-serif;
}
div.get_started p {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 470px;
    font: 13px/22px Verdana,Geneva,Kalimati,sans-serif;
    font-weight: lighter;
    z-index: 25;

}
div.get_started a {
    color: #000;
    font: 13px/22px Verdana,Geneva,Kalimati,sans-serif;
    text-decoration: underline;

}
div.get_started div#back_image {
    position: absolute;
    top: -36px;
    right: 0;
    z-index: 20;

    height: 299px;
    width: 510px;
}
div.get_started div#back_image.home_slide_1 {
    background: url(../images/home_slide_1.jpg) top right no-repeat;
}
div.get_started div#back_image.home_slide_2 {
    background: url(../images/home_slide_2.jpg) top right no-repeat;
}
div.get_started div#back_image.home_slide_3 {
    background: url(../images/home_slide_3.jpg) top right no-repeat;
}
div.get_started div#back_image.home_slide_4 {
    background: url(../images/home_slide_4.jpg) top right no-repeat;
}

div.get_started ul.tab_menu {
    height: 61px;
}
div.get_started ul.tab_menu li {
    float: left;
    margin-right:1px;
}
div.get_started ul.tab_menu a {
    width: 234px;
    height: 61px;
    display: block;
}
div.get_started ul.tab_menu a#people_tab {
    background: url(../images/home_tab_1.png) top left no-repeat;
}
div.get_started ul.tab_menu a#people_tab.selected {
    background: url(../images/home_tab_1_selected.png) top left no-repeat;
}
div.get_started ul.tab_menu a#place_tab {
    background: url(../images/home_tab_2.png) top left no-repeat;
}
div.get_started ul.tab_menu a#place_tab.selected {
    background: url(../images/home_tab_2_selected.png) top left no-repeat;
}
div.get_started ul.tab_menu a#edge_tab {
    background: url(../images/home_tab_3.png) top left no-repeat;
}
div.get_started ul.tab_menu a#edge_tab.selected {
    background: url(../images/home_tab_3_selected.png) top left no-repeat;
}
div.get_started ul.tab_menu a#noise_tab {
    background: url(../images/home_tab_4.png) top left no-repeat;
}
div.get_started ul.tab_menu li a#noise_tab.selected {
    background: url(../images/home_tab_4_selected.png) top left no-repeat;
}

div.home_left, div.home_right {
    width: 420px;
    padding:0 25px 50px;
    float: left;
    color: #444;
}
div.home_right {
    text-align:right;
}

div.home_right a {
    float:right;
}
div.home_left h2 {
    font: 30px/36px 'Museo500', sans-serif;
}
a.sign_up_button {
    background: url(../images/sign_up_button.png) top left no-repeat;
    height: 69px;
    width: 219px;
    display: block;

}
.signup_button_container {
    margin: 60px 20px;
}
a.sign_up_button:hover {
    background: url(../images/sign_up_button_pressed.png) top left no-repeat;
}
ul.home_feature_box
{
    height: 268px;
}
ul.home_feature_box li.feature {
    height: 268px;
    float: left;
}
ul.home_feature_box li.left {
    background: url(../images/home_feature_box_left.png) top left no-repeat;
    width: 310px;
}
ul.home_feature_box li.center {
    background: url(../images/home_feature_box_middle.png) top left no-repeat;
    width: 316px;
}
ul.home_feature_box li.right {
    background: url(../images/home_feature_box_right.png) top left no-repeat;
    width: 314px;
}
ul.home_feature_box h3 {
    font: 16px "Museo500", sans-serif;
    padding:10px 15px;

}
ul.featured_logo_list {
    margin: 30px 25px 20px;
}
ul.featured_logo_list li {
    display:inline-block;

    zoom:1;
    *display:inline;


}
ul.featured_logo_list li.padding {
    padding-bottom: 25px;
}
ul.featured_logo_list li.less_padding {
    padding-bottom: 5px;
}
ul.featured_logo_list li a {
    display: block;

}
ul.featured_logo_list li a.new_york_times_logo {
    height: 20px;
    width: 131px;
    margin-right: 15px;
    background: url(../images/new_york_times_logo.png) top left no-repeat;
}
ul.featured_logo_list li a.tech_crunch_logo {
    height: 19px;
    width: 99px;
    background: url(../images/tech_crunch_logo.png) top left no-repeat;
}
ul.featured_logo_list li a.wired_logo {
    height: 20px;
    width: 97px;
    margin-right: 10px;
    background: url(../images/wired_logo.png) top left no-repeat;
}
ul.featured_logo_list li a.washington_post_logo {
    height: 22px;
    width: 143px;
    background: url(../images/washington_post_logo.png) top left no-repeat;
}
ul.featured_logo_list li a.mashable_logo {
    height: 29px;
    width: 103px;
    margin-right: 50px;
    background: url(../images/mashable_logo.png) top left no-repeat;
}
ul.featured_logo_list li a.cnet_logo {
    height: 30px;
    width: 96px;
    background: url(../images/cnet_logo.png) top left no-repeat;
}
ul.home_feature_box  {
    font: 15px/22px Verdana,Geneva,Kalimati,sans-serif;
    color: #444;
    margin: 20px;
    padding-left: 80px;
    background: url(../images/dustin_luther.png) top left no-repeat;
}
ul.home_feature_box .right p {
    margin:20px 20px 10px;
    font-size: 12px;
}
ul.home_feature_box ul.plugin_icons {
    padding-bottom: 15px;
}
ul.home_feature_box ul.plugin_icons li {
    display: inline-block;
    zoom:1;
    *display:inline;
    text-align:center;
    width:100px;
    margin-top:10px;
}


ul.home_feature_box p {
    margin: 0 20px;
    font-size:11px;
    color: #444;
    padding: 0;
}
ul.home_feature_box p.name_title {
    padding-left: 80px;
}
ul.home_feature_box p.link {
    text-align: right;
    margin-top:10px;
    background: url(../images/right_carets.png) right center no-repeat;

    padding-right: 12px;

}

ul.home_feature_box p.link a{
    font-weight:bold;
    color: #015c80;
    font-size: 12px;
}
div.privacy {
    padding: 30px 0;
    font: 12px "Museo500";
    color: #333;
    text-align:center;

}
div.privacy {
    margin: 0 auto;
}
div.privacy img.lock {
    padding: 10px 10px 15px;
    vertical-align:middle;

}

.loader {
  display: none;
  height: 16px;
  width: 16px;
  background: url(../images/loader.gif) top left no-repeat;
}