/*
    Document   : stylesheet.css
    Created on : 30 May 2010, 1:11:21 PM
    Author     : dkeats
    Description:
         A bluemetal canvas for dkeats.com based on http://blog.gist.com/
*/
body {
    background: transparent url(images/metal.png) repeat;
    font-family: Verdana,Geneva,Kalimati,sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

#Canvas_Content_Body_Region3 {
    background: url("images/overlay-sm.png") top left repeat;
    float:left;
    width:220px;
    margin-top: 3px;
    padding-bottom:4px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 4px;
}