/*
    These are eLearning enhancements for the the Metallic skin for
    Chisimba. Please note that some eLearning enhancements are also
    contained in that base skin, this is just for additional enhancements,
    such as button styles, that are not in the base skin.

    It uses the skin engine version 2 for Chisimba.

    Author: Derek Keats
    License: GPL V2

*/


@import "../canvas/stylesheet.css";


/* eLearning button styles */

ul .glossytabs {
    color: #4a5ca8;
}

.glossytabs li{
    margin-left: 4px;
    padding-left: 10px;
}

.glossytabs li a{
    color: #4a5ca8;
    font-size: 110%;
    font-weight: bold;
}

.glossytabs li a strong {
    background: transparent url(images/nav-bg.gif) repeat-x scroll 0;
    float: left;
    display: block;
    padding: 0px 16px 0px 16px; /*Padding of menu items*/
    font-weight: bold;
}

.glossytabs li.current a strong {
    color: #000;
    background: transparent url(images/current-bg.gif) repeat-x scroll 0;
    font-weight: bold;
}

.glossytabs li a:hover strong {
    background: transparent url(images/hover-bg.gif) repeat-x scroll 0;
    font-weight: bold;
}

/** Splashscreen **/

.splashscreenwrapper {
    margin: auto;
    background: transparent;
}

.splashscreen {
    background: transparent url('../../packages/splashnostalgia/resources/screens/Chalkboard.png') no-repeat top center;
    width:496px;
    height: 435px;
    padding: 0px;
    margin: auto;
}

.splashcontents {
    margin: auto;
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 30px;
}

a.contexttitle {
    color: #003366;
    font-size: larger;
    padding-left: 5px;
}