/* 
    Document   : stylesheet.css
    Created on : 30 May 2010, 1:11:21 PM
    Author     : dkeats
    Description:
        The red canvas for demonstrating canvases
*/


html, body {
    background: url('images/bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

/*
    The canvas elements
*/

.Canvas {
    width: 960px;
}

div#header div#search {
    margin: 0;
    margin: 10px;
    padding: 10px;
    color: gray;
    width: 360px;
    position: relative;
    margin-top: -28px;
    margin-left: 540px;
}

#threecolumn div#left {
	float:right;
}
#threecolumn div#right {
	float:right;
}
#twocolumn div#left {
	float:right;
}