/*
    Document   : stylesheet.css
    Created on : 30 May 2010, 1:11:21 PM
    Author     : dkeats
    Description:
        Leave this blank for consistency to implement the underlying skin as
        a canvas to enable selecting.
*/

body {
    background: url(images/bodybg.jpg) #999999;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #666666;
    text-align: justify;

}

.ChisimbaCanvas{
    background: url(images/containerbg.jpg);
    background-repeat: repeat-y;
}

#Canvas_Content {
    background: transparent;
}

#Canvas_Content_Body {
    background: transparent;
}

h3 a {
    color: #999999;
}