tr.odd{
    background-color:#24C8FF;
}

tr.even{
    background-color:#00ACE6;
}

tr.ruler{
    background-color:#9EE7FF;
}

td.header
{
    background-color:#24C8FF;
    text-align:left;
    font-weight: bold;
}

fieldset.tabbox{
    margin-bottom: 10px;
    padding: 10px;
}

legend.tabbox{
    border: 1px solid #CCCCCC;
    padding: 5px;
}