/** BEGIN: Rules related to formatting the page body **/
body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 76%;
    background-color : #ffffff;
    color : #000000;
	background-position: top left;
	line-height: 1.8em;
}
/** END: Rules related to formatting the page body **/

/*???????*/
li {line-height: 1.4em;padding-left: 25px;background: transparent url("images/sprites.gif") no-repeat 0 0}


/** BEGIN: Rules related to formatting the banner and its text */
div#header {
	background: #000000 url("images/header_bg.jpg") repeat-x;
	color: #000099;
	padding: 0px 5px 10px 5px;
}
#sitename {
    width: 600px;
    height: 50px;
    background-image: url(images/banner.gif);
    margin:  0 0 0 5px;
	padding: 0;
	color:#FFFFFF;
}
div#header div#search {
	position: absolute;
	float: right;
	top: 20px;
	right: 0;
	width: 300px;
}
#breadcrumbs {
	font-size: 80%;
}
#breadcrumbs a:link, #breadcrumbs a:visited {
	color: #000099;
	text-decoration: none;
}
#breadcrumbs a:hover {
	color: #FF0000;
	text-decoration: none;
}
/** BEGIN: Rules related to formatting the banner and its text */


/** BEGIN: Rules related to formatting links */
a,a:link,a:link,a:link,a:hover {
 	background:transparent;
	text-decoration:underline;
	cursor:pointer
} 
a:link {
	color:#069;
} 
a:visited {
	color:#069;
} 
a:hover,a:active {
	color:#FF6600;
}  
/** END: Rules related to formatting links */



/** BEGIN: Settings for footer **/
#footer {
	clear:both;
	border-top: 10px solid white;
	padding: 10px 0 30px;
	font-size:86%;
	background-color: #99CCFF;
	background: #fff url("images/footer_bg.jpg") repeat-x bottom left;
	color: #000066;
	margin-top: 20;
}
#footer p {
 	margin:0;
}
/** END: Settings for footer **/


	
/** BEGIN: Rules related to formatting the menu items */
#menu {
	padding-bottom: 10px;
}
ul#menuList li {
	background-color: #33CCFF;
	padding: 2px;
	background-image: none;
	border-right: 3px solid	#CCCCCC;
	border-bottom: 3px solid #999999;
	font-weight: bold;
}
.test {color: #CCFFFF}
ul#menuList li:hover {
	background-color: #FFFF99;
}
/* Top Row of the menu, the button like menu base */
ul#menuList  li a {
	color: #000000;
	text-decoration: none;
	padding-right: 30px;
}
/* Items on menu*/
ul#menuList  li li a {
	color: #000000;
	text-decoration: none;
	padding: 3px;
}
ul#menuList  li li a img{
	border-style: none;
	padding: 0;
	margin: 0;
}
ul#menuList  li li a span{
    margin-left: 27px;
    margin-right: 0px;
    display: block;
}
ul#menuList  li  li {
	border-style: none;
	width: 115%;
	background-color: #CCFFFF;
	color: #000000;
	font-weight: normal;
	padding: 0;
}
ul#menuList  li  li:hover{
	border-style: none;
	background-color: #33CCFF;
}
/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}
ul#menuList  li  ul{
background: transparent url('images/featurebox_bg.jpg') no-repeat bottom right;
margin-top: 4px;
}
/** END: Rules related to formatting the menu items */



/** BEGIN: Content stle settings **/
div#left {
    background-position: 10px;
}
div#twocolumn, div#threecolumn {
    margin-top: 20px;
}
#leftcontent, #rightcontent, #contentcontent {
    margin: 0 20px 0 10px;
}
#contentcontent {
    padding: 5px 5px 5px 5px;
	border: 0;
    background-color: #FFFFFF;
    background-repeat: repeat;
}
#leftcontent, #rightcontent {
    border-top: 5px solid #006600;
}
/** END: Content stle settings **/



/** BEGIN: Override defaults for some text that needs to change colour **/
.error
{
    color: #FF0000;
	font-weight:bold;
}
.warning 
{
    color: #FF6600;
    font-weight: bold;
    padding: 2px;
}
.HighLightText
{
    background-color: #FFFF00;
    color: #333333;
}
.minute
{
    font-size: 85%;
    color: #660000;
}
.highlight {
	color: #990000;
}
.subdued {
  	color: #666666;
}
.success {
	color: #006600;
	font-weight:bold
}
.caption {
	color: #333333;
	font-size:11px
}
.date {
	font: bold 82% arial;
	color: #666666;
	display:block;
	letter-spacing: 1px
}
.dim {
    color: #999999;
}
/** END: Override defaults for some text that needs to change colour **/



/** BEGIN: Feature Box as used for the blocks that appear in page margins **/
.featurebox {
	color: #333333;
	padding: 15px 20px 20px;
	border-top: 1px solid #006600;
	margin: 0 0 1.5em;
	background: #E3DBE8 url("images/featurebox_bg.jpg") no-repeat 100% 100%;
}

.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
	margin: 0 0 .3em; 
	border-bottom: 1px solid #66FF00;
	color: #000066; 
	background-color: transparent;
}

.featurebox p {
	border:none;
	margin: 0 0 1em;
	color: #333333;
}
	
.featurebox a {
	font-weight:bold
}

.featurebox select {
	width: 100%;
}
/** END: Feature Box as used for the blocks that appear in page margins **/

/** BEGIN: Rules for including quotes in a curved box **/
blockquote {
    max-width: 620px;
	margin: 0;
	padding: 0px 10px 0px 10px;
    background: url(images/quote-body.png) center repeat-y ;
}
blockquote::before {
    display: block;
    line-height: 0;
	margin: 0;
    background: url(images/quote-topright.png) top right no-repeat;
    content: url(images/quote-topleft.png) }
blockquote::after {
    display: block;
    line-height: 0;
	margin: 0;
    background: url(images/quote-bottomright.png) bottom right no-repeat;
    content: url(images/quote-bottomleft.png) }
blockquote p {
	margin-left: 14px;
	margin-right: 26px;
}
/** END: Rules for including quotes in a curved box **/