


fieldset{
    border: 1px solid #cccccc;
}

#originalproducts_controlband{

    margin-bottom: 10px;
}

.original_product_listing_title{
    font-size: 11px;   
    margin-top: 0px;

}

.original_product_languageField{

    border: 1px solid #FFFFFF;
    color: #737373;
    font-size: 10px;
}
.current{
    background-color: #cccccc;
    padding: 3px;

}

.original_product_listing_thumbail{
    margin-bottom: 0px;
}

/**
These are styles related to viewing a product details
*/
#viewproduct{
    background-color: #f3faff;
}


#viewproduct_leftcontent{
    padding-right:  10px;
}


#viewproduct_righcontent{
    padding-left: 10px;
}
.viewproduct_title{
    font-size: 16px;
    color: #5bb7e8;
}
#viewproduct_authors_label{
    font-size: 11px;
    font-weight: bold;
}

#viewproduct_authors_text{
    font-size: 11px;
}

#viewproduct_authors_content{
    font-size: 11px;
}
#viewproduct_unesco_contacts_label{
    font-size: 11px;
    font-weight: bold;    
}

#viewproduct_unesco_contacts_text{
    font-size: 11px;
}

#viewproduct_unesco_contacts_content{
    font-size: 11px;
}
#viewproduct_publishedby_label{
    font-size: 11px;
    font-weight: bold;    
}

#viewproduct_publishedby_content{
    font-size: 11px;
}
#viewproduct_category_label{
    font-size: 11px;
    font-weight: bold;    
}
#viewproduct_category_content{
    font-size: 11px;
}

#viewproduct_keywords_label{
    font-size: 11px;
    font-weight: bold;    
}

#viewproduct_keywords_content{
    font-size: 11px;
}
#viewproduct_selectlanguages_label{
    font-size: 11px;
    font-weight: bold;    
}

#viewproduct_selectlanguages_content{
    font-size: 11px;
}
#viewproduct_relatednews_label{
    font-size: 11px;
    font-weight: bold;    
}

#viewproduct_relatednews_content{
    font-size: 11px;
}

#viewproduct_relatedevents_label{
    font-size: 11px;
    font-weight: bold;    
}

#viewproduct_relatedevents_content{
    font-size: 11px;
}
#viewproduct_usercomments_label{
    font-size: 11px;
    font-weight: bold;    
}

#viewproduct_usercomments_content{
    font-size: 11px;
}

#input_parentfolder{
    width: 500px;
}

#viewproduct_coverpage img{
    margin:   10px;
}


#nodeband{
    clear: both;
    margin-top: 10px;
}

#sectionstree{
    clear: both;
    overflow: auto;  
}
.editsection{
    background: #fffbcc;

}
/* Main wrapper div this is the main container of the website
Original width: 970
margin:auto;
*/
.mainWrapper {
    width:670px;	
    text-align:left;
}
/* Top content div */
.topContent {
    width:970px;
    height:288px;
}
/* Logout Search div */
.logOutSearchDiv {
    width:970px;
    height:114px;
    color:#595959;
}
/* Left top div holding name,logout button and profile links */
.logoutSearchDivLeft {
    width:485px;
    float:left;
    padding-top:10px;
    padding-bottom:5px;
    /*border-bottom:1px solid #cfcfcf;*/
}

/* Right top div holding search and facebook shere links */
.logoutSearchDivRight {
    width:485px;
    float:left;
    text-align:right;
}

/* Logged in person name div */
.nameDiv {
    float:left;
    width:242px;
}

/* Logout button link*/
.logoutDiv {
    float:left;
    width:241px;
    text-align:right;
}
/* Float left images text will wrap is this class is applied to an image */
.imgFloatLeft {
    float:right;
    padding-left:5px;
}
/* */
.profileBookmarkGroupsMessengerDiv {
    width:485px;
    float:left;
    margin-top:10px;
    border-top:1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf;
    padding-top:10px;
    padding-bottom:10px;
    height:20px;
}

.userIcons {
    float:left;
    margin-right:2px;
}
.spacingBetweenUserIcons {
    float:left;
    margin-right:45px;
}
.spacingBetweenUserIcons {
    float:left;
    margin-right:45px;
}
.numberNextToUserIcons {
    font-size:10px;
    float:left;
    padding-top:4px;
}
.searchGoButton {
    float:right;
    padding-top:29px;
    padding-left:0px;
    width:48px;
}
.searchGoImage {
    padding-left:10px;
    padding-right:0px;
    float:left;
}
/* GO search link style color */
.searchGoLink {
    color:#004e89;
    text-decoration:none;
}
.searchInputBoxDiv {
    float:right;
    width:246px;
    padding-left:5px;
}
.searchInput {
    border:1px solid #165879;
    width:246px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    font-size:12px;
}
.searchDropDown {
    border:1px solid #165879;
    width:251px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
.textNextToRightFloatedImage {
    float:right;
    padding-left:5px;
    padding-top:2px;
}
.facebookShareDiv {
    width:260px;
    float:left;
    padding-top:10px;
    padding-left:225px;
}
.shareDiv {
    float:left;
    padding-top:4px;
}
.likeDiv {
    float:left;
    padding-left:6px;
}
/* Logo and main website heading div*/
.logoAndHeading {
    width:968px;
    height:103px;
    border:1px solid #fff;
}
/* Float left images text will wrap is this class is applied to an image */
.logoFloatLeft {
    float:left;
}
/* Logo text*/
.logoText {
    float:left;
    padding-top:43px;
    padding-left:20px;
}
/* Grey title text */
.greyTitleText {
    color:#595959;
    font-size:24px;
}
/* Languages navigation */
.languagesDiv {
    text-align:right;
    width:970px;
    color:#595959;
    font-size:10px;
    padding-top:0px;
    height:27px;
    display:table-cell;
    vertical-align:top;
    /*float:left;*/
}
/* Languages links */
.languagesMainIcon {
    float:right;
    margin-right:10px;
}
.languages {
    float:right;
    padding-top:6px;
}

a.languagesLinks {
    color:#595959;
    text-decoration:none;
    font-size:10px;
}

/* Languages active link */
a.languagesLinks:active {
    color:#004E89;
    text-decoration:none;
    font-size:10px;
}
/* Languages over link */
a.languagesLinks:hover {
    color:#004E89;
    text-decoration:none;
    font-size:10px;
}

/* Languages active/onstate link */
.languagesLinksActive {
    color:#004E89;
    text-decoration:none;
    font-size:10px;
}
/* Main navigation */
.mainNavigation {
    width:960px;
    top:256px;
    /*height:20px;*/
    padding-left:10px;
    position:absolute;
}
/* Main navigation on state */

.mainNavPipe {
    float:left;
    width:0px;
    padding-top:12px;
    padding-bottom:15px;
    color:#407aa7;
    border-right:1px solid #407aa7;
}
/* Adaptation onState */
#sddm li.onStateAdaptations a{
    padding-left:12px;
    padding-top:6px;
    padding-left:12px;
    padding-right:12px;
    padding-bottom:2px;
    color:#f04c3e;
    background-color:#FFF;
    font-size:14px;
    text-transform:uppercase;
    text-decoration:none;
    border-left:1px solid #165879;
    border-right:1px solid #165879;
    margin-top:2px;
}
/* Content holder div
width:970px;
float:left;
*/
.mainContentHolder {
    border:1px solid #165879;
    width:880px;
    margin-top:1px;
    float:left;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 15px;

}
.contentTableHolder {
    border:1px solid #165879;
    width:885px !important;
    margin-top:1px;
    float:left;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 15px;
    overflow: auto;
    clear:both;
}
.adaptationListViewTop{
    clear:both;
    padding-top: 10px;
}

/* Sub navigation
width:958px;
*/
.subNavigation {
    width:890px;
    height:20px;
}
/*
width:958px;
*/
.wideTopContentHolderDiv {
    width:890px;
    padding-left:0px;
}
.topContentHolder {
    border:1px solid #165879;
    width:900px;
    margin-top:1px;
    float:left;
    padding-bottom:10px;
    padding-left:5px;
    clear:both;
}
.navPath {
    color:#595959;
    padding: 2px;
    font-size: 14px;
    clear: both;
}
/*
width:958px;
*/
.topHeadingDiv {
    width:890px;
}
/* Breadcrumb */
.breadCrumb {
    width:100%;
    padding-bottom:10px;
}
.tenPixelLeftPadding {
    padding-left:10px;
}

.twelvePixelLeftPadding {
    padding-left:12px;
}
.tenPixelTopPadding {
    padding-top:10px;
}

.tenPixelBottomPadding {
    padding-bottom:10px;
}

.eightPixelBottomPadding {
    padding-bottom:8px;
}

.twentyPixelRightPadding {
    padding-right:10px;
}
/* 5b content style*/
.productAdaptationViewLeftColumnTop {
    position:relative;
    float:left;
    width:230px !important;
    padding-right:10px;
}
.contentDivThreeWider {
    clear: both;
    text-align: justify;
    padding-right: 5px;
    float: left;
}
.adaptationNotesContent {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    clear: both;
    background-color: #E9E0DB;
    text-align: justify;
}
.abstractContent {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
    text-align: justify;
}
#viewadaptation_leftcontent {
    clear:both;
    padding-right: 10px;
    padding-top: 5px;
    text-align: justify;
}
.leftTopImage {
    float:left;
    margin-right:10px;
}
.leftFloatDiv {
    position:absolute;
    top:0;
    right:0;
    width:200px;
}
.adaptationListingLink {
    color:#F04C3E;
    text-decoration:none;
}
.displaybookmarks {
    float:right;
}
/* Small listing icocs 18X18*/
.smallLisitngIcons {
    width:13px;
    float:left;
    padding-right:1px;
    font-family: 'Times New Roman',Times,serif;
}
.productsLink {
    text-decoration:underline;
    color:#3f95c3;
    font-size:10px;
}
.rightFloatDiv {
    position:absolute;
    top:0;
    right:0;
    width:170px;
}
/* Text next to the small listing icon div that holds and float the text to the left */
.textNextToTheListingIconDiv {
    float:left;
    width:113px;
}
/* Text next to the small listing icon div that holds and float the text to the left */
.leftTextNextToTheListingIconDiv {
    float:left;
    width:155px;
}
.middleAdaptedByIcon {
    /*width:24px;*/
    float:left;
    text-align:center;
    padding-left:5px;
    padding-right:15px;
}
.productAdaptationViewMiddleColumnTop {
    position:relative;
    float:left;
    width:220px !important;
}
.productAdaptationViewRightColumnTop {
    position:relative;
    float:left;
    width:270px;
    padding-right:10px;
}
/* Text next to the small listing icon div that holds and float the text to the left */
.middleTextNextToTheListingIconDiv {
    float:left;
    width:155px;
}
.middleFloatDiv {
    position:absolute;
    top:0;
    right:0;
    width:170px;
}
.pinkText {
    color:#F04C3E;
}
.rightAdaptedByIcon {
    /*width:24px;*/
    float:left;
    text-align:center;
    padding-left:5px;
    padding-right:15px;
}
.productAdaptationListViewRightColumn {
    float:left;
    width:210px;
}
/* 5b content style*/
.productAdaptationViewLeftColumnTop {
    float:left;
    width:250px !important;
    padding-right:10px;
}
/* */
.darkGreyColour {
    color:#595959;
}
/*
width:100%;
*/
.adaptationsBackgroundColor {
    background-color:#fff7f7;
    float:left;
    border-top:1px solid #cccccc;
    width:890px;
}
/*3d content style */
.WideColumnDiv {
    width:939px;
    float:left;
    padding-left:10px;
}
.pageBreadCrumb {
    padding-top:10px;
    padding-bottom:10px;
}
.greyTextLink {
    color:#595959;
    text-decoration:underline;
}
.greyText {
    color:#595959;
}
/* Font weight*/
.fontBold {
    font-weight:bold;
}
.labelSpacing {
    padding-bottom:4px;
}
/*
width:937px;
*/
.wideInputTextField {
    width:750px;
    border:1px solid #165879;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    font-size:12px;
}
.floatLeftText {
    float:left;
}
.floatLeftTextSize {
    float:left;
    width:308px;
    padding-top:15px;
}
.changeImage {
    padding-left:10px;
    padding-right:6px;
    float:left;
    padding-top:0px;
}
.wysiwig {
    border:1px solid #888888 !important;
}
.fileInput {
    border:1px solid #165879;
    width:251px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
}
.buttonSubmit {
    float:left;
    padding-left:7px;
    padding-right:7px;
}
.textNextoSubmitButton {
    float:left;
    padding-top:2px;
}
.uploadedFiles {
    padding-left:60px;
}
.uploadedFilesLink {
    color:#000000;
    text-decoration:underline;
}
/*
width:939px;
*/
.wideDivider {
    float:left;
    width:870px;
    padding-bottom:15px;
}
.bottomRTbl {
    border:0;
}

.bottomRTbl td{
    vertical-align:top;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
}
.smallDropDown {
    border:1px solid #165879;
    width:251px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

.smallInputBox {
    border:1px solid #165879;
    width:243px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
.rightKeywordDiv {
    float:left;
    width:400px;
}
.box {
    border:1px solid #165879;
    width:300px;
    height:70px;
}
.leftKeywordDiv {
    float:left;
    width:400px;
}
.rightKeywordDiv {
    float:left;
    width:400px;
}
.rightTextFloat {
    text-align:right;
}
.saveCancelButtonHolder {
    float:right;
}
/*
width:970px;
*/
.footerDiv {
    width:870px;
    padding-top:30px;
    padding-bottom:20px;
    float:left;
    color:#595959;
}
/*
width:205px;
*/
.footerLinksLists {
    float:left;
    width:180px;
    padding-right:20px;
    line-height:18px;
}


.footerLinksHeadings {
    border-bottom:1px solid #CFCFCF;
    padding-bottom:5px;
    margin-bottom:15px;
}

.footerLink {
    color:#595959;
    text-decoration:none;
}
/*
width:970px;
*/
.footerBottomText {
    width:870px;
    padding-top:30px;
    padding-bottom:20px;
    float:left;
    color:#595959;
}
/* Sub navigation
width:950px;
*/
.subNavigation {
    width:650px;
    height:20px;
}
/* not found addthis_button */

/* Adaptation styles */
#viewadaptation_label{
    font-size: 12px;
    font-weight: bold;
}
#pinkText {
    font-size: 11px;
}
#loader { display:none; padding-left:20px; background:url(images/crystal-arrows.gif) no-repeat center left; }

#viewproduct_editcontrols{
    text-align: right;
}

.cpanelimg {
    margin-right: 10px;
}
.adaptoriginalproduct{
    margin-right: 5px;
}

.editoriginalproduct{
    margin-right: 5px;
}


.deleteoriginalproduct{
    margin-right: 5px;
}

.featuredoriginalproduct{
    margin-right: 5px;
}

#mostratedproduct_thumbnail{
    clear: both;   
}

#mostratedproduct_title{
    clear: both;
}

#featuredproduct_thumbnail{
    clear: both;   
}

#featuredproduct_title{
    clear: both;
}


#most_arc{
    clear: both;
}

.mostadapted{
    font-size: 11px;
}
.mostrated{
    font-size: 11px;
}
.mostcommented{
    font-size: 11px;
}

/* Start template_thoughtcorp_edit 05 march 2012 */
/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
    display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
    margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
    margin:0;
    padding: 3px 0;
    border-bottom: 1px solid #6a86ae;
    font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
    list-style: none;
    margin: 0;
    display: inline;
}

ul.tabbernav li a {
    padding: 3px 0.5em;
    font-size: 10.5px;
    margin-right: 1px;
    border: 1px solid #778;
    border-bottom: none;
    background: #ffffff;
    text-decoration: none;
	
	-webkit-border-top-right-radius: 4px 7px;
	-webkit-border-top-left-radius: 4px 7px;

	-khtml-border-radius-topright: 4px 7px;
	-khtml-border-radius-topleft: 4px 7px;

	-moz-border-radius-topright: 4px 7px;
	-moz-border-radius-topleft: 4px 7px;

	border-top-right-radius: 4px 7px;
	border-top-left-radius: 4px 7px;
}

ul.tabbernav li a:link { color: #666565; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
    color: #171d26;
	background-image: url(images/template_recources/unesco_tabs_bg.jpg);
}

ul.tabbernav li.tabberactive a
{
    border-bottom: 1px solid #fff;
	background-image: url(images/template_recources/unesco_tabs_bg.jpg);
	color:#171d26;
}
.tabberactive {
}
ul.tabbernav li.tabberactive a:hover
{
    color: #000;
    background: white;
    border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
    padding:7px;
    border:5px solid #bbc8da;
	background-color:#ffffff;

    /* If you don't want the tab size changing whenever a tab is changed
       you can set a fixed height */

    /* height:200px; */

    /* If you set a fix height set overflow to auto and you will get a
       scrollbar when necessary */

    /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
    display:none;
}
.tabberlive .tabbertab h3 {
    display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
    height:200px;
    overflow:auto;
}
.tab_container {
	padding-top:10px;
}
/* End template_thoughtcorp_edit */



.deleted{
    text-decoration: line-through;
}


#randomadaptation{
    padding: 10px;
    border-bottom:  1px solid #cccccc;
}

#randomadaptation img{
    margin: 10px;   
}

#randomadaptations{
clear: both;
}
#filteradaptations{
    clear: both;
}



#controlpanel{
    text-align: right;
    margin-right: 30px;
}

.WCHhider{
    background: transparent;
    background-image: none;
    font-size: 11px;
}


.deleted{
    text-decoration: line-through;
}


#randomadaptation{
    padding: 10px;
    border-bottom:  1px solid #cccccc;
}

#randomadaptation img{
    margin: 10px;   
}

#randomadaptations{
    clear: both;
}
#filteradaptations{
    clear: both;
}




#randomadaptation img{
    margin: 10px;   
}

#randomadaptations{
    clear: both;
}

#original_product_languages{
    font-size: 11px;
    text-decoration: underline;
}

.original_product_listing_adaptation_count{
    font-size: 11px;
}

.expand a {
    display:block;
    text-decoration: underline;

    font-size: 11px;
    font-style: italic;
    color: #777777;

}
.expand a:link, .expand a:visited {
    border-width:1px;
    background-image:url(images/arrow-down.gif);
    background-repeat:no-repeat;
    background-position:77% 50%;
}
.expand a:hover, .expand a:active, .expand a:focus {
    text-decoration:underline
}
.expand a.open:link, .expand a.open:visited {
    border-style:solid;
    background:#eee url(images/arrow-up.gif) no-repeat 77% 50%
}

.collapse p {padding:0 10px 1em}

.featurebox{
    border: 1px solid #98acc7;   
}
h7{
    font-size: 11px;
    font-weight: bold;
}

#institutionva{
    font-style:  italic;
}

#institutionva img{
    margin-right: 10px;
}

h1{
    font-size: 14px;
}


#breadcrumbband{
    font-size: 12px;
    bottom: 0px;
    clear: both;
    float: left;
    margin: 15px 0 10px 5px;
    padding: 0;
    position: relative;
    margin-left: 5px;
}

#navigationband{
    clear: both;
}


#controlpanel{
    text-align: right;
    margin-right: 30px;
}



#modernbricksmenu a {
    background: url("images/overlay-sm.png") repeat scroll left top transparent;
    border: medium none;
    color: black;
    display: block;
    float: left;
    letter-spacing: 1px;
    margin: 0 1px 0 0;
    padding: 5px 10px;
    text-decoration: none;
}


#modernbricksmenu #current a {
    background-color: #ffffff;
    background-image: none;
    border-color: #CC0000;
}
fieldset{
    background: transparent;
    background-image: none;
}

.WCHhider{
    background: transparent;
    background-image: none;
    font-size: 11px;
}



#featuredadaptation_prodtitle a{
    font-size: 16px;
    font-weight: bold;
}


td.view_group{
    padding-bottom: 15px;
    border: 1px solid #cccccc;
    font-size: 11px;
    clear: both;
}


.group_listing_title{
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    clear: both;
}

.groupedit{

}

td.view_group{
    padding-bottom: 15px;

    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 0px 7px 2px #b3b3b3;
    -moz-box-shadow: 0px 0px 7px 2px #b3b3b3;
    box-shadow: 0px 0px 7px 2px #b3b3b3;

    border:solid 1px #b3b3b3;/* ie 7&8 fallback */
}

.group_listing_thumbail{
    clear: both;
}


.featuredadaptation{
    margin: 10px;
}

#featuredadaptation_seeall a{
    font-size: 11px;
    text-decoration: underline;
}


#featuredadaptation_insttitle a{
    font-size: 11px;
    text-decoration: underline;
}


#featuredadaptation_text{
    font-weight: bold;
}


#nav-secondary{
    background-image: none;
    background: transparent;
}
.viewinstitutionlink{
    font-size: 11px;
    text-decoration: underline;
    font-style: normal;

}

#producttitle{
    font-size: 12px;
    font-weight: bold;

}

#institutiontype{
    font-size: 11px;
    font-weight: bold;
}

.adaptationcount{
    font-size: 11px;
    text-decoration: underline;
}

.joingroup{
    font-size: 11px;
}

.joingroup a{
    text-decoration: underline;
}

#group_thumbnail img{
    margin: 15px;
}

#group_about{
    margin-bottom: 20px;
}

#group_plugins{
    margin-top: 20px;
}

.institution_thumbnail{
    clear: both;
    float: left;
}

#institution_small_thumbnail{

}

#institution_small_title a{
    clear: both;
    float:left;
}

#group_institutions{
    margin-top: 15px;   
}
#group_institution {

    clear: both;
    border-bottom:solid 1px #b3b3b3;
}

#group_institution img{
margin-bottom: 10px;
}


.viewgroup_institution{
    border-bottom:solid 1px #b3b3b3;
}


.highlight_grid{
    background-color: #ffffff;
    padding: 5px;
    width: 60px;
    border:solid 1px #000000;
}

.highlight_list{
    background-color: #ffffff;
    padding: 5px;
    width: 60px;
    border:solid 1px #000000;
}


#institution_controlband h1{
    float: right;
    height: 27px;
     border:solid 1px #000000;
     padding:  5px;
}

#forum_post{
    margin-bottom: 5px;
    border-bottom: solid 1px #cccccc;
}


td.institution_randomadaptation{
     border-left:  solid 1px #cccccc;
}


#institution_sections{
    margin-top: 20px;
     border: solid 1px #cccccc;
}


#filteroriginalproduct{
    font-size: 11px;
}

#groups_controlband{
    float:right;
    margin-right: 20px;
}

 #map_canvas { 
     height: 100% ;
    
 }
 
 #adaptationtitle{
     font-size: 12px;
     font-weight: bold;
 }
 
 .product_language_dd{
     width:100px;
     font-size: 11px;
 }

 
 .report_block{
     font-size: 11px;
     
 }
 
 .compareAdaptationsNav {
    padding: 10px 10px 10px 10px !important;
    width:190px;
    float: left !important;
    border:1px solid #888888;
    height: 400px;
}
.compareProductNav {
    padding: 10px 10px 10px 10px !important;
    width:190px;
    float: left;
    border:1px solid #888888;
    height: 400px;
    float: left;
}
.compareAdaptationsNav {
    padding: 10px 10px 10px 10px !important;
    width:190px;
    float: left !important;
    border:1px solid #888888;
    height: 400px;
}
.compareSelectedProductNav {
    padding: 10px 10px 10px 10px !important;
    width:190px;
    float: left;
    border:1px solid #888888;
    height: 40px;
    float: left;
}
.compareSelectedAdaptationNav {
    padding: 5px 5px 5px 5px !important;
    width:280px;
    float: left !important;
    border:1px solid #888888;
    height: 80px;
    font-size: 10px;
}
.searchCompare {
    clear: both;
    width:910px;
    vertical-align: middle !important;
}
.adaptnodeselect {
    color:#004e89;
    border:1px solid #165879;
    background-image:url(images/template_recources/unesco_tabs_bg.jpg);
    background-position:bottom left;
}

/* Right top div holding search and facebook shere links */
.logoutSearchDivRight {
    width:485px;
    float:left;
    text-align:right;
}
.reportheader {
    background-color: #C0C0C0;    
}
.reportheader.td {
    border-color: #C0C0C0;
}
.reporttable {
    padding: 2px;
    vertical-align: middle;
}
.reportPropertyTitle {
    font-size: 12px;
    font-weight: bold;
}
.reportPropertyValue {
    font-size: 11px;
}
.allreportstable legend {
    font-size: 12px;
}
.reporttable table {
border-top-color: gray;
border-right-color: gray;
border-bottom-color: gray;
border-left-color: gray;
table-layout:fixed;
width: 315px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
border: #C0C0C0;
}