/** ICS Business Styles **/

body {
    background-color: #EDEDED;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: 4b526d;
    font: 10pt Arial, "Lucida Sans Unicode", Tahoma, sans-serif;
    line-height: 180%;
}

/*
#container a, a:link, a:visited {
    color: #92b9e1;
    text-decoration: none;
}

#container a:hover{
    color: #5f7d9c;
    text-decoration: none;

}
*/

#wrapper {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

#container {
    /*background-color: #E8E8E8;*/
    background-color: #EDEDED;
    width: 956px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
h1, h2, h3, h4, h5, h6 {
    color: #475594;
}

li {line-height: 1.4em;padding-left: 25px;background: transparent url("images/sprites.gif") no-repeat 0 0}

#header {
	background: #EDEDED;
}

#sitename span {
}
#sitename {
	font-size: 30px;
	height: 93px;
	color: #e0e3ec;
	margin: 0px 0 0 0px;
	padding: 0;
	background: #EDEDED; /*url("images/ics_logo.png") no-repeat;*/
}

	
#search {
	position: absolute;
	color:#000;
	/*float: right;*/
    top: 1px;
    left: 360px;
    width: 300px;
    margin: 0;
}

#breadcrumbs {
	font-size: 80%;
	color:#000;
    padding: 0px;
    position:relative;
    left: 20px;
}
#breadcrumbs a:link, #breadcrumbs a:visited {
	color: #2c2c2c;
	text-decoration: none;
}
#breadcrumbs a:hover {
	color: #9c9c9c;
	text-decoration: underline;
}

#footer {
    background: #EDEDED url(images/footer.png) repeat-x;
    text-align:center;
    color:#999;
	padding-bottom: 10px;
    margin-top: 20px;
    height: 117px;
    position: relative;
    top: -10px;
    border-top: 1px solid #FFFFFF;
}

#footer p {margin:0}
#footer a:link {color:#000}

/* Menu */

#menuwrapper {
	background-color: #e0e3ec;
    padding: 20px;

    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    width: 916px;

}


#icstoolbar {
    width : 910px;
    background : #F5F5F5;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #b5b7c6;
    text-align: center;
}

#toolbarcontainer{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 707px;
}

ul#menuList  li {
    display:block;
	background-color: #5f7d9c;
	padding: 2px;
	background-image: none;

	border-bottom: none;
	font-weight: bold;
}

ul#menuList  li:hover {
	
	background-color: #9ab2cb;
}

/* Top Row*/
ul#menuList  li a {
	
	color: #FFF;
	text-decoration: none;
	padding-right: 30px;
}

/* Items on menu*/
ul#menuList  li li a {
	color: #000;
	text-decoration: none;
	padding: 3px;
}

ul#menuList  li li a img{
	border-style: none;
	padding: 0;
	margin: 0;
}

ul#menuList  li li a span{
    margin-left: 27px;
    margin-right: 0px;
    
}

ul#menuList  li  li{
    border-style: none;
    width: 100%;
    background: #fff;
    color: #000;
    font-weight: normal;
    padding: 0;
    text-align: left;
}

ul#menuList  li  li:hover{
    border-style: none;
    background-color: #9ab2cb;
    color: #fff;
}

ul#menuList  li  li:hover a {
    color: #fff;
}

/* Increase padding on the last right item*/
ul#menuList  li  li.last a{
    padding-right: 8px;
}

ul#menuList  li  ul{
    margin-top: 2px;
}



div#twocolumn, div#threecolumn {
    margin-top: 0px;
}

#wrapper, #contentlayout {
    background: #e0e3ec repeat-x ;
}

#contentlayout {
	/*clear: left;*/
	background: #e0e3ec;
}

#left {
	/*background: #999966 url("newimages/right_end_test.jpg") no-repeat top left;*/
	background: #e0e3ec;
    margin-bottom: 10px;
}

#leftcontent {
   /** background: #999966;/*#FFFFFF;*/
    margin: 0 0px 0px 5px;
    padding: 0px 11px 5px 3px;
}

#rightcontent
{
    
    margin-right: 10px;
    padding: 0px 15px 5px 10px;
}

#right {
	background: #e0e3ec /*url("newimages/right_end_test.jpg") no-repeat top right ;*/
	border-left: 1px solid #ffffff;
	border-bottom:10px;
}

#contentcontent {
    border-top: 1px solid #b5b7c6;
    border-left: 1px solid #b5b7c6;
    border-right: 1px solid #b5b7c6;
    border-bottom: 1px solid #b5b7c6;

    padding: 0px 10px 10px 10px;
    background-color: #F5F5F5;
}



#twocolumn #content {
    margin-right: 10px;
    padding: 0px 7px 5px 5px;
    background: #e0e3ec /*url("newimages/right_end_test.jpg") no-repeat top right ;*/
    
}


/* Feature Box */

.featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
    margin: 0 0 0px;
    color: #475594;
    background-color: #F5F5F5;
    padding: 3px;
}
.featurebox {
    margin-bottom: 20px;
    /*background-color: #F5F5F5;*/
    background-color: transparent;
    color: #000;
}

.featurebox p {border:2px;margin: 0 0 1em;color: #475594;}
.featurebox select {width: 100%; }

.featureboxheader {
    padding: 3px;
    padding-left: 34px;
    color: #4156a5;
    background: transparent;
    font: 13pt Georgia, "Times New Roman", Times, serif;
    text-align:left;
    text-decoration: none;
}

.featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
	margin: 0 0 0;
	/*border-bottom: 2px solid #F5F5F5;*/
	color: #475594;
	background-color: #F5F5F5;
    text-align: left;
    padding-left: 10px;
}

.featureboxcontent p {
	border:2px solid #fff;
	margin: 0 0 1em;
    color: #475594;
    background-color: #F5F5F5;
    padding: 10px;
}

.featureboxheader a{
    color: #475594;
    background-color: #F5F5F5;
    text-decoration: none;
}

.featureboxcontent a a:link a:hover a:visited {
	font-weight:bold;
    color: #000;
    text-decoration: none;
    background-color: #F5F5F5;
}


.featureboxcontent select {
	width: 100%;
}

#leftcontent .featureboxcontent {
    background: /*#F5F5F5*/ transparent url(images/featureboxmiddle_left.gif) repeat-y;
    padding: 10px;
    line-height: 150%;
    float: left;
    width:139px; 
}

#rightcontent .featureboxcontent {
    background: /*#F5F5F5*/ transparent url(images/featureboxmiddle_right.gif) repeat-y;
    padding: 10px;
    line-height: 150%; 
    float: left;
    width:145px;
}

/* End featurebox */

/* Secondary Navigation */
#nav-secondary a {line-height:1.8;padding: 5px 0 5px 23px;background: #fff url("images/sprites.gif") no-repeat 10px -695px;font: bold 86% arial, sans-serif; color: #000; display:block}
#nav-secondary a:hover {color:#000;background: #e0e3ec url("images/sprites.gif") no-repeat 10px -695px} 

.menuBtn {
    font-size: 0.8em;
    line-height: 11px;
    background-color: #7fa1c3;
}

.menuBtn:hover { 
    background-color: #9ab2cb;
}

.menuBtn a {
    color: #FFF;
    text-decoration: none;
}

.menuBtnOn {
    font-size: 0.8em;
    line-height: 11px;
    background-color: #7fa1c3;
}

.menuBtnOn:hover, .menuBtnOn a:hover, .menuBtnOn a:link:hover, .menuBtnOn a:visited:hover {
    background-color: #9ab2cb;
}

.menuBtnOn a:hover {
    color: #fff;
    text-decoration: none;
}


#sanordmenu{
	margin-top: 10px;
	padding-right: 10px;
	background-color: #d2d6db;
	
}

#sanordmenu ul{
	background-color: #d2d6db;
	margin:0;
	margin-left: 220px; /*margin between first menu item and left browser edge*/
	padding:0;
	list-style: none;
	text-transform: lowercase;
}

#sanordmenu li{
	display: inline;
	margin: 0 2px 0 0;
	padding:0;
}

#sanordmenu li a{
	float: left;
	display: block;
	color: #8f9dbc;
	margin: 0 5px 0 0; /*Margin between each menu item*/
	padding: 2px 4px 0 4px;
	text-decoration: none;
	font-weight: bold;
	background-color: #EDEFEC; /*Default menu color*/
	border-right: 2px solid #DCDFD6;
}

#sanordmenu li a:hover{
	color: #000;
}

#sanordmenu #current a{ /*currently selected tab*/
	background-color: #FFF; /*Brown color theme*/ 
	border-right: 2px solid #DCDFD6;
	color: #000;
}

/* Three Column Layout */
#threecolumn div#wrapper div#content{margin: 0 199px 0 190px}
#threecolumn div#left{float:left;width:178px;margin-left:-99%}
#threecolumn div#right{float:left;width:200px;margin-left:-201px}

/* Two Column Layout */
#twocolumn div#wrapper div#content{margin: 0 0 0 190px}
#twocolumn div#left{float:left;width:180px;margin-left:-99%}
#twocolumn div#right{display:none}


#left {
    background-color: #e0e3ec;
}

/**
Turn off round corners
*/



div.rounded2 {

  background:  #FFF;

  margin-bottom: 2px;

}

div.rounded2 div {
  
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #d2d6db;
    padding-bottom: 2px;
    padding-right: 2px;
    
}

div.rounded2 div div {

  background: #FFF;

}

div.rounded2 div div div {

  background: #FFF;

  padding: 2px;

}

#textresize {
	padding-top: 80px;
	padding-right: 20px;
	float: right;
}
h1 {
	/*18px via YUI Fonts CSS foundation*/
	font-size: 15pt;
}
h2 {
	/*16px via YUI Fonts CSS foundation*/
	font-size: 14pt;
}
h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size: 13pt;
}
h1,h2,h3 {
	/* top & bottom margin based on font size */
	margin:1em 0;
}
h1,h2,h3,h4,h5,h6,strong {
    /*bringing boldness back to headers and the strong element*/
    font-family: Georgia, "Times New Roman", Times, serif;
}
abbr,acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
} 
em {
	/*bringing italics back to the em element*/
	font-style:italic;
}
blockquote,ul,ol,dl {
	/*giving blockquotes and lists room to breath*/
	margin:1em;
}
ol,ul,dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}
ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;	
}
ul li {
	/*giving UL's LIs generated disc markers*/
	
}
dl dd {
	/*giving UL's LIs generated numbers*/
	margin-left:1em;
}
th,td {
	/*borders and padding to make the table readable*/
	
	padding:.5em;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}
caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
p,fieldset,table {
	/*so things don't run into each other*/
	margin-bottom:1em;
}



/***********************************************************************************************
*  Horizontal, top-2-bottom menu
*  Copyright Aleksandar Vacic, www.aplus.co.yu, some rights reserved http://creativecommons.org/licenses/by-sa/2.0/
***********************************************************************************************/

#menu {
    display: block;
    padding-left: 10px;
    z-index: 100;
}

#menu ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    color: #9c9c9c;
}

#menu li {
    margin: 0;
    border: 0;
    display: block;
    float: left;
    position: relative;
    width: 110px;
    text-align:center;
}



#menu a {
    display: block;
    text-decoration: none;
}

#menu img {
    float: left;
    width: 17px;
    height: 17px;
}

#menu span {
    margin-left: 20px;
    display: block;
}






/* fix the position for 2nd level submenus. first make sure no horizontal scrollbars are visible on initial page load... */

#menu li li ul {
    top: 0;
    left: 0;
}



/* ...and then place it where it should be when shown */

#menu li li:hover ul {
    /*left: 100%;*/
    z-index: 100;
}

/* initialy hide all sub menus */

#menu li ul {
    display: none;
    position: absolute;
    z-index: 101;
    width: 130px; /* Customizable*/
                    
    background-color: #FFF;
    border: 1px solid #fff;
}

/* display them on hover */
#menu li:hover>ul {
    display: block;
    z-index: 101;
}

/* this is needed if you want to style #menu div - force containment of floated LIs inside of main UL */

#menuList:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

/* Fix for IE5/Mac \*//*/
#menu a {
    float: left;
}
/* */


.featurebox, #nav-secondary, body.help-popup {
    /*background-color: #F5F5F5;*/
    /*border: 1px solid #b5b7c6;*/
    padding-top: 12px;
}


#leftcontent .featureboxheader {
    float: left;
    width:146px; 
    background: url(images/featureboxmiddle_left.gif) repeat-y;
}

#rightcontent .featureboxheader {
    float: left;
    width:152px; 
    background: url(images/featureboxmiddle_right.gif) repeat-y;
}

/* Featurebox Tightly Controlled Corners */

.featureboxtopcontainer{
    width: 100%;
    display: block;
    clear: right;
}

.featureboxtopleft {
    float: left;
    width: 10px;
    height: 18px;
    background: url(images/featureboxheader_tleft.gif) no-repeat;
}

#leftcontent .featureboxtopborder {
    width: 139px;
    float: left;
    height: 18px;
    background-color: red;
    margin-right: auto;
    margin-left: auto;
    background: url(images/featureboxheader_tmiddle.gif) repeat-x;
}

#rightcontent .featureboxtopborder {
    width: 145px;
    float: left;
    height: 18px;
    background-color: red;
    margin-right: auto;
    margin-left: auto;
    background: url(images/featureboxheader_tmiddle.gif) repeat-x;
}

.featureboxtopright {
    float: right;
    width: 10px;
    height: 18px;
    background: url(images/featureboxheader_tright.gif) no-repeat;
}


.featureboxbottomcontainer{
    width: 100%;
}

.featureboxbottomleft {
    float: left;
    width: 10px;
    height: 18px;
    background: url(images/featureboxheader_bleft.gif) no-repeat;
}

#leftcontent .featureboxbottomborder {
    float: left;
    width: 139px;
    height: 18px;
    background: url(images/featureboxheader_bmiddle) repeat-x;
}

#rightcontent .featureboxbottomborder {
    float: left;
    width: 145px;
    height: 18px;
    background: url(images/featureboxheader_bmiddle) repeat-x;
}

.featureboxbottomright {
    float: right;
    width: 10px;
    height: 18px;
    background: url(images/featureboxheader_bright.gif) no-repeat;
}
