/*
    Document   : stylesheet.css
    Created on : 30 May 2010, 1:11:21 PM
    Author     : dkeats
    Description:
        Leave this blank for consistency to implement the underlying skin as a canvas to enable selecting.
*/

html, body {
    font-family: Verdana, Arial, sans-serif;
    background-image: none;
    background: #EFEFEF;
    font-size: 12px;
    color: #6B6B6B;
}

/* Fixed width canvas */
.ChisimbaCanvas {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#container {
    background: url("images/gradient.png") top left repeat-y;
}

/* Locate the search box correctly */
div#header div#search {
    margin: 0;
    margin: 10px;
    padding: 10px;
    color: gray;
    width: 360px;
    position: relative;
    margin-top: -28px;
    margin-left: 540px;
}