
.icon-32 { height:32px; width:32px}
.icon-24 { height:24px; width:24px}

.sexy-add { background-image: url(../../../skins/_common2/css/images/sexybuttons/icons/silk/add.png) !important; background-repeat: no-repeat; }
.sexy-delete { background-image: url(../../../skins/_common2/css/images/sexybuttons/icons/silk/delete.png) !important; background-repeat: no-repeat; }
.sexy-pencil { background-image: url(../../../skins/_common2/css/images/sexybuttons/icons/silk/pencil.png) !important; background-repeat: no-repeat; }
.sexy-newf { background-image: url(../../../skins/_common2/css/images/sexybuttons/icons/silk/folder_add.png) !important; background-repeat: no-repeat; }
.sexy-deletef { background-image: url(../../../skins/_common2/css/images/sexybuttons/icons/silk/folder_delete.png) !important; background-repeat: no-repeat; }
.sexy-bookmark { background-image: url(../../../skins/_common2/css/images/sexybuttons/icons/silk/bookmark_add.png) !important; background-repeat: no-repeat; }
