/***********************************************************************************************
* Styles for all elements on a page
***********************************************************************************************/

/* Set Margin and Padding of Everything to Zero to overwrite browser default styles  */
* {
        margin:0;
        padding:0;
}

/* Body and HTML */
html, body {
        width: 100%;
        height: 100%;
}

/* Default Size of all Items on a Page */
body {
        font-size: 14px;
}

a:link, a:visited {
        color: #000099;
        font-weight: normal;
}

a:hover {
        color: #CC0000;
}


/***********************************************************************************************
*  Horizontal, top-2-bottom menu
*  Copyright Aleksandar Vacic, www.aplus.co.yu, some rights reserved http://creativecommons.org/licenses/by-sa/2.0/
***********************************************************************************************/

#menu {
        display: block;
        padding-left: 10px;
        z-index: 100;
}

#menu ul {
        margin: 0;
        padding: 0;
        border: 0;
        list-style-type: none;
}

#menu li {
        margin: 0;

        border: 0;
        display: block;
        float: left;
        position: relative;
}

#menu li a {
        padding-right: 30px;
}

#menu a {
        display: block;
}

#menu li li {
        padding: 0;
        width: 100%;
}

/* fix the position for 2nd level submenus. first make sure no horizontal scrollbars are visible on initial page load... */
#menu li li ul {
        top: 0;
        left: 0;
}

/* ...and then place it where it should be when shown */
#menu li li:hover ul {
        left: 100%;
        z-index: 100;
}

/* initialy hide all sub menus */
#menu li ul {
        display: none;
        position: absolute;
        z-index: 101;
        width: 130px; /* Customizable*/
}

/* display them on hover */
#menu li:hover>ul {
        display: block;
        z-index: 101;
}

/* this is needed if you want to style #menu div - force containment of floated LIs inside of main UL */
#menuList:after {
        content: ".";
        height: 0;
        display: block;
        visibility: hidden;
        overflow: hidden;
        clear: both;
}

/* Fix for IE5/Mac \*//*/
#menu a {
    float: left;
}

/* */

/***********************************************************************************************
* CSS for Two & Three Column Layouts
***********************************************************************************************/



/* Three Column Layout */
#threecolumn div#wrapper div#content{margin: 0 250px 0 250px}
#threecolumn div#left{float:left;width:250px;margin-left:-100%}
#threecolumn div#right{float:left;width:250px;margin-left:-250px}

/* Two Column Layout */
/* #twocolumn div#wrapper div#content{margin: 0 0 0 200px} */
/* #twocolumn div#left{float:left;width:200px;margin-left:-100%} 
/* #twocolumn div#right{display:none} */

/* Right Column Column Layout */
#rightcolumn div#wrapper div#content{margin: 0 250px 0 0}
#rightcolumn div#left{display:none}
#rightcolumn div#right{float:left;width:250px;margin-left:-250px}

#footer {
        clear:both;
        border-top: 1px solid #E3E8EE;
        padding: 10px 0 30px;
        font-size:86%;
}


/***********************************************************************************************
* Common Styles for Usage
***********************************************************************************************/

/* Use this styles for tables instead of <td nowrap> */
.nowrap {
        white-space: nowrap;
}


/* Confirm message that action has occurred successfully */
.confirm, #confirm
{
        color: #000000;
        background-color: #FFDE39; /* A dark yellow */
}

/* Use for text that is greyed out or dimmed for some reason */
.dim {
        color: #666666;
}

/* Specify certain text that for error messages */
.error
{
        color: red;
}

.HighLightText
{
        background-color: #669900;
        color: #ffffff;
}

.warning /* Specify certain text that you want people to notice or beware of for example: "Please note that the suggestion box
         is for suggestions about KEWL". */
{
        color: #FFA500;
        font-weight: bold;
        padding: 2px;
}

/*  This specify the color of the notes or short little descriptive wording, shown on the login page and
        after you've logged in for example the following text:"Note this is still very experimental and there is
        no translation for most things". */
.minute
{
        font-size: 85%;
        color: #660033;
}

/* Large Font for Indicating no Records*/
.noRecordsMessage {
        font-style: oblique;
        text-align: center;
        font-weight: normal;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: large;
}

/* Dark Wrapper - for the header*/
.wrapperDarkBkg {
        background-color: #336600;
        padding: 3px;
        color: #FFFFFF;
}

/* Light Wrapper - for the Content*/
.wrapperLightBkg {
        background-color: #FFFFFF;
        padding: 3px;
}

/* Odd table rows - for the Content*/
.sudokuOdd {
        background-color: #a8a8a8;
        padding: 3px;
}

/* Even table rows - for the Content*/
.sudokuEven {
        background-color: #d0d0d0;
        padding: 3px;
}

/* Color of Content in Wrapper*/
.wrapperLightBkg p {
        color: black;
}

/* CSS From Mollio */

/* TYPOGRAPHY */

h1 {font-size: 196%; margin-top:.6em}
h2 {font-size: 136%}
h3 {font-size: 126%}
h4 {font-size: 116%}
h5 {font-size: 106%}
h6 {font-size: 96%}


/* LISTS */

ul.related {margin-top: -1em}
ol {margin: .5em .5em 1.5em}
ol li {margin-left: 1.4em;padding-left: 0;background: none; list-style-type: decimal}
li.doc {background-position: 3px -500px}
ul.nomarker li {background:none;padding-left:0}

dl {margin: 0 0 1em 0}
dt {font-weight:bold;margin-top: 1.3em}
dl dl {margin: 0 0 1.5em 30px}
img {border:none} 
hr {margin: 1em 0;background:#f2f2f2;height:1px;color:#f2f2f2;border:none;clear:both}
small {font-size:11px}

.clear {clear:both;position:relative;font-size:0px;height:0px;line-height:0px} 
.highlight {color:#E17000}
.subdued {color:#999}
.error {color:#c00;font-weight:bold}
.success {color:#390;font-weight:bold}
.caption {color:#999;font-size:11px}
.date {font: bold 82% arial;color:#bbb;display:block;letter-spacing: 1px}


/* Tab boxes */
fieldset.tabbox {
        border: 1px solid #006600;
        margin:0;
        margin-bottom: 10px;
}
/* Legend in Tab boxes */
legend.tabbox {
        background-color:white;
        border: 1px solid #006600;
        color:#000000;
        font-family:Times, serif;
        font-weight:bold;
        padding-left: 5px;
        padding-right: 5px;
}
/* Increase padding of lists in tab boxes*/
fieldset.tabbox ul, fieldset.tabbox ol {
        margin-left: 0px;
        padding-left: 15px;
}

/* Switch menu styles */
.menutitle{
        cursor:pointer;
        margin-bottom: 5px;
    background-color:#ECECFF;
        color:#000000;
        width:98%;
        padding:2px;
        text-align:center;
        font-weight:bold;
        /*/*/border:1px solid #000000;/* */
}

.submenu{
        margin-bottom: 0.5em;
        background-color:#FFFFFF;
}
/* End - Switch menu styles */


/* This CSS prevents content from flowing into the next line*/
table.overflowtable {
        table-layout:fixed;
}
table.overflowtable td.overflowcolumn {
        overflow:hidden;
        white-space:nowrap;
} 

/***********************************************************************************************
*  BEGIN: Styles to use for creating tabbed boxes such as the login one                        *
***********************************************************************************************/

fieldset.tabbox {
        border: 1px solid #626262;
        margin:0;
        margin-bottom: 10px;
}
legend.tabbox {
        background-color:white;
        border: 1px solid #626262;
        color:#000000;
        font-family:Times, serif;
        font-weight:bold;
        padding-left: 5px;
        padding-right: 5px;
}

fieldset.tabbox ul {
        margin-left: 0px;
        padding-left: 15px;
}

/******************************************************************************************
*  Styles in the Discussion Forum
******************************************************************************************/

.newForumContainer {
        margin: 10px;
        border: 1px solid black;
}

.newForumTopic {
        background-color: #F2F2F2;
        padding: 5px;
}
.newForumContent {
        clear: both;
        background-color: white;
        border-top: 1px solid black;
        padding: 5px;
}

.forumUserPicture {
        float:left;
}

.forumTopicTitle {
        margin-left: 50px;
}

.smallText {
        font-size: 90%;
}

.forumTangentIndent {
        margin: 10px;
        padding: 5px;
        background-color: #ffffcc;
        border: 1px dotted #800080
}


/******************************************************************************************
*  END - Styles in the Discussion Forum - END
******************************************************************************************/


/* SECONDARY NAVIGATION - vertical navigation */
#nav-secondary, #nav-secondary ul {position:static}
#nav-secondary, #nav-secondary li {list-style: none;margin:0;padding:0;background:#fff}
#nav-secondary {padding-top:0;border-top: 1px solid #ccc;margin-top: 1px}
#nav-secondary a {line-height:1.8;padding: 5px 0 5px 23px;background: #fff;font: bold 86% arial;display:block}
#nav-secondary a, #nav-secondary a:link, #nav-secondary a:visited, #nav-secondary a:hover, #nav-secondary a:active {text-decoration:none;cursor:pointer;} 
#nav-secondary a:link {color:#000} 
#nav-secondary a:visited {color:#000} 
#nav-secondary a:hover {color:#c00;background: #fee} 
#nav-secondary li.active a:link, #nav-secondary li.active a:visited, #nav-secondary li.active a:hover, #nav-secondary li.active a:active {color:#c00} 
#nav-secondary li {border-top: 1px solid #fff;border-bottom: 1px solid #ccc}

/* SECONDARY NAVIGATION - 2nd TIER */
#nav-secondary ul {margin: 0 0 1em 23px;padding:0}
#nav-secondary li.active li a, #nav-secondary li.active li a:link, #nav-secondary li.active li a:visited {line-height:1.5;background-color: #fff ;padding:0 0 0 12px;font-weight:normal;width:auto;color:#000;width:130px;display:block}
#nav-secondary li.active li a:hover, #nav-secondary li.active li a:active {color: #c00}
#nav-secondary li.active li {border: none;margin:0}

#nav-secondary li.active li.active a:link, 
#nav-secondary li.active li.active a:visited, 
#nav-secondary li.active li.active a:hover, 
#nav-secondary li.active li.active a:active {font-weight:bold}

/* SECONDARY NAVIGATION - 3rd TIER */
#nav-secondary ul ul {margin: 0 0 1em 13px;padding:0}
#nav-secondary li.active li.active li a, #nav-secondary li.active li.active li a:link, #nav-secondary li.active li.active li a:visited {width:117px}
#nav-secondary li.active li.active li a:link, 
#nav-secondary li.active li.active li a:visited, 
#nav-secondary li.active li.active li a:hover, 
#nav-secondary li.active li.active li a:active {font-weight:normal}
#nav-secondary li.active li.active li.active a:link, 
#nav-secondary li.active li.active li.active a:visited, 
#nav-secondary li.active li.active li.active a:hover, 
#nav-secondary li.active li.active li.active a:active {font-weight:bold}

/* SECONDARY NAVIGATION - 4th TIER */
#nav-secondary ul ul ul {margin: 0 0 1em 13px;padding:0}
#nav-secondary li.active li.active li.active li a, #nav-secondary li.active li.active li.active li a:link, #nav-secondary li.active li.active li.active li a:visited {width:104px}
#nav-secondary li.active li.active li.active li a:link, 
#nav-secondary li.active li.active li.active li a:visited, 
#nav-secondary li.active li.active li.active li a:hover, 
#nav-secondary li.active li.active li.active li a:active {font-weight:normal}
#nav-secondary li.active li.active li.active li.active a:link, 
#nav-secondary li.active li.active li.active li.active a:visited, 
#nav-secondary li.active li.active li.active li.active a:hover, 
#nav-secondary li.active li.active li.active li.active a:active {font-weight:bold}


#left h3, #left h1 {
        width: 100%;
        overflow:hidden;
}

/* Hide the Instant Messenger Iframe */
#IM {
        display: none;
}


/******************************************************************************************
*  MOUSE OVER POPUP                                                                       *
******************************************************************************************/


/* Default DOM Tooltip Style */
div.domTT {
        border: none;
        margin: 0em 0em 2em 0em;
        padding: 0;
}
div.domTTCaption {
        background: #000;
        border: 1px solid #000;
        border-style: solid solid none solid;
        color: #FFF;
        padding: 0em 1em 0em 1em;
        text-transform: none;
        text-decoration: none;

        font-size: 1em;
        height: 1em;
        cursor: hand;
}
div.domTTContent {
        background: transparent;
        border-collapse: collapse;
        border: 1px solid #000;
        padding: 3px;
        overflow: auto;
        background: #FFF;
}



/******************************************************************************************
*  END OF MOUSE OVER POPUP                                                                        *
******************************************************************************************/


li.sectionfolder {
        background: transparent url('icons/folder2.gif') no-repeat 0px 1px; 
        padding-left: 20px;
        margin-left: 0px;
}

ul.treefolder ul {
        margin-bottom: 5px;
}