/* 
    Document   : MyNotes
    Created on : 24 Apr 2012, 6:40:48 AM
    Author     : Nguni Phakela
    Description:
        Custom css specific to MyNotes module
*/

div.center {
    text-align: center;
}

div.taglist, div.notelist {
   padding: 10px; 
}
div#middledynamic_area li {
    padding-bottom: 10px;
}
span#readmore {
    font-weight: bold;
}