/*

    This is the Canvas base skin for Chisimba.

    It should serve as the base skin for all further Chisimba canvas skins,
    unless its underlying styles are being replaced.

    It is a version 3.0 for Chisimba and supports canvases. It does not
    support the old styles any longer.

    Author: Derek Keats
    License: GPL V2
    
*/



/*
    The ovearll page, font and background
*/
html,body {
    height: 100%;
}

html {
    color: #333333;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
    font-size: 10pt;
    line-height: 190%;
}

body {
    background-color: #DEE2E7;
    color: #333333;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
    font-size: 10pt;
    line-height: 190%;
    background: url('images/bg.jpg');
    background-repeat: repeat-x repeat-y;
    background-attachment: fixed;
}

/* RESET */
th,td {
    border:0;
    outline:0;
}


/* RESET paragraph tag */
p {
    margin-top:14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.ChisimbaCanvas {
    width: auto;
    padding:0px;
    margin-right: 25px;
    margin-left: 25px;
}

#Canvas_Content {
    padding:0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
}

#Canvas_BeforeContainer {
    height: 0px;
}

.Canvas_Column {
    margin-top: 0px;
}

#Canvas_Content_Body{
    margin-top: 0px;
}


#Canvas_Content_Body_Region1 {
    background: url("images/overlay-sm.png") top left repeat;
    float:left;
    width:220px;
    margin-top: 3px;
    padding-bottom:4px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 4px;
}

#Canvas_Content_Body_Region2 {
    margin-top: 0px;
    padding-left: 8px;
    padding-top: 6px;
    overflow: auto;
    width:auto;
}

#Canvas_Content_Body_Region3 {
    background: url("images/overlay-sm.png") top left repeat;
    float:right;
    width:220px;
    margin-top: 3px;
    margin-left: 6px;
    padding-bottom:4px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 4px;
}

/*
    Do the links and headings first so that other selectors can
    have customized links and headings.
*/
a:link, a:visited {
    color: #414054;
    text-decoration: none;
}
a:hover, a.visited:hover {
    color: #414054;
    text-decoration: none;
    background-color: #cdcdcd;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
}

#Canvas_Content {
    padding:0px;
    margin: 25px;
}

/*
    The container is the outer area within the page
*/
#container {
    background: url("images/overlay25.png") top left repeat;
    border: none;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    margin: 0px;
    padding: 6px;
    border: 2px solid #ffffff;
}

/*
    The header div. The content of the header is actually in a H1 heading
*/
#header {
    background: url("images/overlay-sm.png") top left repeat;
    border: none;
    padding:10px;
    height: 50px;
    border-radius-topleft: 25px;
    -moz-border-radius-topleft: 25px;
    -webkit-border-top-left-radius: 25px;
    -khtml-border-radius-topleft: 25px;
    border-radius-topright: 25px;
    -moz-border-radius-topright: 25px;
    -webkit-border-top-right-radius: 25px;
    -khtml-border-radius-topright: 25px;
}

#header a, a.visited {
    color: #0d1d79;
}

#header a:hover, a.visited:hover {
    color: #414054;
    text-decoration: none;
    background: transparent;
}


/*
    This is the site name. Set it to display:none if you
    use an image banner.
*/
h1#sitename {
    padding: 0px;
    position: absolute;
    top: 38px;
    font-size: x-large;
}

/**
    BEGIN: Content Feature Box as used for the blocks that
    appear in the page body
**/
.contentfeaturebox {
    background: url("images/overlay50.png") top left repeat;
    position: relative;
    padding-top: 0.3em;
    padding-right: 0.6em;
    padding-bottom: 1.3em;
    padding-left: 0.6em;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #d2dada;
    line-height: 1.1em;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 130%;
}

.featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
    margin: 0 0 .3em ;
    padding-left: 0px;
    border-bottom: 1px solid #0033FF;
    color: #414054;
    background: url("images/overlay25.png") top left repeat;
    border: none;
}

/*
Paragraphs within a content featurebox
*/
.contentfeaturebox p {
    border:none;
    margin: 0;
    border: none;
}

/*
The blog and some other content uses H3 within a contentfeaturebox.
It is styled here to produce the top part of each blog post so that
it is offset from the text content.
*/
.contentfeaturebox h3 {
    background: url("images/overlay25.png") top left repeat;
    margin-top: -5px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
    border: solid white 1px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top:10px;
    padding-bottom: 5px;
    border-radius-topleft: 30px;
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    -khtml-border-radius-topleft: 30px;
    border-radius-topright: 30px;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    -khtml-border-radius-topright: 30px;
}

/*
    The headder of the feature box,  that appears
    above the content.
*/
.featureboxheader
{
    background: url("images/overlay-sm.png") top left repeat;
    border: none;
    padding: 5px;
    border-radius-topleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-radius-topleft: 5px;
    border-radius-topright: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-radius-topright: 5px;
    line-height: 130%;
}

/*
    The content of the feature box,  below the
    headder.
*/
.featureboxcontent
{
    padding: 5px;
    line-height: 130%;
}

/*
    The site search box that appears in the headder
*/
div#header div#search {
    margin: 0;
    margin: 10px;
    position: absolute;
    color: gray;
    top: 34px;
    right: 30px;
    width: 360px;
}

div#header div#search input#input_search {
    width: 168px;
    height: 23px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0px;
    background: url(images/box-search.png) left top no-repeat;
    padding-top:-5px;
    padding-right: 20px;
}

div#header div#search label {
    display: none;
    margin-left: -9999px;
    margin-top: -9999px;
}
input#input_search.text {
    border: none;
    margin:0px;
    color: #444;
    width: 156px;
    padding-top: 2px;
    padding-left: 10px;
}

div#header div#search button {
    margin-left:-5px;
}


/*
    Styles specifically related to improving the display of
    the blog
*/

.blog-head-date {
    font-size: 70%;
    color: gray;
}

/* The bottom part of each blog post with comments and tags, etc */
.blog-item-base {
    background: url('images/overlay25.png');
    margin-top: 5px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -18px;
    -moz-border-radius-bottomleft: 30px;
    border-radius-bottomleft: 30px;
    -webkit-border-radius-bottomleft: 30px;
    -khtml-border-radius-bottomleft: 30px;
    -moz-border-radius-bottomright: 30px;
    border-radius-bottomright: 30px;
    -webkit-border-radius-bottomright: 30px;
    -khtml-border-radius-bottomright: 30px;
    border: 1px groove white;
}



.featurebox,  body.help-popup {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: url("images/overlay-sm.png") top left repeat;
    border: 1px solid  #fffff;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.toolbar_menuuser {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent url("images/overlay-sm.png") top left repeat;
    border: 1px solid  #fffff;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.toolbar_menuuser h2 {
    font-size: 130%;
    line-height: 130%;
    text-align: center;
}

.tabberlive .tabbertab {
    background: transparent url("images/overlay-sm.png") top left repeat;
}

#nav-secondary {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
    border: none;
    padding: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    line-height:100%;
}

#nav-secondary ul {
    
}

#nav-secondary li{
    padding-left: 15px;
    margin-bottom: 4px;
    text-indent: -17px;
    margin-left: -6px;
}

#nav-secondary li:before {
    content:url(images/bullet.png);
    vertical-align: text-top;
    margin-right: 5px;
}

.featureboxcontent ul li {
    margin-left: 0px;
}

/*
    The content of the feature box,  below the
    headder and the secondary nav menu should have
    icons before the links
*/
.fblinkbefore {
     background: url("images/bullet_grey.png") center left no-repeat;
     width: 10px;
     height: 10px;
     float: left;
     margin-right: 5px;
     margin-top: 4px;
}

.featureboxlink {
   
}


fieldset {
    background: url("images/overlay-sm.png") top left repeat;
    border: none;
    /*border: 1px solid #D8E9F6;*/
    border:0.5px solid #ffffff;
    padding: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

.tabcontentstyle {
    background: url("images/overlay50.png") top left repeat;
    border-radius-topright:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
}

fieldset .tabbox {
    background: url("images/overlay25.png") top left repeat;
    border:0.5px solid #ffffff;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

hr {
    border: none;
    margin: 10px;
    display: inline;
    color: gray;
}

form {
    margin-bottom: 10px;
}

th {
    background: url("images/overlay-sm.png") top left repeat;
    color: #000000;
    margin:10px;

}

td {
    margin-left: 10px;
}

th a {
    color: #000000;
}

#tabpage1{
     background: transparent url("images/overlay-sm.png") top left repeat;
}



#footer {
    background: url("images/overlay-sm.png") top left repeat;
    border: 1px red;
    padding: 5px;
    margin-top: 5px;
    -moz-border-radius-bottomleft: 25px;
    border-radius-bottomleft: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -khtml-border-radius-bottomleft: 25px;
    -moz-border-radius-bottomright: 25px;
    border-radius-bottomright: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -khtml-border-radius-bottomright: 25px;
}

#footer a {
    color: red;
}

#breadcrumbs {
    font-size: 80%;
    font-family: Verdana;
    padding-left: 10px;
    padding-bottom:5px;
    margin-top: 45px;
    background: url("images/overlay-sm.png") top left repeat;
    border: none;
    height: 28px;
}


/*
    Modify the base menu styles
*/
#menu {
    margin-left: 0;
}
/* The top menu bar */
#menu>ul>li {
    background: url("images/overlay-sm.png") top left repeat;
    padding-left: 5px;
    border: 1px solid white;
    margin-right: 5px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;

}
/* The top bar with the mouse over */
#menu>ul>li a:hover{
    background: url("images/overlay-sm.png") top left repeat;
    border: none;
    /*border: 1px solid silver;*/
    padding-left: 5px;
    margin-left: -5px;
    margin-right: 0px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

/*
#menu>ul>li:hover>a, #menu>ul>li:hover>a:hover, #menu {
    color: #FFF;
	-moz-border-radius: 8px;
    border-radius: 8px;
}
*/
#menu img {
    /*padding-top: 5px;*/
}

/* The dropdown menu */
#menu li ul {
    background: url("images/overlay70.png") top left repeat;
    border: 1px solid silver;
    padding: 1px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    line-height: 100%;
    font-size: 80%;
    width: 180px;
}

#menu li {
    border: 1px solid transparent;
    margin-bottom: 2px;
    margin-top: 3px;
}

/* Dropdown with the mouse over it */
#menu li ul li:hover a:hover{
    background: #FFFFCC;
    border: none;
    height: 22px;
    margin-left: 0px;
    padding: 0px;
}






form.inplaceeditor-form { /* The form */
 margin-left: 10px;
   margin-right: 10px;
   padding-left: 20px;
	-moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
   background-color: white;
}

form.inplaceeditor-form input[type="text"] { /* Input box */
}

form.inplaceeditor-form textarea { /* Textarea, if multiple columns */
}

form.inplaceeditor-form input[type="submit"] { /* The submit button */
  margin-left:1em;
}

form.inplaceeditor-form a { /* The cancel link */
  margin-left:1em;
}

form.inplaceeditor-saving {
	background: url(../_common/icons/loader.gif) bottom right no-repeat;
}

/*
    Styles for odd/even table rows.
*/
td.odd {
     background: url("images/overlay-sm.png") top left repeat;
}

td.even {
     background: url("images/overlay50.png") top left repeat;
}

th.heading {
    background: url("images/overlay70.png") top left repeat;
}

/************ For the stories module *********/
.abstract {
    margin-bottom: 10px;
}

/*
    The featurebox that wraps around content
    in stories on prelogin / postlogin
*/
#middleblocks .featurebox {
    border: none;
}

.allstories {
    backgroun: red;
}

.storytitle h3 {
    background: url("images/overlay25.png") top left repeat;
    margin-top: -11px;
    margin-left: -8px;
    margin-right: 100px;
    margin-bottom: 15px;
    border: none;
    border-bottom: solid white 1px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top:10px;
    padding-bottom: 5px;
    width: 100%;
    border-radius-topleft: 30px;
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    -khtml-border-radius-topleft: 30px;
    border-radius-topright: 30px;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    -khtml-border-radius-topright: 30px;
}

.storytitle h3 img {
    margin-right: 10px;
    vertical-align: middle;
}

.storyauthor {
    background: url("images/overlay25.png") top left repeat;
    margin-bottom: 0px;
    margin-left: -8px;
    margin-right: -5px;
    padding-left: 15px;
    height: 30px;
    width: 100%;
    text-align: center;
    -moz-border-radius-bottomleft: 30px;
    border-radius-bottomleft: 30px;
    -webkit-border-radius-bottomleft: 30px;
    -khtml-border-radius-bottomleft: 30px;
    -moz-border-radius-bottomright: 30px;
    border-radius-bottomright: 30px;
    -webkit-border-radius-bottomright: 30px;
    -khtml-border-radius-bottomright: 30px;
}

.currentstory {
    background: url("images/overlay25.png") top left repeat;
    /*margin-top: -5px;*/
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;
    border: solid white 1px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top:10px;
    padding-bottom: 0px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
}

.currentstory p {
    line-height: 160%;
}

/** Warning text **/
p.warning {
    color: brown;
}



/************ news stories tabs *************/

/*

Styles for the Modern Brick Menu
Credits: Dynamic Drive CSS Library
http://www.dynamicdrive.com/style/csslibrary/item/modern-bricks-menu/

*/

#modernbricksmenu{
    padding: 0;
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
}

#modernbricksmenu ul{
    margin:0;
    margin-left: 40px; /*margin between first menu item and left browser edge*/
    padding: 0;
    list-style: none;
}

#modernbricksmenu li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    text-transform:uppercase;
}

#modernbricksmenu a{
    float: left;
    display: block;
    color: black;
    margin: 0 1px 0 0; /*Margin between each menu item*/
    padding: 5px 10px;
    text-decoration: none;
    letter-spacing: 1px;
    background: url("images/overlay-sm.png") top left repeat;
    border: none;
}

#modernbricksmenu a:hover{
    background: url("images/overlay-sm.png") top left repeat;
    border: none;
    border-color: blue; /*Blue color theme*/
    color: blue;
}

#modernbricksmenu #current a{ /*currently selected tab*/
	background: url("images/overlay50.png") top left repeat;
	border: none;
	border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;
        border-radius-topright: 5px;
	-moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
	-khtml-border-radius-topright: 5px;
}

#modernbricksmenu #current a:hover {
    color: red;
}

#modernbricksmenuline{
    clear: both;
    padding: 0;
    width: 100%;
    height: 5px;
    line-height: 5px;
    background: url("images/overlay-sm.png") top left repeat;
    border: none;
}

/** The image that represents the story in main view **/
img.storyimage {
    margin-right:10px;
}

/* ---    END - Styles for the Modern Brick Menu ---*/

/** Wiki specific styles **/
#ratingDiv {
    background: url("images/overlay25.png") top left repeat;
    padding: 5px;
}

#ratingTabnav1 {
    background: url("images/overlay25.png") top left repeat;
}

#input_value {
    background: url("images/overlay-sm.png") top left repeat;
    width: 160px;
    margin-top:-8px;
    margin-bottom:5px;
}

.WCHhider {
    background: url("images/overlay-sm.png") top left repeat;
    width: 170px;
}

/** Discussion forum specific styles */

/** Discussion forum specific styles */

.forumBlock legend {
    background: url("images/overlay70.png") top left repeat;
    border: solid white 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.forumBlock {
    margin-bottom: 5px;
}

.newForumContainer {
    background: transparent url("images/overlay-sm.png") top left repeat;
    border: 1px solid white;
    -moz-border-radius-bottomleft: 25px;
    border-radius-bottomleft: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -khtml-border-radius-bottomleft: 25px;
    -moz-border-radius-bottomright: 25px;
    border-radius-bottomright: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -khtml-border-radius-bottomright: 25px;
}

.newForumTopic {
    background:transparent url("images/overlay50.png") top left repeat;

}

.newForumContent {
    background: transparent;
    border-top: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.allforums {
    background: url("images/overlay-sm.png") top left repeat;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    margin-bottom: 12px;
}
.allforums thead {
    background: transparent;
}

.allforums th {
    border: 0;
    border-bottom: solid 1px white;
}

.allforums tr.odd {
    background: transparent;
}

.allforums tr.even {
    background: transparent;
}

fieldset.forumBlock legend {
    margin-top: 10px;
}

.forum_administration:before {

}

/** Twitter module blocks styles **/
.query {
  font-family: Arial, serif;
  font-size: 80%;
  color: #085258;
  margin-left:20px;
}
.query .tweet_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.query .tweet_list li {
    overflow: auto;
    padding: .5em;
}
.query .tweet_list li a {
    color: #0C717A;
}

.query .tweet_list .tweet_even {
    background: url("images/overlay50.png") top left repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    margin-top:2px;
    margin-bottom:2px;
}

.query .tweet_list .tweet_odd {
    background: url("images/overlay-sm.png") top left repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    margin-bottom:2px;
    margin-top:2px;
}

.query .tweet_list .tweet_avatar {
  padding-right: .5em;
  float: left;
}
.query .tweet_list .tweet_avatar img {
  vertical-align: middle;
}

#myLastTweet {
  font-family: Arial, serif;
  font-size: 80%;
  color: #085258;
}

/** Twitter related tweets **/

div.related-tweets {
    background: transparent;
    padding: 2px;
}

div.rrt-inner ul{
    background: transparent;
    padding: 2px;
    margin-left: 19px;
}

div.rrt-inner li {
    background: transparent;
    padding:2px;
}

/** Fix latest 10 blog block */

#lastten p {
  font-family: Arial, serif;
  font-size: 90%;
  margin-top: -7px;
}

#lastten p:before {
    content:url(images/bullet.png);
    margin-right: 3px;
}

#lastten p .minute {
  font-family: Arial, serif;
  font-size: 70%;
  margin-left:10px;
}

/** Fix latest post for forum */
/*@todo*/

/** Fix up personal blocks **/

.middleblock {
    background: url("images/overlay25.png") top left repeat;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
    border: solid white 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
}

/** Fix up some photogallery styles */

#albums .album {
    background: url("images/overlay25.png") top left repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.imagethumb {
    height: 130px;
}

.imagethumb a {
    background: url("images/overlay25.png") top left repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.imagethumb a:visited {
    background: url("images/overlay50.png") top left repeat;
}
/* The layer that the thumbs are displayed into */
#main2 {
    background: url("images/overlay-sm.png") top left repeat;
    padding-left: 20px;
    margin-bottom: -30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
}

.pagelist {
    margin-bottom: -40px;
}

.imgnav {
    padding:5px;
    border: none;
    background:transparent;
    margin-bottom: 0px;
}

/** Fix up userparamsadmin stuff **/
#tabPage1 {
    background:transparent;
    margin-right: 30px;
}

/**

Ext javascript styles
It will be quite complicated to do this in the skin

*/
.x-panel-body {
    background: url("images/overlay-sm.png") top left repeat;
    border: 1px solid silver;
    -moz-border-radius-bottomleft: 5px;
    border-radius-bottomleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius-bottomright: 5px;
    -webkit-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
}

.x-panel-header {

}

/**
For the blog blocks displayed as a middle block
**/
.blogpreview {
    background: url("images/overlay-sm.png") top left repeat;
    height: 250px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    padding: 10px;
    overflow: auto;
}

.blogpreviewtitle {
    font-weight:bold;
    margin-bottom: 6px;
}

.blogpreviewuser {
    margin-top: 8px;
    color:navy;
    font-size: 80%;
}

.blogpreviewpostdate {
    color:grey;
    font-size: 90%;
}

/**

CMS styles to be fixed up for this skin

NOTE=======
THIS IS DEBUGGING CODE. IF YOU USE THIS SKIN WITH CMS
DELETE THIS

**/

#cmscontent {
        z-index:-99;
        position: static;
}

#cmsnavigation {
    border: 10px solid red;
}

#superfishmenu {
    border: 10px solid blue;

}

.sf-with-ul {
    border: 10px solid green;
    position: static;
        z-index:99;
}

.sf-with-ul a {
    border: 10px solid yellow;
}

.sf-sub-indicator {
    border: 10px solid pink;
}

#leftmenu{
	float:left;
}

/*
For facebook connect button
*/
#RES_ID_fb_login_image {
    padding-top: 20px;
    margin-bottom: 4px;
    margin-left: 18px;
}

/**
For the login button on the login block
**/
.loginbuttonwrap{
    margin-top: 5px;
    margin-left:-3px;
}


/**
For the wall module
**/
ol.timeline{
    list-style:none;
    font-size:1.2em;
}
ol.timeline li {
    display:none;position:relative;
    padding:.7em 0 .6em 0;
    border-bottom:1px dashed #000;
    line-height:1.1em;
    background-color:#D3E7F5;
    height:55px;
    width:499px;
}
ol.timeline li:first-child {
    border-top:1px dashed #000;
}

/**
Homepage styles
**/
#homepagestats {
    background: url("images/overlay-sm.png") top left repeat;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    padding: 10px;
    overflow: auto;
}

/**
Can we wrap standard forms so they can be styled?
**/
.standard_form {
    background: url("images/overlay-sm.png") top left repeat;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    padding: 10px;
    padding-top:25px;
    overflow: auto;
}

/**
Userparamsadmin
**/
#input_pname {
    width: 200px;
}
#input_ptag {
    width: 400px;
}

/**
Errors and warnings
**/
.warning {
    color: blue;
}
.warning:before {
    content:url(images/warning-icon.png);
    margin-right: 8px;
    vertical-align: top;
    float: left;

}
.error {
    color: red;
    margin-bottom: 20px;
}
.error:before {
    content:url(images/error-icon.png);
    margin-right: 8px;
    vertical-align: top;
    float: left;
}

/**
Limit characters - for example in Twitter box
**/
.charlimit {
    color:red;
}

/**
Skin chooser dropdown
**/
#input_skinlocation {
    background: url("images/overlay-sm.png") top left repeat;
    width: 170px;
}

/**
Creative commons file license selectors
**/

#input_creativecommons_fileupload1,
#input_creativecommons_fileupload2,
#input_creativecommons_fileupload3 {
    background: url("images/overlay-sm.png") top left repeat;
    width: 170px;
}

/**
File create folder
**/
form#form_createfolder{
    background: url("images/overlay-sm.png") top left repeat;
    padding: 20px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
}


/**
A set of standard classes for use in content
**/
.red {
    background: red;
    color: white;
    padding: 5px;
}

.blue {
    background: blue;
    color: white;
    padding: 5px;
}

.black {
    background: black;
    color: white;
    padding: 5px;
}

.white {
    background: white;
    color: black;
    padding: 5px;
}

.transparent {
    background: url("images/overlay-sm.png") top left repeat;
    padding: 5px;
}

/* Blog retweet button */
a.retweet {
    position: relative;
    top: 5px;
}

/*
Module catalogue specific
*/
.moduleupdate {
    background: url("images/overlay-sm.png") top left repeat;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
}
.modcatdesc {
    margin-left: 25px;
}
.floatright {
    float: right;
}

/*
eLearning styles
*/
#form_createcontext, #form_updateplugins table {
    background: url("images/overlay-sm.png") top left repeat;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
}
#navigation {
    margin-left: 0px;
}



/*
Fix stupid confirm class used for chapter titles
in navigation
*/
.htmlliststyle .confirm {
    background: transparent;
}

ul.htmlliststyle li {
    margin-left: -40px;
    background: transparent;
}

ul.htmlliststyle li:before {
    content:url(images/bullet.png);
    vertical-align: text-bottom;
    margin-right: 2px;
}

#paginationresults_pagenavigation_context,
#paginationresults_pagenavigation_all,
.chapterlisting, .addchapterform, .wrappedsegment,
.innerwrapper {
    background: url("images/overlay-sm.png") top left repeat;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
}
.outerwrapper {
    background: url("images/overlay25.png") top left repeat;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: -8px;
    margin-bottom: 15px;
    border: solid white 1px;
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
}
.outerwrapper h1 {
    margin-top: 8px;
    margin-bottom: 10px;
}
.adminadd, .modulehome, .adminedit, .admindelete, .adminicon {
    margin-top:5px;
    margin-right:4px;
    margin-left:10px;
    width: 16px;
    height: 16px;
    float: left;
}
.adminadd {
    background: transparent url("images/icons/add.png") no-repeat;
}
.adminedit {
    background: transparent url("images/icons/edit.png") no-repeat;
}
.admindelete {
    background: transparent url("images/icons/delete.png") no-repeat;
}
.modulehome {
    background: transparent url("images/icons/modulehome.png") no-repeat;
}
.adminicon {
    background: transparent url("images/icons/admin.png") no-repeat;
}

/* chapter title when editing / adding */
.chaptertitle, .coursetitle {
    font-style: italic;
    color: #666666;
}
.addchapterform h1 {
    margin-top: -10px;
    margin-bottom: 15px;
}


/* For thumbnails in canvas manager */
.canvasthumb {
    width: 160px;
    height: 160px;
    padding: 5px;
    margin: 5px;
    vertical-align:top;
    background: grey;
    float: left;
    border-radius: 5px;
    border: 1px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.canvasthumb img {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/******   ALL RESETS FOR SPECIFIC SELECTORS ********/
.colorbox h3 {
    background: transparent;
    margin:0;
    border:0;
    outline:0;
    padding: 0;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
}

hr {
    color: #999999;
    height: 5px;
}


.myList {
   list-style: none;
   margin: 0;
   padding: 0;
}
.myList li {
   float: left;
}

.unreadmail {
    color: red;
}


.externalcontent {
    border:1px solid #A2A2A2;
    background: #F0F0F0;
}

/***
Styles for the Chisimba wall module
*/
.clear {
    clear:both;
}
.wall_wrapper {
    width:448px;
    margin:0 auto;
    text-align:left;
}
#updateBox {
    background-color:#F2F2F2;
    border:1px solid #B5B5B5;
    padding:4px;
}
.wallpost {
    width:98%;
    height:70px;
    border-color:#7C7C7C #C3C3C3 #DDDDDD;
    border-style:solid;
    border-width:1px;
}

.shareBtn {
    background:#3b5998;
    float:right;
    color:#ffffff;
    font-weight:bold;
    border:0;
    padding:4px;
    margin-top:2px;
}
.msg {
    min-height:38px;height:auto!important;height:38px;_height:38px;
    margin-top:8px;
    margin-bottom:8px;
    /*border-bottom:1px solid #B5B5B5;
    padding-bottom:4px;*/
    color: #666666;
    font-size:13px;
}

.wall_post_info {
    margin-top:8px;
    margin-bottom:8px;
    border-bottom:1px solid #B5B5B5;
    padding-bottom:4px;
    color: #999999;
    font-size:13px;
}

.wallpostrow {
    margin-top: 15px;
}

.msg a {
    color:#3B5998;
    text-decoration:none;
}

.msg a:hover {
    text-decoration:underline;
}

.wallposter {
    font-weight: bold;
}

.small_user_image {
    float: left;
    height: 35px;
    width: 35px;
    margin-right:5px;
    margin-bottom: 5px;
}

a.delpost {
    float: right;
}

.delpost:hover {
    background-color: yellow;
    text-decoration: none;
}

.pgthumbimage {
    vertical-align: middle;
}


/** For the wall comments ***/

.wall_comment_author a {
    color: #3b5998;
    font-weight: bold;
    text-decoration: none;
}

.wall_comment_when {
    color: #666666;
    padding-top: 8px;
}

.wall_comment_button a {
    color: #999999;
}

.wall_comments_top {
    background: url('images/comment-top.png');
    width: 395px;
    height: 10px;
    background-repeat: no-repeat;
    margin: 0px;
    margin-top: -10px;
    margin-left: 35px;
}

.wall_comments_bottom {
    height: 0px;
}

ol.wall_replies {
    list-style:none;
    font-size:1.2em;
    margin-top: 0px;
    width: 390px;
}

ol.wall_replies li{
    position:relative;
    padding:5px;
    margin-top: 0px;
    margin-left: -5px;
    border-bottom:1px solid #f7f7f7;
    line-height:1.1em;
    background-color: #edeff4;
    color:#808080;
    font-size:11px;
}
ol.wall_replies li:first-child {
    /*border-top:1px dashed #000;*/
}
ol.wall_replies li:last-child {
    margin-bottom: -8px;
}

.wall_panel
{
    padding-left: 35px;
    margin-bottom: 20px;
    display:none;
}

.comment_submit {
    background:#3b5998;
    color:#ffffff;
    font-weight:bold;
    border:0;
    padding:4px;
    margin-top:2px;
}

a.wall_delcomment {
    float: right;
    margin-left: 8px;
    margin-bottom: 8px;
}

.wall_comments_more {
    position:relative;
    padding: 2px;
}

.tb_comments_more {
    width:100%;
    padding-right:15px;
}

a.wall_comments_more,
a.wall_comments_more:visited {
    color: #eceff6;
    background: #3b5998;
}

a.wall_comments_more:hover,
a.wall_comments_more:visited:hover {
    color: #eceff6;
    background: red;
}

/** When you get older wall posts via ajax **/
.wall_post_append {
    background: #fff9d7;
    margin-top: 10px;
    padding-bottom: 20px;
}

/** For the latest photogallery images */
.pgthumbnail {
    background-color: #000000;
    height: 75px;
    width: 100px;
    float: left;
    margin: 2px;
    vertical-align: middle;
}

/** For the myprofile module, including friends block */

.myprofile_friends_wrapper {

}

ul.myprofile_friends {
    list-style:none;
}

ul.myprofile_friends li.myprofile_friend {
    position: relative;
    float: left;
    width: 80px;
    height: 160px;
    margin: 5px;
    background: transparent;
    text-align: center;

}

ul.myprofile_friends li.myprofile_friend a,
ul.myprofile_friends li.myprofile_friend a:visited{
    color: #3b5998;
    background: transparent;
}

.userimage_cropped {
    width: 80px;
    height: 100px;
    overflow: hidden;
    background: black;
    text-align: center;
    margin-bottom: -15px;
}

/** For the login block **/
#input_password {
    background: #F8F8F8;
    border: 1px solid #D8D8D8;
}

#input_username {
    background: #F8F8F8 ;
    border: 1px solid #D8D8D8;
}

/* The tweet button */
.tweet_button {
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
}

/** Stuff for simpleblog **/
.simpleblog_view_wall, .hidewall a, .hidewall a:visited, .hidewall a:hover {
    background:#3b5998;
    color:#ffffff;
    font-weight:bold;
    border:0;
    padding:4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top:2px;

}

.simpleblog_wall_comments {
    color: #3b5998;
    text-decoration: none;
    margin-left: 40px;
}