/*
    This is the Canvas skin for Chisimba. It is based on the
    CAZPIX skin by Paul Scott, and the metallic skin from which
    this skin was directly derived. It uses the skin engine version
    2 for Chisimba, and implements the canvas model as proposed
    by Derek Keats.

    Author: Derek Keats
    License: GPL V2

    This is a metallic derived skin, so lets just import it to avoid
    having to maintain it twice.
    
*/
@import "../metallic/stylesheet.css";

/*
    This is the site name. Set it to display:none if you
    use an image banner.
*/
h1#sitename {
    padding: 0px;
    position: absolute;
    top: 38px;
}

div#header div#search { 
    margin-top: 30px;
}