/*
 menu styles
 note: not all browsers render styles the same way so try out your style sheet
 in different browsers before publishing
*/

/* level 0 inner */
.m0l0iout {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	background-image: url(img/lev0_bg1.gif);
	text-decoration: none;
	text-align: left;
	margin: 4px 0 0 8px;
	color: #FFFFFF;
}
.m0l0iover {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	background-image: url(img/lev0_bg2.gif);
	text-decoration: underline;
	margin: 5px 0 0 8px;
	color: #FFFFFF;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	background-image: url(img/lev0_bg1.gif);
	border: 1px transparent;
	background-color: #2C5F93;
}
.m0l0oover {
	text-decoration : none;
	background-image: url(img/lev0_bg2.gif);
	background-color: #2C5F93;
	border: 1px transparent;
}

/* level 1 inner */
.m0l1iout {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	text-align: left;
	background-image: url(img/lev0_bg1.gif);
	margin: 4px 0 0 17px;
	color: #FFFFFF;
}
.m0l1iover {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	background-image: url(img/lev0_bg2.gif);
	margin: 4px 0 0 17px;
	color: #FFFFFF;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	background-color: #5286BB;
	background-image: url(img/lev0_bg1.gif);
	border: 1px transparent;
	padding: 0;
}
.m0l1oover {
	text-decoration : none;
	background-color: #1A4D81;
	background-image: url(img/lev1_arrow.gif);
	background-repeat: no-repeat;
	border: 1px transparent;
	padding: 0;
}