/* 
    Document   : main
    Created on : 06 Nov 2009, 2:13:36 PM
    Author     : Nguni
    Description: This is the main style sheet. Anything that can be applied universally
                 should be put in here.
*/

div#mainContent {
    border: 0px solid #000;
}

div#heading h1 {
    font-size: 16px;
    font-weight: bold;
}

div#searchpane, div#buttons {
    padding: 2em 0;
}

div#fi-form {
    padding-top: 2em;
}

div#error {
    font-weight: bold;
    font-size: 14px;
    color: #F00;
    padding-bottom: 1em;
    font-family: Arial,Helvetica,sans-serif;
}