body {font: 1em "Verdana", Arial, Tahoma, sans-serif;line-height: 2em; background:url("images/bg_gold.jpg") center top repeat-y; background-color:#444;}

/** general **/
fieldset {border:1px dashed #444; padding:4px 8px;}
p {font-size:1em !important; text-align:justify; margin-bottom:14px;}
fieldset {border:1px dashed #444; padding:4px 8px;}
hr {margin:4px 0px 40px 0px !important;}

h1 {font-size:1.3em; font-weight:bold} 
h2 {font-size:1.2em; font-weight:bold}
h3 {font-size:1.1em; font-weight:bold; color:#009900}

a {color:#CC9900;}
a:hover {color:#996600;}

/** outermost container **/
#container {margin:0px auto; background:#333; color:#FFF;}

/** header **/
#header {height:95px; background:url("images/banner.jpg") 10px 5px no-repeat; border-bottom:4px solid #FFF; padding-bottom:8px; margin-bottom:10px;}
#header h1#sitename a {color:transparent; display:block; height:95px; width:295px;}

/** middle area **/
#middlearea {margin-top:20px;}

/** left **/
#left, #right {font-size:0.85em; width:180px !important; padding-left:10px;}
#left select, #right select {font-size:0.95em;}
#left .featurebox, #right .featurebox {margin-bottom: 10px;}
#left .featurebox .featureboxheader, #right .featurebox .featureboxheader {
	background:url('images/bg_image.jpg') 0px 0px repeat; border-bottom:4px solid #CC9900; padding:0px 6px;}
#left .featurebox .featureboxheader img, #right .featurebox .featureboxheader img {margin:4px 0px -4px 0px}
#left .featurebox .featureboxcontent, #right .featurebox .featureboxcontent {background:#666; padding:4px 8px;}

#right {float:right !important; padding-right:10px;}
#left a:hover, #right a:hover {color:#CCC; border-bottom-color:#CCC;}

/** content **/
#content {margin:0px 202px !important;}





/** AFTER LOGIN **/

/** topmost menu **/

/** ---parents **/
#menu {background:#666; margin-top:12px; display:block; width:100%; padding:0px; border-bottom:2px solid #CC9900;}
#menu ul {float:left; width:auto; margin:0px 10px;}
#menu ul li {float:left; width:auto; margin-right:6px;}
#menu ul li a {color:#FFF; padding:0px 4px}
#menu ul li a:hover, #menu ul li:hover {color:#333; background:url('images/bg_image.jpg') 0px 0px repeat;}
#menu ul li:hover a:hover {border:none;}

/** ---first childs **/
#menu ul li ul {background:url('images/bg_image.jpg') 0px 0px repeat; left:-12px; border:none; border:2px solid #CC9900; border-top:none; padding-top:0px;}
#menu ul li ul li {border-bottom:1px solid #666; display:block; width:100%; padding:4px 0px; line-height:normal; font-size:11px; color:#333 !important;}
#menu ul li ul li a {color:#333 !important;}
#menu ul li ul li a:hover, #menu ul li ul li:hover, #menu ul li ul li:hover a:hover, #menu ul li ul li:hover a {border:none; background:#333; color:#FFF !important;}

/** tool icons list and breadcrumbs **/
#tooliconslist {float:right !important; clear:none;}
#breadcrumbs {float:left !important; clear:none; width:460px; background:url("images/bread_combs_curver.jpg") center bottom no-repeat; background-color:#666; margin-left:18px; padding:0px 20px; font-size:0.85em; color:#999; margin-bottom:20px;}

/** secondary navigation **/
#nav-secondary {background:url('images/bg_image.jpg') 0px 0px repeat; list-style:none; margin-bottom:10px; border:4px solid #CC9900; border-left:none; border-right:none;}
#nav-secondary li {border-bottom:1px solid #FFF; margin:3px 0px !important; width:100%;}
#nav-secondary li a {margin:0px 16px; text-transform:uppercase; text-decoration:none; color:#333; font-weight:bold;}
#nav-secondary li a:hover {color:#000; margin-left:24px;}

#footer {border-top:2px solid #FFF; top:20px; position:relative; background:#333; padding:6px 20px;}

.glossytabs {background:#666 !important; border-bottom:2px solid #CC9900; padding:0px !important;}
.glossytabs li.current a strong, .glossytabs li.current a {background:#666 !important;}
.glossytabs li a:hover, .glossytabs li:hover, .glossytabs a strong:hover,.glossytabs a:hover strong {background:#666 !important; color:#CC9900;}
